::-webkit-scrollbar {
  background-color: transparent;
  cursor: default;
  width: 1rem;
  height: 1rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--silver-500);
  background-clip: padding-box;
  border: 0.25rem solid transparent;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--silver-500);
}

body {
  &::-webkit-scrollbar-corner {
    background-color: var(--blue-900);
  }
}

.scrolled-content {
  overflow-y: scroll;
  overflow-x: hidden;
  height: auto;
  margin-right: -2rem;

  &::-webkit-scrollbar {
    width: 2rem;
  }

  &::-webkit-scrollbar-thumb {
    border: 0.8rem solid transparent;
  }
}
