* {
    font-family: SF-Pro-Rounded, sans-serif;
    font-size: 1.8rem;
    line-height: 1.2;
}

body {
    color: var(--main-text);
    font-weight: 400;
}

h1 {
    font-size: 3.6rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 2rem;
}
