app-contacts {
  .wrap-table {
    table.contacts-table {
      thead {
        tr {
          th:last-child {
            max-width: 14rem;
          }
        }
      }

      tbody {
        tr {
          td {
            &:last-child {
              width: 14rem;
              min-width: fit-content;
            }

            .button-wrapper {
              button {
                margin-right: 0.8rem;

                &:last-child {
                  margin-right: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
