<div class="scrolled-content" fxFlex="1 1 auto">
    <form (ngSubmit)="beforeSubmit()" [formGroup]="form" class="form" role="form">
        <!-- Destinations -->
        <zano-destinations
            (onAdd)="addDestination()"
            (onRemove)="removeDestination($event)"
            [formArrayRef]="form.controls.destinations"
        ></zano-destinations>

        <!-- Comment -->
        <zano-comment-field *ngIf="!form.controls.comment.disabled"
                            [controlRef]="form.controls.comment"></zano-comment-field>

        <!-- Additional Details -->
        <zano-additional-details [(show)]="is_show_additional_details" [formRef]="form"
                                 class="block mb-2"></zano-additional-details>

        <button [disabled]="is_submit_disabled" class="primary big max-w-19-rem w-100" type="submit">
            {{ 'SEND.BUTTON' | translate }}
        </button>
    </form>
</div>

<app-send-modal
    (confirmed)="handleConfirmed($event)"
    *ngIf="is_send_modal_state"
    [transfer_params]="getTransferParams()"
></app-send-modal>

<app-send-details-modal
    (event_close)="handeCloseSendDetailsModal($event)"
    *ngIf="is_send_details_modal_state"
    [job_id]="job_id"
></app-send-details-modal>
