<div class="modal">
  <h3 class="title mb-2">{{ 'SEND_DETAILS_MODAL.TITLE1' | translate }}</h3>

  <div class="status mb-2">

    <div class="image">
      <img *ngIf="isSentSuccess" src="assets/icons/transaction_success.svg" alt="success">
    </div>

    <div class="image">
      <img *ngIf="isSentFailed" class="image" src="assets/icons/transaction_failed.svg" alt="failed">
    </div>

    <ng-container *ngIf="!isSentSuccess && !isSentFailed">
      <div class="loader"></div>
      <p class="text mt-2"
         *ngIf="(currentActionState$ | async)">{{ 'TOR_LIB_STATE' + '.' + (currentActionState$ | async)?.status | translate }}
        ...</p>
    </ng-container>
  </div>

  <div class="details mb-2">
    <div class="header" (click)="toggleDetails()">
      <p class="title mr-2">{{ 'SEND_DETAILS_MODAL.TITLE2' | translate }}</p>
      <button class="btn-arrow" [class.rotate-180]="stateDetails$ | async">
        <img src="assets/icons/arrows/stroke/arrow_down.svg" alt="arrow">
      </button>
    </div>
    <ul class="detail-list scrolled-content" *ngIf="stateDetails$ | async">
      <li class="item" *ngFor="let action of (actionsList$ | async); let last = last; trackBy: trackBy">
        <span
          class="text mr-1">{{ 'TOR_LIB_STATE' + '.' + action?.status | translate }}{{ last && !isSentSuccess && !isSentFailed ? '...' : '' }}</span>
        <ng-container *ngIf="!last;">
          <img *ngIf="isSuccess(action) && !isFailed(action)" class="image" src="assets/icons/check_with_blue_bg.svg"
               alt="success">

          <img *ngIf="!isSuccess(action) && isFailed(action)" class="image" src="assets/icons/transaction_failed.svg"
               alt="failed">
        </ng-container>

        <ng-container *ngIf="last;">
          <img *ngIf="last && isSentSuccess && !isSentFailed" class="image"
               src="assets/icons/check_with_blue_bg.svg" alt="success">

          <img *ngIf="last && !isSentSuccess && isSentFailed" class="image"
               src="assets/icons/transaction_failed.svg" alt="failed">
        </ng-container>
      </li>
    </ul>
  </div>

  <button class="blue-button" [disabled]="!isSentSuccess && !isSentFailed" (click)="close.emit()">{{ 'Ok' | translate }}</button>
</div>
