.wrap {
    border: var(--border);

    .title {
        color: var(--azure-500);

        .icon {
            width: 2rem;
            height: 2rem;
            float: right;
        }
    }

    .text-wrap {
        margin: 1.5rem;
        font-size: 1.5rem;
    }

    table tr {
        background-color: transparent;

        td:first-child {
            width: 22.5rem;
            padding-left: 0;
        }
    }
}
