:host {
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: row;
}

.container {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
}

.actions {
    display: flex;
    flex-direction: column;
    width: 19rem;
}
