<fieldset class="form__field fixed">
    <label for="asset-select">
        {{ 'SEND.ASSET' | translate }}
        <span class="color-red">*</span>
    </label>

    <ng-select
        [bindValue]="'asset.asset_info.asset_id'"
        [clearable]="false"
        [formControl]="form.controls.asset_id"
        [items]="items$ | async"
        [searchable]="false"
        aria-describedby="asset-select-error"
        class="custom-select with-circle"
        id="asset-select"
    >
        <ng-template let-item="item" ng-label-tmp ng-option-tmp>
            <ng-container *ngIf="item.asset">
                <div class="text-ellipsis">
                    <div [innerHTML]="item.asset.asset_info | getLogoByAssetInfo" class="token-logo"></div>
                    {{ item.asset.asset_info.full_name ?? '***' }}

                    <ng-container *appVisibilityBalance>
                        ({{ item.asset.total | intToMoney : item.asset.asset_info.decimal_point }} {{ item.asset.asset_info.ticker }})
                    </ng-container>
                </div>
            </ng-container>
        </ng-template>
    </ng-select>

    <div *ngIf="form.controls.asset_id | isVisibleControlError" aria-live="assertive" class="error" id="asset-select-error">
        <div *ngIf="form.controls.asset_id.hasError('required')">
            {{ 'ERRORS.REQUIRED' | translate }}
        </div>
    </div>
</fieldset>
