.form-details {
  margin-top: 3.5rem;

  .input-block {
    &:first-child {
      width: 50%;
    }
  }

  .wallet-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      margin: 2.9rem 0;
      width: 100%;
      max-width: 15rem;
    }
  }
}
.wrap-buttons {
  display: flex;
  margin-bottom: 2rem;

  .copy-button {
    width: 20rem;
  }
}

.mt-2 {
  margin-top: 2rem;
}
