<div class="history-wrap"
	 fxLayout="column"
	 fxFlexFill>
	<div class="wrap-table scrolled-content mb-2"
		 fxFlex="1 1 auto">
		<table class="history-table">
			<thead>
			<tr #head
				(window:resize)="calculateWidth()">
				<th>
					<div class="bg title">{{ 'HISTORY.STATUS' | translate }}</div>
				</th>
				<th>
					<div class="bg title">{{ 'HISTORY.AMOUNT' | translate }}</div>
				</th>
				<th>
					<div class="bg title">{{ 'HISTORY.FEE' | translate }}</div>
				</th>
				<th>
					<div class="bg title">{{ 'HISTORY.ADDRESS' | translate }}</div>
				</th>
				<th>
					<div class="bg title">{{ 'HISTORY.DATE' | translate }}</div>
				</th>
			</tr>
			<div class="row-divider"></div>
			</thead>
			<tbody>
			<ng-container *ngFor="let item of variablesService.currentWallet.history">
				<tr (click)="openDetails(item.tx_hash)"
					[class.locked-transaction]="!item.is_mining && item.unlock_time > 0">
					<td>
						<div class="status text-ellipsis"
							 fxLayout="row"
							 fxLayoutAlign=" center"
							 [ngClass]="item.is_income ? 'received' : 'send'">
							<ng-container *ngIf="getHeight(item) < 10">
								<svg class="confirmation mr-1"
									 style="transform: rotateZ(-90deg)"
									 tooltip="{{ 'HISTORY.STATUS_TOOLTIP' | translate : {'current': getHeight(item), 'total': 10} }}"
									 placement="bottom-left"
									 tooltipClass="table-tooltip"
									 [delay]="500">
									<circle stroke-dasharray="100"
											fill="transparent"
											stroke-dashoffset="0"
											cx="50%"
											cy="50%"
											stroke="rgba(31, 143, 235, 0.33)"
											r="0.7rem"
											stroke-width="0.3rem">
									</circle>
									<circle class="progress-circle"
											cx="50%"
											cy="50%"
											[style.stroke]="item.is_income ? '#16d1d6' : '#1f8feb'"
											r="0.7rem"
											fill="transparent"
											stroke-width="0.3rem"
											stroke-dasharray="4.5rem"
											stroke-dashoffset="4.5rem"
											stroke-linecap="round"
											[style.stroke-dashoffset]="strokeSize(item)"></circle>
								</svg>
							</ng-container>
							<ng-container *ngIf="getHeight(item) === 10">
								<img *ngIf="!item.is_income"
									 class="status-transaction mr-1"
									 src="assets/icons/blue/send.svg"
									 alt="">
								<img *ngIf="item.is_income"
									 class="status-transaction mr-1"
									 src="assets/icons/aqua/receive.svg"
									 alt="">
							</ng-container>
							<span
								class="status-transaction-text">{{ (item.is_income ? 'HISTORY.RECEIVED' : 'HISTORY.SEND') | translate }}</span>
							<ng-container *ngIf="item.unlock_time !== 0 && item.tx_type !== 6">
								<ng-container *ngIf="isLocked(item); else unlock">
									<ng-container *ngIf="item.unlock_time < 500000000">
										<i class="icon lock-transaction mr-1"
										   tooltip="{{ 'HISTORY.LOCK_TOOLTIP' | translate : {'date': time(item) | date : 'MM.dd.yy'} }}"
										   placement="bottom-left"
										   tooltipClass="table-tooltip"
										   [delay]="500"
										   [class.position]="variablesService.height_app - item.height < 10 || item.height === 0 && item.timestamp > 0"></i>
									</ng-container>
									<ng-container *ngIf="item.unlock_time > 500000000">
										<i class="icon lock-transaction mr-1"
										   tooltip="{{ 'HISTORY.LOCK_TOOLTIP' | translate : {'date': item.unlock_time * 1000 | date : 'MM.dd.yy'} }}"
										   placement="bottom-left"
										   tooltipClass="table-tooltip"
										   [delay]="500"
										   [class.position]="variablesService.height_app - item.height < 10 || item.height === 0 && item.timestamp > 0"></i>
									</ng-container>
								</ng-container>
								<ng-template #unlock>
									<i class="icon unlock-transaction mr-1"
									   [class.position]="variablesService.height_app - item.height < 10 || item.height === 0 && item.timestamp > 0"></i>
								</ng-template>
							</ng-container>
						</div>
					</td>
					<td>
						<div class="text-ellipsis">
                              <span *ngIf="item.sortAmount && item.sortAmount.toString() !== '0'">
                                  {{item.sortAmount | intToMoney}}
								  {{variablesService.defaultCurrency}}
                              </span>
						</div>
					</td>
					<td>
						<div class="text-ellipsis">
                            <span *ngIf="item.sortFee && item.sortFee.toString() !== '0'">
                                {{item.sortFee | intToMoney}}
								{{variablesService.defaultCurrency}}
                            </span>
						</div>
					</td>
					<td class="remote-address">
						<ng-container class="text-ellipsis" *ngIf="!(item.tx_type === 0); else walletOrAliases">
							<span
								*ngIf="!(item.tx_type === 0 && item.remote_addresses && item.remote_addresses[0])">
								{{item | historyTypeMessages}}
							</span>
						</ng-container>
						<ng-template #walletOrAliases>
							<div class="text-ellipsis"
								 *ngIf="item.tx_type === 0 && item.remote_addresses && item.remote_addresses[0] && !item.remote_aliases?.[0]?.trim()?.length">
								<span
									(contextmenu)="variablesService.onContextMenuOnlyCopy($event, item.remote_addresses[0])">
                                	{{ item.remote_addresses[0] | slice:0:6 }}
									...{{ item.remote_addresses[0] | slice:-6 }}
                            	</span>
							</div>
							<ng-container *ngIf="item.remote_aliases && item.remote_aliases?.[0]?.trim()?.length">
								<div fxLayout="row wrap">
									<ng-container *ngFor="let alias of item.remote_aliases">
										<ng-container *ngIf="alias && alias.length">
											<div fxLayout="row inline"
												 class="alias"
												 [class.available]="alias.length >= 1 && alias.length <= 5"
												 [class.mr-0_5]="item.remote_aliases.length >= 2"
												 [class.mb-0_5]="item.remote_aliases.length >= 2"
												 (contextmenu)="variablesService.onContextMenuOnlyCopy($event, '@' + alias)">
												{{ '@' + alias }}
											</div>
										</ng-container>
									</ng-container>
								</div>
							</ng-container>
						</ng-template>
						<ng-container *ngIf="!(item.remote_addresses?.length || item.remote_aliases?.length)">
							{{ 'Hidden' | translate }}
						</ng-container>
					</td>
					<td>
						<div class="text-ellipsis">
							{{item.timestamp * 1000 | date : 'dd-MM-yyyy HH:mm'}}
						</div>
					</td>
				</tr>
				<div class="row-divider"></div>
				<tr class="details"
					[class.open]="item.tx_hash === openedDetails">
					<td colspan="5">
						<app-transaction-details *ngIf="item.tx_hash === openedDetails"
												 [transaction]="item"
												 [sizes]="calculatedWidth"></app-transaction-details>
					</td>
				</tr>
				<div class="row-divider"
					 [class.hide]="item.tx_hash !== openedDetails"></div>
			</ng-container>
			</tbody>
		</table>
	</div>
	<div class="pagination-wrapper">
		<div class="pagination"
			 fxLayout="row"
			 fxLayoutAlign="space-between center">
			<div class="left"
				 fxLayout="row"
				 fxLayoutAlign=" center">
				<button class="btn-icon circle small mr-1"
						[disabled]="variablesService.currentWallet.currentPage === 1 || variablesService.sync_started || wallet"
						(click)="setPage(variablesService.currentWallet.currentPage - 1)">
					<i class="icon arrow-left-stroke"></i>
				</button>

				<ng-container *ngIf="!mining">
					<button *ngFor="let page of variablesService.currentWallet.pages"
							[class.color-primary]="variablesService.currentWallet.currentPage === page"
							class="mr-0_5"
							(click)="setPage(page)">{{page}}</button>
				</ng-container>

				<ng-container *ngIf="mining">
					<button class="mr-0_5"
							[ngClass]="{ 'color-primary': variablesService.currentWallet.currentPage, 'disabled': variablesService.sync_started || wallet}"
							[disabled]="stop_paginate || variablesService.sync_started || wallet"
							(click)="setPage(variablesService.currentWallet.currentPage)">
						{{variablesService.currentWallet.currentPage}}
					</button>
				</ng-container>

				<button class="btn-icon circle small ml-0_5"
						[disabled]="stop_paginate || variablesService.sync_started || wallet"
						(click)="setPage(variablesService.currentWallet.currentPage + 1)">
					<i class="icon arrow-right-stroke"></i>
				</button>
			</div>
			<div class="right"
				 fxLayout="row"
				 fxLayoutAlign=" center">
				<span class="switch-text mr-2">Hide mining transactions</span>
				<app-switch [value]="mining"
							[disabled]="variablesService.sync_started || !!wallet"
							(emitChange)="toggleMiningTransactions()"></app-switch>
			</div>
		</div>
	</div>
</div>
