:host {
  width: 100%;
}

.wrap-table {
  table {
    thead {
      tr {
        td {
        }
      }
    }
    tbody {
      font-weight: 500;
      tr {
        td {
          min-width: 10rem;
        }

        .status {
          position: relative;
          display: flex;
          align-items: center;

          .confirmation {
            margin-right: 0.7rem;
            width: 1.6rem;
            height: 1.6rem;
          }

          .lock-transaction {
            mask: url(../../assets/icons/lock-transaction.svg) no-repeat center;
            margin-left: 0.7rem;
            width: 1.4rem;
            height: 1.4rem;
            background-color: #fff;
          }

          .unlock-transaction {
            mask: url(../../assets/icons/unlock-transaction.svg) no-repeat center;
            margin-left: 0.7rem;
            width: 1.4rem;
            height: 1.4rem;
            background-color: #fff;
          }

          img.status-transaction {
            margin-right: 0.7rem;
            width: 1.4rem;
            height: 1.4rem;
          }
        }

        .remote-address {
          span {
            display: inline-block;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        &:not(.transaction-details) {
          cursor: pointer;
        }

        &.transaction-details {
          -webkit-transition: 0.5s height linear, 0s font-size;
          transition: 0.5s height linear, 0s font-size;
          transition-delay: 0s, 0.5s;
          height: 0;

          &.open {
            height: 18rem;
          }

          td {
            border-radius: 2rem;
            position: relative;
            overflow: hidden;
            line-height: inherit;
            padding-top: 0;
            padding-bottom: 0;
          }
        }
      }
    }
  }
}
