<div class="history-wrap">
    <div class="wrap-table mb-2">
        <table class="history-table">
            <thead>
            <tr #head
                (window:resize)="calculateWidth()">
                <th>{{ 'HISTORY.STATUS' | translate }}</th>
                <th>{{ 'HISTORY.AMOUNT' | translate }}</th>
                <th>{{ 'HISTORY.FEE' | translate }}</th>
                <th>{{ 'HISTORY.ADDRESS' | translate }}</th>
                <th>{{ 'HISTORY.DATE' | translate }}</th>
            </tr>
            <div class="row-divider"></div>
            </thead>
            <tbody>
            <ng-container *ngFor="let item of variablesService.currentWallet.history">
                <tr (click)="openDetails(item.tx_hash)"
                    [class.locked-transaction]="!item.is_mining && item.unlock_time > 0">
                    <td>
                        <div class="status text-ellipsis"
                             [ngClass]="item.is_income ? 'received' : 'send'">
                            <ng-container *ngIf="getHeight(item) < 10">
                                <svg class="confirmation mr-1"
                                     style="transform: rotateZ(-90deg)"
                                     tooltip="{{ 'HISTORY.STATUS_TOOLTIP' | translate : {'current': getHeight(item), 'total': 10} }}"
                                     placement="bottom-left"
                                     tooltipClass="table-tooltip"
                                     [delay]="500">
                                    <circle stroke-dasharray="100"
                                            fill="transparent"
                                            stroke-dashoffset="0"
                                            cx="50%"
                                            cy="50%"
                                            stroke="rgba(31, 143, 235, 0.33)"
                                            r="0.7rem"
                                            stroke-width="0.3rem">
                                    </circle>
                                    <circle class="progress-circle"
                                            cx="50%"
                                            cy="50%"
                                            [style.stroke]="item.is_income ? '#16d1d6' : '#1f8feb'"
                                            r="0.7rem"
                                            fill="transparent"
                                            stroke-width="0.3rem"
                                            stroke-dasharray="4.5rem"
                                            stroke-dashoffset="4.5rem"
                                            stroke-linecap="round"
                                            [style.stroke-dashoffset]="strokeSize(item)"></circle>
                                </svg>
                            </ng-container>
                            <ng-container *ngIf="getHeight(item) === 10">
                                <img *ngIf="!item.is_income"
                                     class="status-transaction mr-1"
                                     src="assets/icons/blue/send.svg"
                                     alt="">
                                <img *ngIf="item.is_income"
                                     class="status-transaction mr-1"
                                     src="assets/icons/aqua/receive.svg"
                                     alt="">
                            </ng-container>
                            <span class="status-transaction-text">{{ (item.is_income ? 'HISTORY.RECEIVED' : 'HISTORY.SEND') | translate }}</span>
                            <ng-container *ngIf="item.unlock_time !== 0 && item.tx_type !== 6">
                                <ng-container *ngIf="isLocked(item); else unlock">
                                    <ng-container *ngIf="item.unlock_time < 500000000">
                                        <i class="icon lock-transaction mr-1"
                                           tooltip="{{ 'HISTORY.LOCK_TOOLTIP' | translate : {'date': time(item) | date : 'MM.dd.yy'} }}"
                                           placement="bottom-left"
                                           tooltipClass="table-tooltip"
                                           [delay]="500"
                                           [class.position]="variablesService.height_app - item.height < 10 || item.height === 0 && item.timestamp > 0"></i>
                                    </ng-container>
                                    <ng-container *ngIf="item.unlock_time > 500000000">
                                        <i class="icon lock-transaction mr-1"
                                           tooltip="{{ 'HISTORY.LOCK_TOOLTIP' | translate : {'date': item.unlock_time * 1000 | date : 'MM.dd.yy'} }}"
                                           placement="bottom-left"
                                           tooltipClass="table-tooltip"
                                           [delay]="500"
                                           [class.position]="variablesService.height_app - item.height < 10 || item.height === 0 && item.timestamp > 0"></i>
                                    </ng-container>
                                </ng-container>
                                <ng-template #unlock>
                                    <i class="icon unlock-transaction mr-1"
                                       [class.position]="variablesService.height_app - item.height < 10 || item.height === 0 && item.timestamp > 0"></i>
                                </ng-template>
                            </ng-container>
                        </div>
                    </td>
                    <td>
                        <div class="text-ellipsis">
                              <span *ngIf="item.sortAmount && item.sortAmount.toString() !== '0'">
                                  {{item.sortAmount | intToMoney}}
                                  {{variablesService.defaultCurrency}}
                              </span>
                        </div>
                    </td>
                    <td>
                        <div class="text-ellipsis">
                            <span *ngIf="item.sortFee && item.sortFee.toString() !== '0'">
                                {{item.sortFee | intToMoney}}
                                {{variablesService.defaultCurrency}}
                            </span>
                        </div>
                    </td>
                    <td class="remote-address">
                        <div class="text-ellipsis">
                            <span *ngIf="!(item.tx_type === 0 && item.remote_addresses && item.remote_addresses[0])">{{item | historyTypeMessages}}</span>
                            <span *ngIf="item.tx_type === 0 && item.remote_addresses && item.remote_addresses[0]"
                                  (contextmenu)="variablesService.onContextMenuOnlyCopy($event, item.remote_addresses[0])">{{item.remote_addresses[0]}}</span>
                        </div>
                    </td>
                    <td>
                        <div class="text-ellipsis">
                            {{item.timestamp * 1000 | date : 'dd-MM-yyyy HH:mm'}}
                        </div>
                    </td>
                </tr>
                <div class="row-divider"></div>
                <tr class="details"
                    [class.open]="item.tx_hash === openedDetails">
                    <td colspan="5">
                        <app-transaction-details *ngIf="item.tx_hash === openedDetails"
                                                 [transaction]="item"
                                                 [sizes]="calculatedWidth"></app-transaction-details>
                    </td>
                </tr>
                <div class="row-divider"
                     [class.hide]="item.tx_hash !== openedDetails"></div>
            </ng-container>
            </tbody>
        </table>
    </div>
    <div class="pagination-wrapper">
        <div class="pagination">
            <div class="left">
                <button class="btn-icon circle small mr-1"
                        [disabled]="variablesService.currentWallet.currentPage === 1 || variablesService.sync_started || wallet"
                        (click)="setPage(variablesService.currentWallet.currentPage - 1)">
                    <i class="icon arrow-left-stroke"></i>
                </button>

                <ng-container *ngIf="!mining">
                    <button *ngFor="let page of variablesService.currentWallet.pages"
                            [class.active]="variablesService.currentWallet.currentPage === page"
                            class="mr-0_5"
                            (click)="setPage(page)">{{page}}</button>
                </ng-container>

                <ng-container *ngIf="mining">
                    <button class="mr-0_5"
                            [ngClass]="{ 'active': variablesService.currentWallet.currentPage, 'disabled': variablesService.sync_started || wallet}"
                            [disabled]="stop_paginate || variablesService.sync_started || wallet"
                            (click)="setPage(variablesService.currentWallet.currentPage)">
                        {{variablesService.currentWallet.currentPage}}
                    </button>
                </ng-container>

                <button class="btn-icon circle small ml-0_5 "
                        [disabled]="stop_paginate || variablesService.sync_started || wallet"
                        (click)="setPage(variablesService.currentWallet.currentPage + 1)">
                    <i class="icon arrow-right-stroke"></i>
                </button>
            </div>
            <div class="right">
                <span class="switch-text mr-2">Hide mining transactions</span>
                <app-switch [value]="mining"
                            [disabled]="variablesService.sync_started || !!wallet"
                            (emitChange)="toggleMiningTransactions()"></app-switch>
            </div>
        </div>
    </div>
</div>
