<div class="destinations">
    <ng-container *ngFor="let form of formArray.controls; let index = index; let first = first; let last = last">
        <zano-destination
            (onRemove)="remove(index)"
            (onDuplicate)="duplicate($event)"
            [formRef]="form"
            [hideRemove]="formArray.controls.length < 2"
            [hideDuplicate]="formArray.hasError('max_destinations')"
            [index]="index"
        ></zano-destination>

        <mat-divider *ngIf="!last"></mat-divider>
    </ng-container>

    <ng-container *ngIf="formArray.invalid">
        <div *ngIf="formArray.hasError('max_destinations')" class="error mb-2">
            {{ 'SEND.FORM_ERRORS.MAX_DESTINATIONS' | translate: { max: formArray.getError('max_destinations').max } }}
        </div>
    </ng-container>

    <ng-container [ngTemplateOutlet]="addDestinationTemplate"></ng-container>
</div>

<ng-template #addDestinationTemplate>
    <button
        (click)="add()"
        [disabled]="formArray.hasError('max_destinations') || formArray.controls.length >= 31"
        class="add-destination-button"
        type="button"
    >
        <mat-icon svgIcon="zano-plus"></mat-icon>
        {{ 'ADD_DESTINATION.TEXT1' | translate }}
        <mat-icon [matTooltip]="'ADD_DESTINATION.TEXT2' | translate" aria-haspopup="true" svgIcon="zano-info" tabindex="0"></mat-icon>
    </button>
</ng-template>
