<div class="page-container">

    <div class="toolbar mb-2">
        <div class="left">
            <button type="button"
                    class="btn-icon circle big mr-2"
                    (click)="back()">
                <i class="icon dropdown-arrow-left"></i>
            </button>
            <h1>{{ 'BREADCRUMBS.ADD_WALLET' | translate }}</h1>
        </div>
        <div class="right"></div>
    </div>

    <div class="page-content">
        <div class="scrolled-content">
            <div class="add-wallet flex flex__justify-center flex flex__align-center w-100">
                <div class="wrap-controls max-w-38-rem">
                    <h4 class="mb-2">{{ 'MAIN.TITLE' | translate }}</h4>

                    <button type="button"
                            class="primary big w-100 mb-1"
                            [routerLink]="['/create']">
                        {{ 'MAIN.BUTTON_NEW_WALLET' | translate}}
                    </button>

                    <button type="button"
                            class="primary big w-100 mb-1"
                            (click)="openWallet()">{{ 'MAIN.BUTTON_OPEN_WALLET' | translate
                        }}</button>

                    <button type="button"
                            class="outline big w-100 mb-2"
                            [routerLink]="['/restore']">{{ 'MAIN.BUTTON_RESTORE_BACKUP' |
                          translate
                        }}</button>

                    <p class="flex flex__justify-center flex flex__align-center cursor-pointer"
                       (click)="openInBrowser()">
                        <i class="icon question-circle mr-1"></i>
                        <span class="color-primary">{{ 'MAIN.HELP' | translate }}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
