<div class="success-sweep-bare-outs-wrapper" fxFlex="0 1 54rem">
    <div class="wrapper w-100" fxFlex fxLayout="column">
        <h3 class="title mb-2" fxFlex="0 0 auto">
            {{ 'SEND_DETAILS_MODAL.TITLE1' | translate }}
        </h3>

        <div class="content mb-2 overflow-x-hidden overflow-y-auto" fxFlex="1 1 auto" fxLayout="column">
            <div class="status mb-2" fxFlex="0 0 auto" fxLayout="column" fxLayoutAlign="center center">
                <div class="image">
                    <img alt="success" src="assets/icons/aqua/transaction_success.svg" />
                </div>

                <p class="color-primary mt-2">
                    {{ 'TOR_LIB_STATE.STATE_SENT_SUCCESS' | translate }}
                </p>
            </div>

            <div class="details border-radius-0_8-rem overflow-hidden" fxFlex="0 0 auto" fxLayout="column">
                <div
                    (click)="toggleDetails()"
                    class="header overflow-hidden py-1 px-2 w-100 cursor-pointer"
                    fxLayout="row"
                    fxLayoutAlign="space-between center"
                    [ngStyle]="{ 'border-radius': (stateDetails$ | async) ? '0.8rem 0.8rem 0 0' : '0.8rem' }"
                >
                    <p class="title text-ellipsis mr-2">
                        {{ 'SEND_DETAILS_MODAL.TITLE2' | translate }}
                    </p>
                    <button fxLayout="row" fxLayoutAlign="center center">
                        <mat-icon svgIcon="zano-dropdown-arrow-down" [ngClass]="{
                                'rotate-180': stateDetails$ | async
                            }"></mat-icon>
                    </button>
                </div>
                <div
                    [class.px-2]="stateDetails$ | async"
                    [class.py-1]="stateDetails$ | async"
                    [fxHide]="!(stateDetails$ | async)"
                    [ngStyle]="{ 'border-radius': (stateDetails$ | async) ? '0 0 0.8rem 0.8rem ' : '0' }"
                    class="details-wrapper"
                    fxFlex="1 1 auto"
                    fxLayout="row"
                >
                    <ul class="details-list scrolled-content">
                        <li class="item mb-1" fxLayout="row nowrap" fxLayoutAlign=" center">
                            <p>
                                {{
                                    'SUCCESS_SWEEP_BARE_OUTS.DETAILS'
                                        | translate
                                            : {
                                                  txs_sent: dialogData.txs_sent,
                                                  bare_outs_swept: dialogData.bare_outs_swept,
                                                  amount_swept: dialogData.amount_swept | intToMoney,
                                                  fee_spent: dialogData.fee_spent | intToMoney
                                              }
                                }}
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="controls" fxFlex="0 0 auto">
            <button class="primary big w-100" (click)="close()">
                {{ 'Ok' | translate }}
            </button>
        </div>
    </div>
</div>
