.wallet-synchronization {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 0.8rem;

    .progress-bar {
        border-radius: 1rem;
        flex: 1 0 auto;
        height: 0.4rem;
        overflow: hidden;

        .fill {
            height: 100%;
        }
    }

    .progress-percent {
        flex: 0 0 auto;
        font-size: 1.4rem;
        line-height: 1.2;
        padding-left: 1rem;
    }
}

.progress-bar {
    background-color: var(--gray-800);

    .fill {
        background-color: var(--white-500);
    }
}

::ng-deep {
    .light {
        .wallet {
            .progress-bar {
                background-color: #0c0c3a1a;

                .fill {
                    background-color: var(--aqua-500);
                }
            }

            &.active .progress-bar {
                .fill {
                    background-color: var(--white-500);
                }
            }
        }
    }
}
