<main class="page-container" aria-describedby="add-wallet-description">
    <p class="sr-only" id="add-wallet-description">
        {{ 'ACCESSIBILITY.ADD_WALLET.DESCRIPTIONS.DESCRIPTION1' | translate }}
    </p>

    <section class="toolbar mb-2">
        <div class="left">
            <app-back-button></app-back-button>
            <h1 class="ml-2" aria-live="assertive">{{ 'BREADCRUMBS.ADD_WALLET' | translate }}</h1>
        </div>
        <div class="right"></div>
    </section>

    <div class="page-content">
        <div class="scrolled-content" fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="center center">
            <section class="add-wallet w-100" fxLayout="row" fxLayoutAlign="center center">
                <div class="wrap-controls text-align-center max-w-38-rem">
                    <h4 class="mb-2">{{ 'MAIN.TITLE' | translate }}</h4>

                    <button [routerLink]="['/create']" appAutofocus class="primary big w-100 mb-1" role="link" type="button">
                        {{ 'MAIN.BUTTON_NEW_WALLET' | translate }}
                    </button>

                    <button (click)="openWallet()" class="primary big w-100 mb-1" type="button">
                        {{ 'MAIN.BUTTON_OPEN_WALLET' | translate }}
                    </button>

                    <button [routerLink]="['/restore']" class="outline big w-100 mb-2" role="link" type="button">
                        {{ 'MAIN.BUTTON_RESTORE_BACKUP' | translate }}
                    </button>

                    <button
                        (click)="openInBrowser($event)"
                        (keydown.enter)="openInBrowser($event)"
                        (keydown.space)="openInBrowser($event)"
                        [attr.aria-label]="'MAIN.HELP' | translate"
                        class="text-align-center cursor-pointer how-to-create mx-auto"
                        fxLayout="row"
                        fxLayoutAlign="center center"
                        type="button"
                        role="link"
                    >
                        <mat-icon class="mr-1" svgIcon="zano-question"></mat-icon>
                        <span class="color-primary">{{ 'MAIN.HELP' | translate }}</span>
                    </button>
                </div>
            </section>
        </div>
    </div>
</main>
