<div class="page-container">

	<div class="toolbar mb-2">
		<div class="left">
			<button (click)="back()"
							class="btn-icon circle big mr-2"
							type="button">
				<i class="icon dropdown-arrow-left"></i>
			</button>
			<h1>{{ 'CONTACTS.IMPORT_EXPORT' | translate }}</h1>
		</div>
		<div class="right"></div>
	</div>

	<div class="page-content">
		<div class="scrolled-content">
			<div class="controls flex">
				<button (click)="import()"
								class="primary big max-w-19-rem w-100 mr-1"
								type="button">
					{{ 'CONTACTS.IMPORT' | translate }}
				</button>
				<button (click)="export()"
								class="primary big max-w-19-rem w-100"
								type="button">
					{{ 'CONTACTS.EXPORT' | translate }}
				</button>
			</div>
		</div>
	</div>
</div>
