<section *ngIf="variablesService.current_wallet.loaded; else skeletonTemplate" fxFlexFill fxLayout="column">
    <div class="scrolled-content" fxFlex="1 1 auto">
        <table [attr.aria-label]="'ACCESSIBILITY.ASSETS.LABELS.LABEL1' | translate" class="zano-table assets-table">
            <thead>
                <tr>
                    <th scope="col">
                        <div class="bg title">
                            {{ 'ASSETS.TABLE.LABELS.NAME' | translate }}
                        </div>
                    </th>
                    <th scope="col">
                        <div class="bg title">
                            {{ 'ASSETS.TABLE.LABELS.BALANCE' | translate }}
                        </div>
                    </th>
                    <th scope="col">
                        <div class="bg title">
                            {{ 'ASSETS.TABLE.LABELS.VALUE' | translate }}
                        </div>
                    </th>
                    <th scope="col">
                        <div class="bg title">
                            {{ 'ASSETS.TABLE.LABELS.PRICE' | translate }}
                        </div>
                    </th>
                    <th style="width: 7rem" scope="col">
                        <div class="bg title">&nbsp;</div>
                    </th>
                </tr>
                <tr aria-hidden="true" class="row-divider"></tr>
            </thead>
            <tbody>
                <ng-container
                    *ngFor="
                        let balance of variablesService.current_wallet.balances$ | async | paginate : paginatePipeArgs;
                        trackBy: trackByAssets
                    "
                >
                    <tr
                        (click)="navigateToSend($event, balance)"
                        (keydown.enter)="navigateToSend($event, balance)"
                        (keydown.space)="navigateToSend($event, balance)"
                        [attr.aria-label]="
                            'ACCESSIBILITY.ASSETS.LABELS.LABEL6'
                                | translate
                                    : {
                                          full_name: balance.asset_info.full_name
                                      }
                        "
                        [delay]="250"
                        [placement]="'bottom'"
                        [timeDelay]="2500"
                        [tooltipClass]="'balance-tooltip'"
                        [tooltip]="getBalanceTooltip(balance)"
                        role="button"
                        tabindex="0"
                    >
                        <!--Name-->
                        <td>
                            <div class="cell-name">
                                <div [innerHTML]="balance.asset_info | getLogoByAssetInfo" aria-hidden="true" class="token-logo mr-2"></div>
                                <span class="text-ellipsis">
                                    <b>{{ balance.asset_info.full_name }}</b>
                                </span>
                            </div>
                        </td>

                        <!--Balance-->
                        <td>
                            <zano-cell-asset-balance [balance]="balance"></zano-cell-asset-balance>
                        </td>

                        <!--Value-->
                        <td>
                            <div class="text-ellipsis">
                                <b *appVisibilityBalance>
                                    <ng-container *ngIf="getViewBalanceData(balance) as viewBalanceData">
                                        {{ viewBalanceData.value }} {{ viewBalanceData.currency }}
                                    </ng-container>
                                </b>
                            </div>
                        </td>

                        <!--Price-->
                        <td>
                            <div class="text-ellipsis">
                                <ng-container *ngIf="getFiatPriceData(balance) as fiatPriceData">
                                    <b [matTooltip]="fiatPriceData.tooltipValue" class="mr-1" matTooltipShowDelay="1500">
                                        {{ fiatPriceData.value }} {{ fiatPriceData.currency }}
                                    </b>
                                    <span *ngIf="fiatPriceData.showChange" [ngClass]="fiatPriceData.changeClass">
                                        {{ fiatPriceData.change }} %
                                    </span>
                                </ng-container>
                            </div>
                        </td>

                        <!--Actions-->
                        <td class="text-align-end">
                            <button
                                (click)="$event.stopPropagation()"
                                (keydown.enter)="$event.stopPropagation()"
                                (keydown.space)="$event.stopPropagation()"
                                [attr.aria-label]="
                                    'ACCESSIBILITY.ASSETS.LABELS.LABEL5' | translate : { full_name: balance.asset_info.full_name }
                                "
                                [matMenuTriggerFor]="menu"
                                aria-haspopup="menu"
                                class="btn-icon circle row-options small"
                                type="button"
                            >
                                <mat-icon class="small" svgIcon="zano-row-options"></mat-icon>
                            </button>

                            <mat-menu #menu="matMenu" class="zano-mat-menu">
                                <button (click)="assetDetails(balance)" mat-menu-item type="button">
                                    <mat-icon svgIcon="zano-info-v2"></mat-icon>
                                    <span>{{ 'ASSETS.DROP_DOWN_MENU.ASSET_DETAILS' | translate }}</span>
                                </button>
                                <ng-container *ngIf="isWalletReady()">
                                    <button (click)="navigateToSend($event, balance)" mat-menu-item type="button">
                                        <mat-icon svgIcon="zano-send"></mat-icon>
                                        <span>{{ 'ASSETS.DROP_DOWN_MENU.SEND' | translate }}</span>
                                    </button>

                                    <ng-container *ngIf="variablesService.is_hardfok_active$ | async">
                                        <button [state]="{ asset: balance }" mat-menu-item routerLink="/wallet/create-swap" type="button">
                                            <mat-icon svgIcon="zano-swap"></mat-icon>
                                            <span>{{ 'ASSETS.DROP_DOWN_MENU.SWAP' | translate }}</span>
                                        </button>
                                    </ng-container>

                                    <ng-container *ngIf="isShowDeleteAsset(balance)">
                                        <button (click)="beforeRemoveAsset(balance)" mat-menu-item type="button">
                                            <mat-icon svgIcon="zano-delete"></mat-icon>
                                            <span>{{ 'ASSETS.DROP_DOWN_MENU.REMOVE_ASSET' | translate }}</span>
                                        </button>
                                    </ng-container>
                                </ng-container>
                            </mat-menu>
                        </td>
                    </tr>
                    <tr aria-hidden="true" class="row-divider"></tr>
                </ng-container>
            </tbody>
        </table>
    </div>

    <div class="assets-footer">
        <div class="pagination">
            <pagination-template
                *ngIf="isShowPagination()"
                [id]="paginatePipeArgs.id"
                [attr.aria-label]="'ACCESSIBILITY.PAGINATION.LABELS.LABEL1' | translate"
                (pageChange)="paginatePipeArgs.currentPage = $event"
                #p="paginationApi"
                class="ngx-pagination custom-pagination"
                tabindex="0"
            >
                <button
                    (click)="p.previous()"
                    [attr.aria-label]="'ACCESSIBILITY.PAGINATION.LABELS.LABEL2' | translate"
                    [disabled]="p.isFirstPage()"
                    class="pagination-previous btn-icon circle small mr-0_5"
                    tabindex="0"
                >
                    <mat-icon svgIcon="zano-arrow-left"></mat-icon>
                </button>

                <div *ngFor="let page of p.pages; trackBy: trackByIndex" [class.current]="p.getCurrent() === page.value" class="mr-0_5">
                    <a (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value" role="button" tabindex="0">
                        <span>{{ page.label }}</span>
                    </a>
                    <div *ngIf="p.getCurrent() === page.value" tabindex="0">
                        <span>{{ page.label }}</span>
                    </div>
                </div>

                <button
                    (click)="p.next()"
                    [attr.aria-label]="'ACCESSIBILITY.PAGINATION.LABELS.LABEL3' | translate"
                    [disabled]="p.isLastPage()"
                    class="pagination-next btn-icon circle small"
                    tabindex="0"
                >
                    <mat-icon svgIcon="zano-arrow-right"></mat-icon>
                </button>
            </pagination-template>
        </div>

        <div class="hide-empty-assets">
            <label class="mr-2">{{ 'ASSETS.HIDE_EMPTY' | translate }}</label>
            <app-switch
                (emitChange)="setHideEmptyAssets($event)"
                [value]="variablesService.current_wallet.settings.hideEmptyAssets"
            ></app-switch>
        </div>
    </div>
</section>

<ng-template #skeletonTemplate>
    <section class="overflow-hidden">
        <table [attr.aria-label]="'ACCESSIBILITY.ASSETS.LABELS.LABEL1' | translate" class="zano-table assets-table">
            <thead>
                <tr>
                    <th scope="col">
                        <div class="bg title">
                            {{ 'ASSETS.TABLE.LABELS.NAME' | translate }}
                        </div>
                    </th>
                    <th scope="col">
                        <div class="bg title">
                            {{ 'ASSETS.TABLE.LABELS.BALANCE' | translate }}
                        </div>
                    </th>
                    <th scope="col">
                        <div class="bg title">
                            {{ 'ASSETS.TABLE.LABELS.VALUE' | translate }}
                        </div>
                    </th>
                    <th scope="col">
                        <div class="bg title">
                            {{ 'ASSETS.TABLE.LABELS.PRICE' | translate }}
                        </div>
                    </th>
                    <th scope="col">
                        <div class="bg title">&nbsp;</div>
                    </th>
                </tr>
                <tr aria-hidden="true" class="row-divider"></tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let skeletonRow of skeletonRowsData; trackBy: trackByIndex">
                    <tr style="background: none">
                        <td colspan="5" style="padding: 0">
                            <div class="skeleton skeleton-table-row"></div>
                        </td>
                    </tr>
                    <tr aria-hidden="true" class="row-divider"></tr>
                </ng-container>
            </tbody>
        </table>
    </section>
</ng-template>
