// TODO update name color. Create palette for colors

:root {
  --defaul-border-color: #33426E;
  --defaul-border: 2px solid var(--defaul-border-color);
  --default-border-radius: 0.8rem;

  --chartOptionsBackgroundColor: #2b3644;
  --chartOptionsHoverColor: #556576;
  --tooltipBackgroundColor: #123673;
  --tooltipTextColor: rgba(255, 255, 255, 0.5);
  --tooltipImportantTextColor: #ff6f00;
  --tooltipImportantBackgroundColor: #5f2b11;
  --tooltipCriticalBackgroundColor: #5f1d1d;
  --tooltipShadow: 0 0 1rem rgba(0, 0, 0, 0.5);

  --red: #FF6767;
  --orange: #ff6f00;
  --green: #16D1D6;
  --main-text: #ffffff;
  --main-background: #0C0C3A;
  --darked-blue: #0C1243;
  --light-blue: #0F2055;
  --light-blue-details: #11316B;
  --light-blue-300: rgba(31, 143, 235, 0.3);
  --light-blue-150: rgba(31, 143, 235, 0.15);
  --color-scroll: #8898B5;
  --primary: #1F8FEB;
  --primary-hover: #1C72B9;
  --placeholder: rgba(255, 255, 255, 0.3);
  --light-gray: rgba(255, 255, 255, 0.2);
  --border-color: var(--light-gray);
  --backdrop-modal: rgba(0, 0, 0, 0.6);
  --border-color-not-empty: rgba(255, 255, 255, 0.5);
  --border: 0.15rem solid var(--border-color);
  --border-not-empty: 0.15rem solid var(--border-color-not-empty);
  --border-disabled: 0.15rem solid rgba(255, 255, 255, 0.2);
  --border-error: 0.15rem solid rgba(255, 103, 103, 0.75);
  --checked: #ffffff;
  --switchCircele: #ffffff;
  --switchCirceleBoxShadow: 0px 2.11765px 5.64706px rgba(0, 0, 0, 0.15), 0px 2.11765px 0.705882px rgba(0, 0, 0, 0.06);
  --ng-select-background: #11316B;
  --ng-select-border-disabled: 0.15rem solid var(--ng-select-background);
  --light-gray-background: rgba(255, 255, 255, 0.1);
  --seed-phrase-item-background: rgba(255, 255, 255, 0.4);
  --light-gray-background-hover: var(--light-gray-background);
  --accountActiveBackgroundColor: radial-gradient(100% 188.88% at 0% 0%, #16d1d6 0%, #274cff 100%);
  --accountWatchOnlyBorderColor: #9a69f7;
  --accountBackgroundColor: var(--light-blue);
  --accountAuditableBorderColor: #ffffff;
  --progressBarAccountActiveColor: rgba(255, 255, 255, 0.2);
}
