@font-face {
  font-family: SF-Pro-Rounded;
  src: url(~src/assets/fonts/SF-Pro-Rounded-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: SF-Pro-Rounded;
  src: url(~src/assets/fonts/SF-Pro-Rounded-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: SF-Pro-Rounded;
  src: url(~src/assets/fonts/SF-Pro-Rounded-Semibold.ttf);
  font-weight: 600;
}
