.light {
    --main-background: #F0F6FB;
    --page-content-background: #FCFCFC;
    --sidebar-background: #FCFCFC;
    --tab-content-background: #FCFCFC;
    --tab-preloader-background: #FCFCFC;
    --tab-preloader-text: var(--blue-900);
    --tab-header-background: #D9EBFA;
    --tab-header-active-background: #FCFCFC;
    --main-text: var(--blue-900);
    --button-color: var(--blue-900);
    --synchronization-status-color: var(--blue-900);

    --auth-card-background: #FCFCFC;
    --auth-card-form-background: #FFFFFF;
    --auth-card-form-border: 1px solid #1F8FEB33;

    // field
    --input-color: var(--blue-900);
    --input-placeholder: #0C0C3A4D;
    --border: 1px solid #1F8FEB66;
    --border-not-empty: 1px solid #1F8FEB99;
    --border-disabled: 1px solid #1F8FEB66;
    --border-error: 1px solid var(--red-600);

    // switch
    --switch-on-background: var(--aqua-500);
    --switch-off-background: #0C0C3A1A;
    --switch-circle-background: var(--white-500);

    //wallet
    --wallet-background: #1F8FEB26;
    --wallet-active-background: var(--gradietAquaToBlue);
    --wallet-border: 0.2rem solid #1F8FEB00;
    --wallet-border-color-hover: #1F8FEB;
    --wallet-auditable-watch-only-background: radial-gradient(100% 246.57% at 0% 0%, rgba(163, 102, 255, 0.75) 0%, rgba(96, 31, 255, 0.75) 100%);
    --wallet-auditable-active-background: var(--gradietAmethystToPurpurle);
    --wallet-watch-only-active-background: var(--gradietAmethystToPurpurle);
    --wallet-watch-only-after-background: #dbecf9;
    --wallet-watch-only-text: var(--blue-900);
    --wallet-active-text: #FFFFFF;
    --wallet-text: var(--blue-900);
}
.dark {
    --main-background: var(--blue-900);
    --page-content-background: var(--blue-700);
    --sidebar-background: var(--blue-700);
    --tab-content-background: var(--blue-700);
    --tab-preloader-background: var(--blue-700);
    --tab-preloader-text: #FFFFFF;
    --tab-header-background: var(--blue-800);
    --tab-header-active-background: var(--blue-700);
    --main-text: var(--white-500);
    --button-color: var(--white-500);
    --synchronization-status-color: var(--white-500);

    --auth-card-background: var(--blue-700);
    --auth-card-form-background: var(--blue-500);
    --auth-card-form-border: 1px solid transparent;

    // field
    --input-color: var(--white-500);
    --input-placeholder: var(--gray-800);
    --border: 1px solid var(--gray-800);
    --border-not-empty: 1px solid var(--gray-500);
    --border-disabled: 1px solid var(--gray-800);
    --border-error: 1px solid var(--red-600);

    // switch
    --switch-on-background: var(--aqua-500);
    --switch-off-background: var(--gray-800);
    --switch-circle-background: var(--white-500);

    //wallet
    --wallet-background: var(--blue-500);
    --wallet-active-background: var(--gradietAquaToBlue);
    --wallet-border: 0.2rem solid var(--blue-500);
    --wallet-border-color-hover: var(--gray-800);
    --wallet-auditable-watch-only-background: var(--gradietLightAmethystToPurpurle);
    --wallet-auditable-active-background: var(--gradietAmethystToPurpurle);
    --wallet-watch-only-active-background: var(--gradietAmethystToPurpurle);
    --wallet-watch-only-after-background: var(--blue-500);
    --wallet-watch-only-text: #FFFFFF;
    --wallet-active-text: #FFFFFF;
    --wallet-text: #FFFFFF;
}
