<div class="synchronization-status overflow-hidden"
     [ngStyle]="{'align-items': variablesService.daemon_state === 1 || variablesService.daemon_state === 6 ? 'flex-start' : 'center'}">
    <div class="status-container">
        <div class="offline"
             *ngIf="variablesService.daemon_state === 0">
            <span>{{ 'SIDEBAR.SYNCHRONIZATION.OFFLINE' | translate }}</span>
        </div>
        <div class="syncing text-ellipsis"
             *ngIf="variablesService.daemon_state === 1">
            {{ 'SIDEBAR.SYNCHRONIZATION.SYNCING' | translate }}
            {{ variablesService.sync.progress_value_text }}%
        </div>
        <div class="online"
             *ngIf="variablesService.daemon_state === 2">
            <span>{{ 'SIDEBAR.SYNCHRONIZATION.ONLINE' | translate }}</span>
        </div>
        <div class="loading"
             *ngIf="variablesService.daemon_state === 3">
            {{ 'SIDEBAR.SYNCHRONIZATION.LOADING' | translate }}
        </div>
        <div class="offline"
             *ngIf="variablesService.daemon_state === 4">
            {{ 'SIDEBAR.SYNCHRONIZATION.ERROR' | translate }}
        </div>
        <div class="online"
             *ngIf="variablesService.daemon_state === 5">
            {{ 'SIDEBAR.SYNCHRONIZATION.COMPLETE' | translate }}
        </div>
        <div class="syncing text-ellipsis"
             *ngIf="variablesService.daemon_state === 6">
            {{ 'SIDEBAR.SYNCHRONIZATION.DOWNLOADING' | translate }}
            {{ variablesService.download.progress_value_text }}%
        </div>

        <div class="progress-bar-container"
             *ngIf="variablesService.daemon_state === 1 || variablesService.daemon_state === 3">
            <div class="syncing"
                 *ngIf="variablesService.daemon_state === 1">
                <div class="progress-bar">
                    <div class="fill"
                         [style.width]="variablesService.sync.progress_value + '%'"></div>
                </div>
            </div>
            <div class="loading"
                 *ngIf="variablesService.daemon_state === 3"></div>
        </div>

        <div class="progress-bar-container"
             *ngIf="variablesService.daemon_state === 6">
            <div class="syncing downloading"
                 *ngIf="variablesService.daemon_state === 6">
                <div class="progress-bar">
                    <div class="fill"
                         [style.width]="variablesService.download.progress_value + '%'"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="update-container"
         *ngIf="(variablesService.daemon_state === 0 || variablesService.daemon_state === 2) && [2, 3, 4].indexOf(variablesService.last_build_displaymode) !== -1">
        <ng-container *ngIf="variablesService.last_build_displaymode === 2">
            <div class="update-text standard">
                <span [style.cursor]="'pointer'"
                      (click)="getUpdate()">{{ 'SIDEBAR.UPDATE.STANDARD' | translate }}</span>
            </div>
            <i class="icon update standard"
               tooltip="{{ 'SIDEBAR.UPDATE.STANDARD_TOOLTIP' | translate }}"
               placement="right-bottom"
               tooltipClass="update-tooltip"
               [delay]="500"></i>
        </ng-container>

        <ng-container *ngIf="variablesService.last_build_displaymode === 3">
            <div class="update-text important">
                <span [style.cursor]="'pointer'"
                      (click)="getUpdate()">{{ 'SIDEBAR.UPDATE.IMPORTANT' | translate }}</span>
                <span style="font-size: 1rem">{{ 'SIDEBAR.UPDATE.IMPORTANT_HINT' | translate }}</span>
            </div>
            <i class="icon update important"
               tooltip="{{ 'SIDEBAR.UPDATE.IMPORTANT_TOOLTIP' | translate }}"
               placement="right-bottom"
               tooltipClass="update-tooltip important"
               [delay]="500"></i>
        </ng-container>

        <ng-container *ngIf="variablesService.last_build_displaymode === 4">
            <div class="update-text critical">
                <span [style.cursor]="'pointer'"
                      (click)="getUpdate()">{{ 'SIDEBAR.UPDATE.CRITICAL' | translate }}</span>
                <span style="font-size: 1rem">{{ 'SIDEBAR.UPDATE.IMPORTANT_HINT' | translate }}</span>
            </div>
            <i class="icon update critical"
               tooltip="{{ 'SIDEBAR.UPDATE.CRITICAL_TOOLTIP' | translate }}"
               placement="right-bottom"
               tooltipClass="update-tooltip critical"
               [delay]="500"></i>
        </ng-container>
    </div>

    <div class="update-container"
         *ngIf="variablesService.daemon_state === 2 && variablesService.net_time_delta_median !== 0">
        <div class="update-text time-orange">
            <span>{{ 'SIDEBAR.UPDATE.TIME' | translate }}</span>
        </div>
        <i class="icon time-orange"
           tooltip="{{ 'SIDEBAR.UPDATE.TIME_TOOLTIP' | translate }}"
           placement="right-bottom"
           tooltipClass="update-tooltip important"
           [delay]="500"></i>
    </div>
</div>
