:host {
    display: inline-flex;
}

.asset-tag {
    color: white;
    padding: 0.4rem 0.5rem;
    border-radius: 0.5rem;
    font-size: 1.1rem;
    font-weight: 600;

    &__native {
        background: var(--gradientAquaToBlue);
    }

    &__whitelisted {
        background: var(--gradientCyanToTurquoise);
    }
}
