<table class="zano-table" role="table">
    <tbody>
        <tr role="row">
            <td>{{ 'HISTORY.DETAILS.ID' | translate }}</td>
            <td
                (click)="openInBrowser($event, transaction.tx_hash)"
                (contextmenu)="variablesService.onContextMenuOnlyCopy($event, transaction.tx_hash)"
                (keydown.enter)="openInBrowser($event, transaction.tx_hash)"
                (keydown.space)="openInBrowser($event, transaction.tx_hash)"
                class="color-primary cursor-pointer"
                colspan="2"
                role="button"
                tabindex="0"
            >
                {{ transaction.tx_hash }}
            </td>
            <td>{{ 'HISTORY.DETAILS.SIZE' | translate }}</td>
            <td>
                {{ 'HISTORY.DETAILS.SIZE_VALUE' | translate : { value: transaction.tx_blob_size } }}
            </td>
        </tr>
        <tr role="row">
            <td>{{ 'Asset ID' | translate }}</td>
            <td class="color-primary cursor-pointer" colspan="2">
                <ng-container *ngFor="let asset_id of getAllUniqAssetId(transaction)">
                    <p
                        (click)="assetDetails(asset_id)"
                        (contextmenu)="variablesService.onContextMenuOnlyCopy($event, asset_id)"
                        class="text-ellipsis"
                    >
                        {{ asset_id }}
                    </p>
                </ng-container>
            </td>
            <td>{{ 'HISTORY.DETAILS.CONFIRMATION' | translate }}</td>
            <td>
                {{ transaction.height === 0 ? 0 : variablesService.height_app - transaction.height }}
            </td>
        </tr>
        <tr role="row">
            <td>{{ 'HISTORY.DETAILS.HEIGHT' | translate }}</td>
            <td colspan="2">{{ transaction.height }}</td>
            <td colspan="2"></td>
        </tr>
        <tr role="row">
            <td>{{ 'HISTORY.DETAILS.PAYMENT_ID' | translate }}</td>
            <td colspan="4">
                <ng-container
                    *ngFor="let subtransferByPid of transaction.subtransfers_by_pid; let last = last; trackBy: trackBySubtransferByPid"
                >
                    <ng-container *ngIf="subtransferByPid.payment_id">
                        <span (contextmenu)="variablesService.onContextMenuOnlyCopy($event, subtransferByPid.payment_id)">
                            {{ subtransferByPid.payment_id }}
                        </span>
                        <ng-container *ngIf="!last">,</ng-container>
                    </ng-container>
                </ng-container>
            </td>
        </tr>
        <tr role="row">
            <td>{{ 'HISTORY.DETAILS.COMMENT' | translate }}</td>
            <td
                (contextmenu)="variablesService.onContextMenuOnlyCopy($event, transaction.comment)"
                [matTooltip]="transaction.comment"
                aria-readonly="true"
                colspan="4"
                matTooltipPosition="above"
                matTooltipShowDelay="1500"
                role="textbox"
                tabindex="0"
            >
                {{ transaction.comment }}
            </td>
        </tr>
    </tbody>
</table>
