app-contacts {
  .wrap-table {
    display: flex;
    flex: auto;
    overflow-x: hidden;
    overflow-y: auto;

    table.contacts-table {
      thead {
        tr {
          th:last-child {
            max-width: 14rem;
          }
        }
      }

      tbody {
        tr {
          td {
            &:last-child {
              width: 14rem;
              min-width: fit-content;
            }

            .button-wrapper {
              button {
                margin-right: 0.8rem;

                &:last-child {
                  margin-right: 0;
                }
              }
            }
          }
        }
      }
    }
  }

  .empty-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

