:host {
    width: fit-content;
}

.add-another-destination-button {
    color: var(--azure-500);

    & > mat-icon {
        &:first-child {
            margin-right: 0.8rem;
        }
        &:last-child {
            margin-left: 0.8rem;
        }
    }
}
