<div [class.visibility]="this.leftDisabled" class="left">
	<button (click)="$event.stopPropagation(); actionScroll(Direction.left)" class="btn-left">
		<i class="icon arrow-left-slider"></i>
	</button>
</div>
<div #scrollMenu
		 (mousedown)="$event.stopPropagation(); startDragging($event)"
		 (mouseleave)="$event.stopPropagation(); stopDragging()"
		 (mousemove)="$event.stopPropagation(); mouseMove($event)"
		 (mouseup)="$event.stopPropagation(); stopDragging()"
		 (scroll)="onScroll()"
		 [class.hide-scroll]="hideScroll"
		 [class.smooth]="scrollSmooth"
		 class="scroll hide-scroll">
	<div #scrollContent class="scroll-content scroll-delay">
		<ng-content></ng-content>
	</div>
</div>
<div [class.visibility]="this.rightDisabled" class="right">
	<button (click)="$event.stopPropagation(); actionScroll(Direction.right)" class="btn-right">
		<i class="icon arrow-right-slider"></i>
	</button>
</div>
