<div class="left" [class.visibility]="this.leftDisabled">
	<button class="btn-left" (click)="$event.stopPropagation(); actionScroll(Direction.left)">
		<i class="icon arrow-left-slider"></i>
	</button>
</div>
<div class="scroll hide-scroll"
		 [class.hide-scroll]="hideScroll"
		 [class.smooth]="scrollSmooth"
		 #scrollMenu
		 (scroll)="onScroll()"
		 (mousedown)="$event.stopPropagation(); startDragging($event)"
		 (mouseup)="$event.stopPropagation(); stopDragging()"
		 (mouseleave)="$event.stopPropagation(); stopDragging()"
		 (mousemove)="$event.stopPropagation(); mouseMove($event)">
	<div class="scroll-content scroll-delay" #scrollContent>
		<ng-content></ng-content>
	</div>
</div>
<div class="right" [class.visibility]="this.rightDisabled">
	<button class="btn-right" (click)="$event.stopPropagation(); actionScroll(Direction.right)">
		<i class="icon arrow-right-slider"></i>
	</button>
</div>
