<div class="no-wallet-wrapper flex flex__justify-center flex__align-center w-100 h-100">
    <div class="card max-w-42-rem max-h-100 w-100 p-2 border-radius-0_8-rem bg-light-blue overflow-x-hidden overflow-y-auto">

        <div class="logo flex flex__justify-center mb-3">
            <img src="assets/icons/blue/zano-logo.svg"
                 alt="zano-logo">
        </div>

        <h4 class="mb-2 text-align-center">{{ 'MAIN.TITLE' | translate }}</h4>

        <button type="button"
                class="primary big w-100 mb-1"
                [routerLink]="['/' + paths.create]">
            {{ 'MAIN.BUTTON_NEW_WALLET' | translate}}
        </button>

        <button type="button"
                class="primary big w-100 mb-1"
                (click)="openWallet()">{{ 'MAIN.BUTTON_OPEN_WALLET' | translate
            }}</button>

        <button type="button"
                class="outline big w-100 mb-2"
                [routerLink]="['/' + paths.restore]">{{ 'MAIN.BUTTON_RESTORE_BACKUP' |
              translate
            }}</button>

        <p class="text-align-center cursor-pointer"
           (click)="openInBrowser()">
            <i class="icon question-circle mr-1"></i>
            <span class="color-primary">{{ 'MAIN.HELP' | translate }}</span>
        </p>
    </div>

    <app-synchronization-status class="max-w-19-rem"></app-synchronization-status>
</div>
