<div class="modal p-2 border-radius-0_8-rem bg-light-blue max-w-34-rem w-100 max-h-100">
	<button (click)="onClose()"
					class="close"
					type="button"><i class="icon close"></i></button>

	<div class="content mb-2"
			 fxLayout="row"
			 fxLayoutAlign="start center">
		<i [class.error]="type === 'error'"
			 [class.info]="type === 'info'"
			 [class.success]="type === 'success'"
			 class="icon min-width-4_4-rem min-height-4_4-rem mr-1"
			 fxFlex="0 0 auto"></i>
		<div class="message-container">
			<h3 class="title">{{title}}</h3>
			<p [innerHTML]="message"
				 class="message"></p>
		</div>
	</div>

	<div class="controls"
			 fxLayout="row"
			 fxLayoutAlign="center center">
		<button #btn
						(click)="onClose()"
						class="primary max-w-19-rem w-100 big"
						type="button">{{ 'MODALS.OK' | translate }}</button>
	</div>
</div>
