.send-modal-wrapper {
    padding: 2rem;
    border-radius: 0.8rem;
    background: var(--dialog-background);
    width: 100%;
    max-width: 54rem;
    max-height: 90vh;
}

.destination {
    .destination__title {
        text-transform: uppercase;
        font-size: 1.4rem;
        margin-bottom: 1.2rem;
    }
}

.total-wrap {
    .total__title {
        text-transform: uppercase;
        font-size: 1.4rem;
        margin-bottom: 1.2rem;
    }
}
