<div class="container flex flex__direction-column flex__justify-center flex__align-center w-100 h-100 overflow-hidden">
    <ng-container *ngIf="variablesService.currentWallet.contracts.length; else emptyContracts">
        <div class="wrap-table flex w-100 flex_1_1_auto overflow-y-auto overflow-x-hidden mb-2">
            <table class="contracts-table">
                <thead>
                <tr>
                    <th>{{ 'CONTRACTS.CONTRACTS' | translate }}</th>
                    <th>{{ 'CONTRACTS.DATE' | translate }}</th>
                    <th>{{ 'CONTRACTS.AMOUNT' | translate }}</th>
                    <th>{{ 'CONTRACTS.STATUS' | translate }}</th>
                    <th>{{ 'CONTRACTS.COMMENTS' | translate }}</th>
                </tr>
                </thead>
                <tbody>
                <ng-container *ngFor="let item of sortedArrayContracts">
                    <div class="row-divider"></div>
                    <tr [routerLink]="'/wallet/contracts/purchase/' + item.contract_id">
                        <td>
                            <div class="contract flex flex__align-center">
                                <i class="icon alert mr-1"
                                   *ngIf="!item.is_new"></i>
                                <i class="icon new mr-1"
                                   *ngIf="item.is_new"></i>
                                <i class="icon mr-1"
                                   [class.purchase-arrow-down]="item.is_a"
                                   [class.purchase-arrow-up]="!item.is_a"></i>
                                <span tooltip="{{ item.private_detailes.t }}"
                                      placement="top-left"
                                      tooltipClass="table-tooltip"
                                      [delay]="500"
                                      [showWhenNoOverflow]="false">{{item.private_detailes.t}}</span>
                            </div>
                        </td>
                        <td>
                            <div>{{item.timestamp * 1000 | date : 'dd-MM-yyyy HH:mm'}}</div>
                        </td>
                        <td>
                            <div>{{item.private_detailes.to_pay | intToMoney}} {{variablesService.defaultCurrency}}</div>
                        </td>
                        <td>
                            <div class="status"
                                 [class.color-red]="item.state === 4"
                                 tooltip="{{item.state | contractStatusMessages : item.is_a}}"
                                 placement="top"
                                 tooltipClass="table-tooltip"
                                 [delay]="500">
                                {{item.state | contractStatusMessages : item.is_a}}
                            </div>
                        </td>
                        <td>
                            <div class="comment"
                                 tooltip="{{ item.private_detailes.c }}"
                                 placement="top-right"
                                 tooltipClass="table-tooltip"
                                 [delay]="500"
                                 [showWhenNoOverflow]="false">
                                {{item.private_detailes.c}}
                            </div>
                        </td>
                    </tr>
                    <div class="row-divider"></div>
                </ng-container>
                </tbody>
            </table>
        </div>

        <div class="buttons-wrap flex flex__align-center flex_0_0_auto w-100">
            <button type="button"
                    class="primary big max-w-19-rem w-100"
                    [routerLink]="'/wallet/contracts/purchase'">{{
                'CONTRACTS.PURCHASE_BUTTON' | translate }}</button>
        </div>
    </ng-container>
</div>

<ng-template #emptyContracts>
    <span class="mb-2">{{ 'CONTRACTS.EMPTY' | translate }}</span>
    <button type="button"
            class="primary big max-w-19-rem w-100"
            [routerLink]="'/wallet/contracts/purchase'">{{
        'CONTRACTS.PURCHASE_BUTTON' | translate }}</button>
</ng-template>
