<div *ngIf="variablesService.currentWallet.contracts.length; else emptyContracts"
     class="container"
     fxLayout="column"
     fxFlexFill>
  <div class="wrap-table scrolled-content mb-2"
       fxFlex="1 1 auto">
    <table class="contracts-table">
      <thead>
      <tr>
        <th>
          <div class="bg title">{{ 'CONTRACTS.CONTRACTS' | translate }}</div>
        </th>
        <th>
          <div class="bg title">{{ 'CONTRACTS.DATE' | translate }}</div>
        </th>
        <th>
          <div class="bg title">{{ 'CONTRACTS.AMOUNT' | translate }}</div>
        </th>
        <th>
          <div class="bg title">{{ 'CONTRACTS.STATUS' | translate }}</div>
        </th>
        <th>
          <div class="bg title">{{ 'CONTRACTS.COMMENTS' | translate }}</div>
        </th>
      </tr>
      <div class="row-divider"></div>
      </thead>
      <tbody>
      <ng-container *ngFor="let item of sortedArrayContracts">
        <tr [routerLink]="'/wallet/contracts/purchase/' + item.contract_id">
          <td>
            <div class="contract"
                 fxLayout="row"
                 fxLayoutAlign=" center">
              <i class="icon alert mr-1"
                 *ngIf="!item.is_new"></i>
              <i class="icon new mr-1"
                 *ngIf="item.is_new"></i>
              <i class="icon mr-1"
                 [class.purchase-arrow-down]="item.is_a"
                 [class.purchase-arrow-up]="!item.is_a"></i>
              <span tooltip="{{ item.private_detailes.t }}"
                    placement="top-left"
                    tooltipClass="table-tooltip"
                    [delay]="500"
                    [showWhenNoOverflow]="false">{{item.private_detailes.t}}</span>
            </div>
          </td>
          <td>
            <div>{{item.timestamp * 1000 | date : 'dd-MM-yyyy HH:mm'}}</div>
          </td>
          <td>
            <div>{{item.private_detailes.to_pay | intToMoney}} {{variablesService.defaultCurrency}}</div>
          </td>
          <td>
            <div class="status"
                 [class.color-red]="item.state === 4"
                 tooltip="{{item.state | contractStatusMessages : item.is_a}}"
                 placement="top"
                 tooltipClass="table-tooltip"
                 [delay]="500">
              {{item.state | contractStatusMessages : item.is_a}}
            </div>
          </td>
          <td>
            <div class="comment"
                 tooltip="{{ item.private_detailes.c }}"
                 placement="top-right"
                 tooltipClass="table-tooltip"
                 [delay]="500"
                 [showWhenNoOverflow]="false">
              {{item.private_detailes.c}}
            </div>
          </td>
        </tr>
        <div class="row-divider"></div>
      </ng-container>
      </tbody>
    </table>
  </div>
  <div class="buttons-wrap w-100"
       fxFlex="0 0 auto"
       fxLayout="row"
       fxLayoutAlign="start center">
    <button type="button"
            class="primary big max-w-19-rem w-100"
            [routerLink]="'/wallet/contracts/purchase'">{{
      'CONTRACTS.PURCHASE_BUTTON' | translate }}</button>
  </div>
</div>

<ng-template #emptyContracts>
  <div class="container"
       fxLayout="column"
       fxLayoutAlign="center center"
       fxFlexFill>
    <span class="mb-2">{{ 'CONTRACTS.EMPTY' | translate }}</span>
    <button type="button"
            class="primary big max-w-19-rem w-100"
            [routerLink]="'/wallet/contracts/purchase'">{{
      'CONTRACTS.PURCHASE_BUTTON' | translate }}</button>
  </div>
</ng-template>
