<div class="modal">
  <div class="title">
    <span>Creating a marketplace offer</span>
  </div>
  <div class="content">
    <div class="data-container">
      <div class="row"><span>Offer title:</span> {{marketplaceData.title}}</div>
      <div class="row"><span>Description:</span> {{marketplaceData.description}}</div>
      <div class="row"><span>Category:</span> {{marketplaceData.category}}</div>
      <div class="row"><span>Price:</span> {{marketplaceData.price}} ZANO</div>
      <div class="row"><span>Preview url:</span> {{marketplaceData.url}}</div>
      <div class="row"><span>Contacts:</span> {{marketplaceData.contacts}}</div>
      <div class="row"><span>Comments:</span>{{marketplaceData.comments}}</div>
      <div class="row"><span>Mixins:</span> {{marketplaceData.mixins}}</div>
      <div class="row"><span>Transaction fee:</span> {{marketplaceData.fee}} ZANO</div>
    </div>
    <div class="wrapper-buttons">
      <button type="button" class="blue-button" (click)="closeModal()">{{ 'EXPORT_HISTORY.CANCEL' | translate
        }}</button>
      <button type="submit" class="blue-button" (click)="confirmSend()">Sign & Send...</button>
    </div>
  </div>
</div>
