<ng-container *ngIf="isInitiator(transaction) && !hasZano(transaction.subtransfers)">
    <div [ngClass]="'received'" class="status text-ellipsis" fxLayout="row" fxLayoutAlign=" center">
        <img alt="" class="status-transaction mr-1" src="assets/icons/aqua/receive.svg" />

        <span class="status-transaction-text">{{ 'HISTORY.RECEIVED' | translate }}</span>
    </div>
</ng-container>

<ng-container *ngIf="transaction.subtransfers; else noSubtransfersStatusTemplate">
    <ng-container *ngFor="let subtransfer of transaction.subtransfers">
        <ng-container *ngIf="isVisibleStatusBySubtransfer(subtransfer, transaction)">
            <div
                [ngClass]="isIncome(subtransfer, transaction) ? 'received' : 'send'"
                class="status text-ellipsis"
                fxLayout="row"
                fxLayoutAlign=" center"
            >
                <!-- Progress -->
                <ng-container *ngIf="getHeight(transaction) < 10">
                    <svg
                        [delay]="500"
                        class="confirmation mr-1"
                        placement="bottom-left"
                        style="transform: rotateZ(-90deg)"
                        tooltip="{{ 'HISTORY.STATUS_TOOLTIP' | translate : { current: getHeight(transaction), total: 10 } }}"
                        tooltipClass="table-tooltip"
                    >
                        <circle
                            cx="50%"
                            cy="50%"
                            fill="transparent"
                            r="0.7rem"
                            stroke="rgba(31, 143, 235, 0.33)"
                            stroke-dasharray="100"
                            stroke-dashoffset="0"
                            stroke-width="0.3rem"
                        ></circle>
                        <circle
                            [style.stroke-dashoffset]="strokeSize(transaction)"
                            [style.stroke]="isIncome(subtransfer, transaction) ? '#16d1d6' : '#1f8feb'"
                            class="progress-circle"
                            cx="50%"
                            cy="50%"
                            fill="transparent"
                            r="0.7rem"
                            stroke-dasharray="4.5rem"
                            stroke-dashoffset="4.5rem"
                            stroke-linecap="round"
                            stroke-width="0.3rem"
                        ></circle>
                    </svg>
                </ng-container>

                <!-- Status -->
                <ng-container *ngIf="getHeight(transaction) === 10">
                    <img
                        class="status-transaction mr-1"
                        [src]="isIncome(subtransfer, transaction) ? 'assets/icons/aqua/receive.svg' : 'assets/icons/blue/send.svg'"
                        alt="status"
                    />
                </ng-container>
                <span class="status-transaction-text">{{
                    (isIncome(subtransfer, transaction) ? 'HISTORY.RECEIVED' : 'HISTORY.SEND') | translate
                }}</span>

                <!-- Lock time -->
                <ng-container *ngIf="transaction.unlock_time !== 0 && transaction.tx_type !== 6">
                    <ng-container *ngIf="isLocked(transaction); else unlock">
                        <ng-container *ngIf="transaction.unlock_time < 500000000">
                            <i
                                [class.position]="
                                    variablesService.height_app - transaction.height < 10 ||
                                    (transaction.height === 0 && transaction.timestamp > 0)
                                "
                                [delay]="500"
                                class="icon lock-transaction mr-1"
                                placement="bottom-left"
                                tooltip="{{ 'HISTORY.LOCK_TOOLTIP' | translate : { date: time(transaction) | date : 'MM.dd.yy' } }}"
                                tooltipClass="table-tooltip"
                            ></i>
                        </ng-container>
                        <ng-container *ngIf="transaction.unlock_time > 500000000">
                            <i
                                [class.position]="
                                    variablesService.height_app - transaction.height < 10 ||
                                    (transaction.height === 0 && transaction.timestamp > 0)
                                "
                                [delay]="500"
                                class="icon lock-transaction mr-1"
                                placement="bottom-left"
                                tooltip="{{
                                    'HISTORY.LOCK_TOOLTIP'
                                        | translate
                                            : {
                                                  date: transaction.unlock_time * 1000 | date : 'MM.dd.yy'
                                              }
                                }}"
                                tooltipClass="table-tooltip"
                            ></i>
                        </ng-container>
                    </ng-container>
                    <ng-template #unlock>
                        <i
                            [class.position]="
                                variablesService.height_app - transaction.height < 10 ||
                                (transaction.height === 0 && transaction.timestamp > 0)
                            "
                            class="icon unlock-transaction mr-1"
                        ></i>
                    </ng-template>
                </ng-container>
            </div>
        </ng-container>
    </ng-container>
</ng-container>

<ng-template #noSubtransfersStatusTemplate>
    <div [ngClass]="'received'" class="status text-ellipsis" fxLayout="row" fxLayoutAlign=" center">
        <img alt="" class="status-transaction mr-1" src="assets/icons/aqua/receive.svg" />

        <span class="status-transaction-text">{{ 'HISTORY.RECEIVED' | translate }}</span>
    </div>
</ng-template>
