.migrate-alert {
    .btn-migrate {
        background-color: #1f8feb33;
        color: #1f8feb;
        font-size: 1.8rem;
        line-height: 1.2;
        padding: 0.8rem 2rem;
        border-radius: 0.8rem;
        cursor: pointer;
        transition: background-color 0.2s ease;

        &:hover {
            background-color: #1f8feb50;
        }
    }

    .migration-details {
        font-size: 1.6rem;
    }
}
