.seed-phrase {
  .content {
    .item {
      border: var(--border);
      background-color: var(--gray-900);

      .number {
        width: 1.8rem;
        height: 1.8rem;
        border-radius: 50%;
        font-size: 1rem;
        background-color: var(--gray-600);
      }

      .word {
        white-space: nowrap;
      }
    }
  }
}
