.wallet {
  border-radius: 0.8rem;
  margin-bottom: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 19rem;
  min-width: 19rem;
  width: 100%;
  padding: 1.2rem;
  background-color: var(--blue-500);
  border: 0.15rem solid var(--blue-500);
  cursor: pointer;

  .content {
    z-index: 10;
  }

  .header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.8rem;

    .left {
      overflow: hidden;

      .name {
        .indicator {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          width: 1.8rem;
          height: 1.8rem;
          padding: 0.5rem;
          margin-right: 0.8rem;
          font-size: 1.2rem;
          line-height: 1;
          background-color: var(--white-500);
          color: var(--azure-500);
        }
      }
    }
  }

  .balance {
    display: flex;
    align-items: center;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  .price {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.2;

    .percent {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.2;
      color: var(--aqua-500);
      margin-left: 0.7rem;

      &.red {
        color: var(--red-500);
      }
    }
  }

  .staking {
    margin-top: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .account-synchronization {
    display: flex;
    align-items: center;
    width: 100%;

    .progress-bar {
      border-radius: 1rem;
      flex: 1 0 auto;
      height: 0.4rem;
      overflow: hidden;

      .fill {
        height: 100%;
      }
    }

    .progress-percent {
      flex: 0 0 auto;
      font-size: 1.4rem;
      line-height: 1.2;
      padding-left: 1rem;
    }
  }

  &.active {
    border: none;
    padding: 1.35rem;
    background: var(--gradietAquaToBlue);

    .price {
      .percent {
        &.red {
          color: var(--red-100);
        }
      }
    }
  }

  &.auditable,
  &.watch-only {
    border-width: 0;
    padding: 1.35rem;
    background: var(--gradietLightAmethystToPurpurle);
  }

  &.auditable {
    &:hover:not(.active) {
      padding: 1.2rem;
      border-width: 0.15rem;
    }

    &.active {
      padding: 1.35rem;
      border: none;
      background: var(--gradietAmethystToPurpurle);
    }
  }

  &.watch-only {
    &:after {
      content: '';
      display: block;
      background: var(--blue-500);
      position: absolute;
      border-radius: 0.8rem;
      left: 0.25rem;
      right: 0.25rem;
      top: 0.25rem;
      bottom: 0.25rem;
      z-index: 1;
    }

    &.active,
    &:hover {
      background: var(--gradietAmethystToPurpurle);
    }

    .price {
      .percent {
        &.red {
          color: var(--red-500);
        }
      }
    }
  }

  &:hover:not(.active):not(.watch-only) {
    border-color: var(--gray-800);
  }

  &:focus {
    outline: none;
  }

  &:last-child {
    margin-bottom: 0 !important;
  }

  .progress-bar {
    background-color: var(--gray-800);

    .fill {
      background-color: var(--white-500);
    }
  }
}
