<div class="page-container">
  <div class="toolbar mb-2">
    <div class="left">
      <button (click)="back()" class="btn-icon circle big mr-2" type="button">
        <i class="icon dropdown-arrow-left"></i>
      </button>
      <h1>{{ 'CONTACTS.ADD_CONTACT' | translate }}</h1>
    </div>
    <div class="right"></div>
  </div>

  <div class="page-content">
    <div class="breadcrumbs mb-2">
      <div class="breadcrumb">
        <a [routerLink]="['/contacts']">{{ 'CONTACTS.TITLE' | translate }}</a>
      </div>
      <div class="breadcrumb">
        <span>{{ 'CONTACTS.ADD_CONTACT' | translate }}</span>
      </div>
    </div>

    <div class="scrolled-content">
      <form (ngSubmit)="add()" [formGroup]="addContactForm" class="form">
        <div class="form__field form__field-name">
          <label for="add-name">{{ 'CONTACTS.FORM.NAME' | translate }}</label>
          <input
            (contextmenu)="variablesService.onContextMenu($event)"
            [placeholder]="'PLACEHOLDERS.NAME_PLACEHOLDER' | translate"
            class="form__field--input"
            formControlName="name"
            id="add-name"
            type="text"
          />
          <div
            *ngIf="
              addContactForm.controls['name'].invalid &&
              (addContactForm.controls['name'].dirty ||
                addContactForm.controls['name'].touched)
            "
            class="error"
          >
            <div
              *ngIf="
                addContactForm.controls['name'].errors['minlength'] ||
                addContactForm.controls['name'].errors['maxlength']
              "
            >
              {{ 'CONTACTS.FORM_ERRORS.NAME_LENGTH' | translate }}
            </div>
            <div *ngIf="addContactForm.controls['name'].errors['dublicated']">
              {{ 'CONTACTS.FORM_ERRORS.NAME_DUBLICATED' | translate }}
            </div>
            <div *ngIf="addContactForm.controls['name'].errors['required']">
              {{ 'CONTACTS.FORM_ERRORS.NAME_REQUIRED' | translate }}
            </div>
          </div>
        </div>

        <div class="form__field form__field-dropdown">
          <label for="address">{{ 'CONTACTS.FORM.ADDRESS' | translate }}</label>

          <input
            (contextmenu)="variablesService.onContextMenu($event)"
            [placeholder]="'PLACEHOLDERS.ADRESS_PLACEHOLDER' | translate"
            class="form__field--input"
            formControlName="address"
            id="address"
            type="text"
          />

          <div
            *ngIf="
              addContactForm.controls['address'].invalid &&
              (addContactForm.controls['address'].dirty ||
                addContactForm.controls['address'].touched)
            "
            class="error"
          >
            <div
              *ngIf="
                addContactForm.controls['address'].errors['address_not_valid']
              "
            >
              {{ 'CONTACTS.FORM_ERRORS.ADDRESS_NOT_VALID' | translate }}
            </div>
            <div
              *ngIf="addContactForm.controls['address'].errors['dublicated']"
            >
              {{ 'CONTACTS.FORM_ERRORS.ADDRESS_DUBLICATED' | translate }}
            </div>
            <div *ngIf="addContactForm.controls['address'].errors['required']">
              {{ 'CONTACTS.FORM_ERRORS.ADDRESS_REQUIRED' | translate }}
            </div>
          </div>
        </div>

        <div class="form__field form__field-notes">
          <label for="notes">{{ 'CONTACTS.FORM.NOTES' | translate }}</label>

          <input
            (contextmenu)="variablesService.onContextMenu($event)"
            class="form__field--input"
            formControlName="notes"
            id="notes"
            placeholder="{{ 'PLACEHOLDERS.NOTES_PLACEHOLDER' | translate }}"
            type="text"
          />
          <div *ngIf="addContactForm.controls['notes'].invalid" class="error">
            <div *ngIf="addContactForm.controls['notes'].errors['maxLength']">
              {{ 'CONTACTS.FORM_ERRORS.MAX_LENGTH' | translate }}
            </div>
          </div>
        </div>

        <button
          [disabled]="!addContactForm.valid"
          class="primary big w-100"
          type="submit"
        >
          {{ 'CONTACTS.BUTTON.ADD_EDIT' | translate }}
        </button>

        <app-send-modal
          (confirmed)="confirmed()"
          *ngIf="isModalDialogVisible"
          [form]="addContactForm"
        >
        </app-send-modal>
      </form>
    </div>
  </div>
</div>
