<ng-container *appVisibilityBalance>
    <div *appDisablePriceFetch class="wallet-card-balance-wrapper">
        <div *ngIf="wallet.getBalanceByTicker('ZANO') as balance" class="text-ellipsis overflow-hidden">
            <div
                [delay]="250"
                [placement]="'bottom'"
                [timeDelay]="2500"
                [tooltipClass]="'balance-tooltip'"
                [tooltip]="getBalancesTooltip()"
                class="price"
                tabindex="0"
            >
                <ng-container *ngIf="getTotalBalance() as totalBalance">
                    <div class="text-ellipsis overflow-hidden">{{ totalBalance.value }}</div>
                    <span class="currency ml-0_5">{{ totalBalance.currency }}</span>
                </ng-container>
            </div>
        </div>

        <button (click)="changeBalanceDisplayMode($event)" class="wallet-card-balance-swap" type="button">
            <mat-icon [svgIcon]="'zano-swap-2'"></mat-icon>
        </button>
    </div>
</ng-container>
