<ng-container *appVisibilityBalance>
    <div *appDisablePriceFetch class="wallet-card-balance-wrapper">
        <div *ngIf="wallet.getBalanceByTicker('ZANO') as balance" class="text-ellipsis overflow-hidden">
            <div
                [delay]="250"
                [placement]="'bottom'"
                [timeDelay]="2500"
                [tooltipClass]="'balance-tooltip'"
                [tooltip]="getBalancesTooltip()"
                class="price"
                tabindex="0"
            >
                <ng-container [ngSwitch]="wallet.settings.balanceDisplayMode">
                    <ng-container *ngSwitchCase="'zano'">
                        <div class="text-ellipsis overflow-hidden">{{ balance.total | intToMoney }}</div>
                        <span class="currency ml-0_5">{{ balance.asset_info.ticker }}</span>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                        <ng-container *ngIf="getViewBalanceData(balance) as viewBalanceData">
                            <div class="text-ellipsis overflow-hidden">{{ viewBalanceData.value }}</div>
                            <span class="currency ml-0_5">{{ viewBalanceData.currency.toUpperCase() }}</span>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </div>
        </div>

        <button (click)="changeBalanceDisplayMode($event)" class="wallet-card-balance-swap" type="button">
            <mat-icon [svgIcon]="'zano-swap-2'"></mat-icon>
        </button>
    </div>
</ng-container>
