<div class="sidebar-header mb-2">
  <div class="logo">
    <img alt="zano-logo" src="assets/icons/blue/zano-logo.svg" />
  </div>
</div>

<div class="sidebar-content">
  <div
    (cdkDropListDropped)="drop($event)"
    cdkDropList
    cdkDropListLockAxis="y"
    class="sidebar-content-list scrolled-content mb-1"
  >
    <ng-container *ngFor="let wallet of variablesService.wallets">
      <div
        (click)="selectWallet(wallet.wallet_id)"
        [cdkDragData]="wallet"
        [class.active]="
          wallet?.wallet_id === variablesService?.currentWallet?.wallet_id
        "
        [class.auditable]="wallet.is_auditable && !wallet.is_watch_only"
        [class.watch-only]="wallet.is_watch_only"
        cdkDrag
        class="wallet"
      >
        <div class="content">
          <div class="header">
            <div class="left">
              <div class="name text-ellipsis">
                <span *ngIf="wallet.new_contracts" class="indicator">
                  {{ wallet.new_contracts }}
                </span>

                <span
                  [delay]="500"
                  [showWhenNoOverflow]="false"
                  class="name"
                  placement="top-left"
                  tooltip="{{ wallet.name }}"
                  tooltipClass="table-tooltip account-tooltip"
                >
                  {{
                    !wallet.alias['name'] ? wallet.name : wallet.alias['name']
                  }}
                </span>
              </div>
            </div>
            <div class="right">
              <button
                (click)="showDialog(wallet.wallet_id)"
                [delay]="500"
                [timeDelay]="500"
                placement="top"
                tooltip="{{ 'WALLET.TOOLTIPS.CLOSE' | translate }}"
                tooltipClass="table-tooltip account-tooltip"
                type="button"
              >
                <i class="icon close"></i>
              </button>
            </div>
          </div>

          <div class="balance">
            <span
              [delay]="500"
              [placement]="'bottom'"
              [timeDelay]="1000"
              [tooltipClass]="'balance-tooltip'"
              [tooltip]="getBalanceTooltip(wallet.wallet_id)"
              class="text-ellipsis mr-1"
              >{{
                wallet.getBalanceByTicker('ZANO')?.total || 0 | intToMoney: '3'
              }}</span
            >
            <span>{{ variablesService.defaultCurrency }}</span>
          </div>

          <h4 *appDisablePriceFetch class="price">
            ${{
              wallet.getMoneyEquivalentForZano(variablesService.moneyEquivalent)
                | intToMoney
                | number: '1.2-2' || '---'
            }}
            <span
              [class.red]="variablesService.moneyEquivalentPercent < 0"
              class="percent"
            >
              {{ variablesService.moneyEquivalentPercent | number: '1.1-2' }}%
            </span>
          </h4>

          <ng-container
            *ngIf="
              (!wallet.is_auditable && !wallet.is_watch_only) ||
              (wallet.is_auditable && !wallet.is_watch_only)
            "
          >
            <div
              *ngIf="!(!wallet.loaded && variablesService.daemon_state === 2)"
              class="staking"
            >
              <span class="text">{{
                'SIDEBAR.ACCOUNT.STAKING' | translate
              }}</span>
              <app-staking-switch
                [(staking)]="wallet.staking"
                [wallet_id]="wallet.wallet_id"
              ></app-staking-switch>
            </div>
          </ng-container>

          <div
            *ngIf="!wallet.loaded && variablesService.daemon_state === 2"
            class="account-synchronization"
          >
            <div class="progress-bar">
              <div [style.width]="wallet.progress + '%'" class="fill"></div>
            </div>
            <div class="progress-percent">{{ wallet.progress }}%</div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <div class="sidebar-nav scrolled-content">
    <!-- ui-kit -->
    <ng-container *ngIf="false">
      <button
        [routerLink]="['/ui-kit']"
        class="outline small w-100 mb-1 px-2"
        fxLayout="row inline wrap"
        fxLayoutAlign="start center"
        routerLinkActive="active"
      >
        <span>ui-kit</span>
      </button>
    </ng-container>

    <!-- add wallet -->
    <button
      (click)="goMainPage()"
      class="outline small w-100 mb-1 px-2"
      fxLayout="row inline wrap"
      fxLayoutAlign="start center"
    >
      <i class="icon plus mr-1"></i>
      <span>{{ 'SIDEBAR.ADD_NEW' | translate }}</span>
    </button>

    <!-- contact -->
    <!-- TODO: Uncomment if needed page contact. If you want deleted, please ask Ravaga -->

    <!--        <ng-container *ngIf="variablesService.appPass === ''; else contactsShow">-->
    <!--            <button class="outline small w-100 mb-1 px-2"-->
    <!--                    fxLayout="row inline wrap"-->
    <!--                    fxLayoutAlign="start center"-->
    <!--                    routerLinkActive="active"-->
    <!--                    tooltip="{{ 'SIDEBAR.CONTACTS_TOOLTIP' | translate }}"-->
    <!--                    placement="top"-->
    <!--                    tooltipClass="table-tooltip account-tooltip"-->
    <!--                    [delay]="500"-->
    <!--                    [timeDelay]="500"-->
    <!--                    [disabled]="variablesService.daemon_state !== 2 || variablesService.appPass === ''"-->
    <!--                    (click)="contactsRoute()">-->
    <!--                <i class="icon contacts mr-1"></i>-->
    <!--                <span>{{ 'SIDEBAR.CONTACTS' | translate }}</span>-->
    <!--            </button>-->
    <!--        </ng-container>-->

    <!--        <ng-template #contactsShow>-->
    <!--            <button class="outline small w-100 mb-1 px-2"-->
    <!--                    fxLayout="row inline wrap"-->
    <!--                    fxLayoutAlign="start center"-->
    <!--                    routerLinkActive="active"-->
    <!--                    (click)="contactsRoute()"-->
    <!--                    [disabled]="variablesService.daemon_state !== 2">-->
    <!--                <i class="icon contacts mr-1"></i>-->
    <!--                <span>{{ 'SIDEBAR.CONTACTS' | translate }}</span>-->
    <!--            </button>-->
    <!--        </ng-template>-->

    <!-- settings -->
    <button
      [routerLink]="['/settings']"
      class="outline small w-100 mb-1 px-2"
      fxLayout="row inline wrap"
      fxLayoutAlign="start center"
      routerLinkActive="active"
    >
      <i class="icon settings mr-1"></i>
      <span> {{ 'SIDEBAR.SETTINGS' | translate }}</span>
    </button>

    <!-- Log out -->
    <ng-container *ngIf="variablesService.appPass === ''; else masterPass">
      <button
        (click)="logOut()"
        [delay]="500"
        [disabled]="variablesService.appPass === ''"
        [timeDelay]="500"
        class="outline small w-100 px-2"
        fxLayout="row inline wrap"
        fxLayoutAlign="start center"
        placement="bottom"
        tooltip="{{ 'SIDEBAR.LOG_OUT_TOOLTIP' | translate }}"
        tooltipClass="table-tooltip account-tooltip"
      >
        <i class="icon logout mr-1"></i>
        <span> {{ 'SIDEBAR.LOG_OUT' | translate }}</span>
      </button>
    </ng-container>

    <ng-template #masterPass>
      <button
        (click)="logOut()"
        class="outline small w-100 px-2"
        fxLayout="row inline wrap"
        fxLayoutAlign="start center"
      >
        <i class="icon logout mr-1"></i>
        <span> {{ 'SIDEBAR.LOG_OUT' | translate }}</span>
      </button>
    </ng-template>
  </div>
</div>

<div class="sidebar-footer">
  <app-synchronization-status></app-synchronization-status>
</div>

<app-confirm-modal
  (confirmed)="confirmed($event)"
  *ngIf="isModalDialogVisible"
  [message]="'WALLET.CONFIRM.MESSAGE' | translate"
  [title]="'WALLET.CONFIRM.TITLE' | translate"
></app-confirm-modal>

<app-deeplink></app-deeplink>
