.sidebar {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 23rem;
    height: 100%;
    background-color: var(--sidebar-background);

    &-header {
        margin-bottom: 1rem;
    }

    &-content {
        display: flex;
        flex-direction: column;
        height: 100%;

        &-wallet-list {
            position: relative;
            height: 100%;
            overflow: hidden;
            margin-bottom: 1rem;

            .scrolled-content {
                height: 100%;
            }

            ::ng-deep {
                app-wallet-card {
                    &:first-child .wallet {
                        margin-top: 3rem;
                    }

                    &:last-child .wallet {
                        margin-bottom: 3rem;
                    }
                }
            }

            &::before,
            &::after {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                height: 3rem;
                z-index: 999;
                display: block;
            }

            &::before {
                background: var(--gradient-sidebar-content-wallet-list-top);
                top: -2px;
            }

            &::after {
                background: var(--gradient-sidebar-content-wallet-list-bottom);
                bottom: -2px;
            }
        }
    }

    &-nav {
        min-height: 17rem;
        max-height: 25rem;
        margin-bottom: 1rem;

        > li {
            margin-bottom: 1rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &-footer {
        ::ng-deep .synchronization-status .status-container {
            .offline,
            .online {
                justify-content: center;
            }
        }
    }

    nav {
        list-style: none;
    }
}

.build-version {
    font-size: 0.9rem;
    line-height: 1.5;
    font-weight: 400;
    color: var(--gray-500);
    text-align: center;
}
