.cell-amount {
    display: flex;
    align-items: center;
    max-width: 100%;

    .amount {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .ticker {
        margin-left: 0.4rem;
    }
}
