<div class="container scrolled-content">
    <app-breadcrumbs [items]="breadcrumbItems" class="mb-2"></app-breadcrumbs>

    <form (ngSubmit)="beforeSubmit()" [formGroup]="form" class="form">
        <div class="form__row" formGroupName="sending">
            <div class="form__field">
                <label for="sending-amount">
                    {{ 'CREATE_SWAP.FORM.LABELS.LABEL1' | translate }}
                </label>
                <input
                    (contextmenu)="variablesService.onContextMenu($event)"
                    [placeholder]="'CREATE_SWAP.FORM.PLACEHOLDERS.PLACEHOLDER1' | translate"
                    appInputValidate="money"
                    class="form__field--input"
                    formControlName="amount"
                    id="sending-amount"
                    type="text"
                />
                <div
                    *ngIf="
                        form.controls.sending.controls.amount.invalid &&
                        (form.controls.sending.controls.amount.dirty || form.controls.sending.controls.amount.touched)
                    "
                    class="error"
                >
                    <div *ngIf="form.controls.sending.controls.amount.errors['zero']">
                        {{ 'SEND.FORM_ERRORS.AMOUNT_ZERO' | translate }}
                    </div>
                    <div *ngIf="form.controls.sending.controls.amount.errors['great_than_unwraped_coins']">
                        {{ 'SEND.FORM_ERRORS.GREAT_THAN_UNWRAPPED_COINS' | translate }}
                    </div>
                    <div *ngIf="form.controls.sending.controls.amount.errors['less_than_zano_needed']">
                        {{ 'SEND.FORM_ERRORS.LESS_THAN_ZANO_NEEDED' | translate }}
                    </div>
                    <div *ngIf="form.controls.sending.controls.amount.errors['wrap_info_null']">
                        {{ 'SEND.FORM_ERRORS.WRAP_INFO_NULL' | translate }}
                    </div>
                    <div *ngIf="form.controls.sending.controls.amount.hasError('required')">
                        {{ 'SEND.FORM_ERRORS.AMOUNT_REQUIRED' | translate }}
                    </div>
                    <div *ngIf="form.controls.sending.controls.amount.hasError('insuficcientFunds')">
                        {{ form.controls.sending.controls.amount.errors['insuficcientFunds'].errorText | translate }}
                    </div>
                    <div *ngIf="form.controls.sending.controls.amount.hasError('min')">
                        {{ 'SEND.FORM_ERRORS.AMOUNT_ZERO' | translate }}
                    </div>
                </div>
            </div>

            <div class="form__field">
                <label> &nbsp; </label>
                <ng-select
                    (change)="form.controls.sending.controls.amount.updateValueAndValidity()"
                    [bindValue]="'asset_info.asset_id'"
                    [clearable]="false"
                    [items]="variablesService.currentWallet.balances$ | async"
                    [searchable]="false"
                    class="custom-select with-circle"
                    formControlName="asset_id"
                >
                    <ng-template let-asset="item" ng-label-tmp ng-option-tmp>
                        <img
                            [alt]="asset.asset_info.ticker"
                            [defaultImgSrc]="defaultImgSrc"
                            [src]="asset.asset_info.asset_id === zanoAssetInfo.asset_id ? zanoAssetInfo.logo : defaultImgSrc"
                            appDefaultImg
                            defaultImgAlt="default"
                            height="15"
                            width="15"
                        />
                        {{ asset.asset_info.full_name || '---' }}
                    </ng-template>
                </ng-select>
            </div>
        </div>

        <div class="wrapper-reverse">
            <button (click)="reverse()" class="revers" type="button">
                <i class="icon small swap"></i>
            </button>
        </div>

        <div class="form__row" formGroupName="receiving">
            <div class="form__field">
                <label for="receiving-amount">
                    {{ 'CREATE_SWAP.FORM.LABELS.LABEL2' | translate }}
                </label>
                <input
                    [placeholder]="'CREATE_SWAP.FORM.PLACEHOLDERS.PLACEHOLDER1' | translate"
                    appInputValidate="money"
                    class="form__field--input"
                    formControlName="amount"
                    id="receiving-amount"
                    type="text"
                />
                <div
                    *ngIf="
                        form.controls.receiving.controls.amount.invalid &&
                        (form.controls.receiving.controls.amount.dirty || form.controls.receiving.controls.amount.touched)
                    "
                    class="error"
                >
                    <div *ngIf="form.controls.receiving.controls.amount.hasError('required')">
                        {{ 'SEND.FORM_ERRORS.AMOUNT_REQUIRED' | translate }}
                    </div>
                    <div *ngIf="form.controls.receiving.controls.amount.hasError('min')">
                        {{ 'SEND.FORM_ERRORS.AMOUNT_ZERO' | translate }}
                    </div>
                </div>
            </div>

            <div class="form__field">
                <label> &nbsp; </label>
                <ng-select
                    [bindValue]="'asset_info.asset_id'"
                    [clearable]="false"
                    [items]="variablesService.currentWallet.balances$ | async"
                    [searchable]="false"
                    class="custom-select with-circle"
                    formControlName="asset_id"
                >
                    <ng-template let-asset="item" ng-label-tmp ng-option-tmp>
                        <img
                            [alt]="asset.asset_info.ticker"
                            [defaultImgSrc]="defaultImgSrc"
                            [src]="asset.asset_info.asset_id === zanoAssetInfo.asset_id ? zanoAssetInfo.logo : defaultImgSrc"
                            appDefaultImg
                            defaultImgAlt="default"
                            height="15"
                            width="15"
                        />
                        {{ asset.asset_info.full_name || '---' }}
                    </ng-template>
                </ng-select>
                <div
                    *ngIf="
                        form.controls.receiving.controls.asset_id.invalid &&
                        (form.controls.receiving.controls.asset_id.dirty ||
                            form.controls.receiving.controls.asset_id.touched ||
                            form.touched)
                    "
                    class="error"
                >
                    <div *ngIf="form.controls.receiving.controls.asset_id.hasError('sameAssetsId')">
                        {{ 'CREATE_SWAP.FORM.ERRORS.ERROR1' | translate }}
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="isWrapShown && wrapInfo && !(loading$ | async)" class="wrap mt-2 mb-2 p-2">
            <div class="title">
                {{ 'SEND.WRAP.TITLE' | translate }}
                <i class="icon info-circle"></i>
            </div>
            <div class="text-wrap">
                {{ 'SEND.WRAP.MAIN_TEXT' | translate }}
            </div>
            <div class="title">{{ 'SEND.WRAP.ESTIMATE' | translate }}</div>
            <table class="text-wrap">
                <tr>
                    <td>{{ 'SEND.WRAP.WILL_RECEIVE' | translate }}</td>
                    <td *ngIf="!form.controls.receiving.controls.amount.errors">
                        {{ getReceivedValue() | intToMoney }}
                        {{ 'SEND.WRAP.wZANO' | translate }}
                    </td>
                    <td *ngIf="form.controls.receiving.controls.amount.errors">-</td>
                </tr>
                <tr>
                    <td>{{ 'SEND.WRAP.FEE' | translate }}</td>
                    <td>
                        {{ wrapInfo?.tx_cost?.zano_needed_for_erc20 | intToMoney : 3 }}
                        {{ 'SEND.WRAP.ZANO' | translate }}
                        ({{ '$' + wrapInfo.tx_cost?.usd_needed_for_erc20 }})
                    </td>
                </tr>
            </table>
        </div>

        <div class="form__field form__field-dropdown">
            <label for="receiving-address">
                {{ 'CREATE_SWAP.FORM.LABELS.LABEL3' | translate }}
            </label>
            <input
                (contextmenu)="variablesService.onContextMenu($event)"
                (focusout)="isVisibleDropdownAliases$.next(false)"
                (input)="inputListenReceiverAddressField($event)"
                (paste)="pasteListenReceiverAddressField($event)"
                [lowerCaseDisabled]="lowerCaseDisabled$ | async"
                [placeholder]="'PLACEHOLDERS.ADRESS_PLACEHOLDER' | translate"
                class="form__field--input"
                formControlName="receiverAddress"
                id="receiving-address"
                lowerCase
                type="text"
            />

            <div
                *ngIf="isVisibleDropdownAliasesObservable$ | async"
                [ngStyle]="{
                    'z-index': 1
                }"
                class="dropdown py-0_5 border-radius-0_8-rem bg-light-blue-details"
            >
                <ng-container *ngIf="aliases$ | async as aliases">
                    <ng-container *ngIf="aliases.length; else notFoundAliases">
                        <div (click)="form.controls.receiverAddress.patchValue(alias.name)" *ngFor="let alias of aliases" class="item">
                            <div
                                [class.available]="alias.name.length >= 2 && alias.name.length <= 6"
                                [class.pl-1]="alias.name.length > 6"
                                class="alias"
                            >
                                <div class="text-ellipsis">{{ alias.name }}</div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-template #notFoundAliases>
                        <div class="item pl-1">Not found aliases</div>
                    </ng-template>
                </ng-container>
            </div>

            <div
                *ngIf="
                    form.controls.receiverAddress.invalid && (form.controls.receiverAddress.dirty || form.controls.receiverAddress.touched)
                "
                class="error"
            >
                <div *ngIf="form.controls.receiverAddress.errors['address_not_valid']">
                    {{ 'SEND.FORM_ERRORS.ADDRESS_NOT_VALID' | translate }}
                </div>
                <div *ngIf="form.controls.receiverAddress.errors['alias_not_found']">
                    {{ 'SEND.FORM_ERRORS.ALIAS_NOT_FOUND' | translate }}
                </div>
                <div *ngIf="form.controls.receiverAddress.errors['alias_not_valid']">
                    {{ 'SEND.FORM_ERRORS.ALIAS_NOT_VALID' | translate }}
                </div>
                <div *ngIf="form.controls.receiverAddress.hasError('required')">
                    {{ 'SEND.FORM_ERRORS.ADDRESS_REQUIRED' | translate }}
                </div>
            </div>

            <div *ngIf="aliasAddress" class="info text-ellipsis">
                <span>{{ aliasAddress | zanoShortString }}</span>
            </div>
        </div>

        <div class="actions">
            <button [disabled]="form.invalid || (loading$ | async)" class="btn primary big w-100" type="submit">
                <ng-container *ngIf="!(loading$ | async)">{{ 'CREATE_SWAP.FORM.BUTTONS.BUTTON1' | translate }}</ng-container>
                <zano-loader *ngIf="loading$ | async" [type]="'circle'"></zano-loader>
            </button>
            <a class="btn outline big w-100" routerLink="/wallet/swap">{{ 'CREATE_SWAP.FORM.BUTTONS.BUTTON2' | translate }}</a>
        </div>
        <div *ngIf="errorRpc" class="error mt-2">
            Error code: {{ errorRpc.code }} <br />
            Error message: {{ errorRpc.message || 'hex_raw_proposal not created' }}
        </div>
    </form>
</div>
