<div class="container scrolled-content">
    <app-breadcrumbs [items]="breadcrumbItems" class="mb-2"></app-breadcrumbs>

    <form (ngSubmit)="beforeSubmit()" [formGroup]="form" class="form">
        <!-- Sending -->
        <div class="form__row" formGroupName="sending">
            <div class="form__field fixed">
                <label for="sending-amount">
                    {{ 'CREATE_SWAP.FORM.LABELS.LABEL1' | translate }}
                </label>
                <input
                    (contextmenu)="variablesService.onContextMenu($event)"
                    [decimalPoint]="sendingDecimalPoint$ | async"
                    [placeholder]="'CREATE_SWAP.FORM.PLACEHOLDERS.PLACEHOLDER1' | translate"
                    appInputValidate="money"
                    class="form__field--input"
                    formControlName="amount"
                    id="sending-amount"
                    type="text"
                />
                <div
                    *ngIf="isVisibleErrorByControl(form.controls.sending.controls.amount) || isVisibleErrorByForm(form.controls.sending)"
                    class="error"
                >
                    <ng-container *ngIf="form.controls.sending.controls.amount.hasError('zero')">
                        {{ 'SEND.FORM_ERRORS.AMOUNT_ZERO' | translate }}
                    </ng-container>
                    <ng-container *ngIf="form.controls.sending.controls.amount.hasError('required')">
                        {{ 'ERRORS.REQUIRED' | translate }}
                    </ng-container>
                    <ng-container *ngIf="form.controls.sending.hasError('greater_than_maximum_amount')">
                        {{ 'ERRORS.MAX' | translate : { max: form.controls.sending.errors['greater_than_maximum_amount'].max } }}
                    </ng-container>
                    <ng-container *ngIf="form.controls.sending.hasError('insuficcientFunds')">
                        {{ form.controls.sending.errors['insuficcientFunds'].errorText | translate }}
                    </ng-container>
                    <div *ngIf="form.controls.sending.hasError('assetHasNotBeenAddedToWallet')">
                        {{ form.controls.sending.errors['assetHasNotBeenAddedToWallet'].errorText | translate }}
                    </div>
                </div>
            </div>

            <div class="form__field fixed">
                <label> &nbsp; </label>
                <ng-select
                    (change)="form.controls.sending.controls.amount.updateValueAndValidity()"
                    [bindValue]="'asset_id'"
                    [clearable]="false"
                    [items]="sendingAssetsInfo$ | async"
                    [searchable]="false"
                    class="custom-select with-circle"
                    formControlName="asset_id"
                >
                    <ng-template let-assetInfo="item" ng-label-tmp ng-option-tmp>
                        <img [alt]="assetInfo.ticker" [src]="getSrcByAssetInfo(assetInfo)" height="15" width="15" />
                        {{ assetInfo.full_name || '---' }}
                    </ng-template>
                </ng-select>
            </div>
        </div>
        <!-- /Sending -->

        <div class="wrapper-reverse">
            <button (click)="reverse()" [disabled]="currentWallet.isEmptyAssetsInfoWhitelist" class="revers" type="button">
                <mat-icon class="rotate-90" svgIcon="zano-swap"></mat-icon>
            </button>
        </div>

        <!-- Receiving -->
        <div class="form__row" formGroupName="receiving">
            <div class="form__field fixed">
                <label for="receiving-amount">
                    {{ 'CREATE_SWAP.FORM.LABELS.LABEL2' | translate }}
                </label>
                <input
                    [decimalPoint]="receivingDecimalPoint$ | async"
                    [placeholder]="'CREATE_SWAP.FORM.PLACEHOLDERS.PLACEHOLDER1' | translate"
                    appInputValidate="money"
                    class="form__field--input"
                    formControlName="amount"
                    id="receiving-amount"
                    type="text"
                />
                <div
                    *ngIf="
                        isVisibleErrorByControl(form.controls.receiving.controls.amount) || isVisibleErrorByForm(form.controls.receiving)
                    "
                    class="error"
                >
                    <ng-container *ngIf="form.controls.receiving.controls.amount.hasError('required')">
                        {{ 'ERRORS.REQUIRED' | translate }}
                    </ng-container>
                    <ng-container *ngIf="form.controls.receiving.controls.amount.hasError('zero')">
                        {{ 'SEND.FORM_ERRORS.AMOUNT_ZERO' | translate }}
                    </ng-container>
                    <ng-container *ngIf="form.controls.receiving.hasError('greater_than_maximum_amount')">
                        {{ 'ERRORS.MAX' | translate : { max: form.controls.receiving.errors['greater_than_maximum_amount'].max } }}
                    </ng-container>
                    <ng-container *ngIf="form.controls.receiving.hasError('assetHasNotBeenAddedToWallet')">
                        {{ form.controls.receiving.errors['assetHasNotBeenAddedToWallet'].errorText | translate }}
                    </ng-container>
                </div>
            </div>

            <div class="form__field fixed">
                <label> &nbsp; </label>
                <ng-select
                    [bindValue]="'asset_id'"
                    [clearable]="false"
                    [items]="receivingAssetsInfo$ | async"
                    [searchable]="false"
                    class="custom-select with-circle"
                    formControlName="asset_id"
                >
                    <ng-template let-assetInfo="item" ng-label-tmp ng-option-tmp>
                        <img [alt]="assetInfo.ticker" [src]="getSrcByAssetInfo(assetInfo)" height="15" width="15" />
                        {{ assetInfo.full_name || '---' }}
                    </ng-template>
                </ng-select>
                <div
                    *ngIf="
                        form.controls.receiving.controls.asset_id.invalid &&
                        (form.controls.receiving.controls.asset_id.dirty ||
                            form.controls.receiving.controls.asset_id.touched ||
                            form.touched)
                    "
                    class="error"
                >
                    <ng-container *ngIf="form.controls.receiving.controls.asset_id.hasError('sameAssetsId')">
                        {{ 'CREATE_SWAP.FORM.ERRORS.ERROR1' | translate }}
                    </ng-container>
                </div>
            </div>
        </div>
        <!-- /Receiving -->

        <!-- Receiving Address -->
        <div
            *ngIf="{
                items: addressItems$ | async,
                loading: loadingAddressItems$ | async,
                lowerCaseDisabled: lowerCaseDisabled$ | async
            } as vm"
            class="form__field fixed"
        >
            <label for="address">
                {{ 'CREATE_SWAP.FORM.LABELS.LABEL3' | translate }}
                <span class="color-red">*</span>
            </label>

            <input
                (blur)="updateReceiverAddressErrorMessage()"
                (contextmenu)="variablesService.onContextMenu($event)"
                (paste)="pasteListenReceiverAddressField($event)"
                [lowerCaseDisabled]="vm.lowerCaseDisabled"
                [matAutocomplete]="auto"
                [placeholder]="'PLACEHOLDERS.ADDRESS_PLACEHOLDER' | translate"
                class="form__field--input"
                formControlName="receiverAddress"
                lowerCase
                matAutocompletePosition="below"
                type="text"
                id="address"
            />

            <mat-autocomplete #auto="matAutocomplete" class="zano-autocomplete-panel">
                <mat-option *ngIf="vm.loading" class="loading" disabled>
                    <zano-loader class="mx-auto" style="display: block; width: fit-content"></zano-loader>
                </mat-option>

                <mat-option *ngIf="form.controls.receiverAddress.value[0] === '@' && vm.items?.length === 0 && !vm.loading" disabled>
                    <span class="pl-1"> Not found aliases </span>
                </mat-option>

                <ng-container *ngIf="!vm.loading">
                    <mat-option *ngFor="let item of vm.items; trackBy: trackByFn" [value]="item">
                        <!-- Alias -->
                        <ng-container *ngIf="item[0] === '@'; else itemAddressTemplate">
                            <div
                                [ngClass]="{
                                    available: item.length >= 2 && item.length <= 6,
                                    'pl-1': item.length > 6
                                }"
                                class="alias"
                            >
                                {{ item }}
                            </div>
                        </ng-container>
                        <!-- Address -->
                        <ng-template #itemAddressTemplate>
                            <span class="pl-1">{{ item | zanoShortString }}</span>
                        </ng-template>
                    </mat-option>
                </ng-container>
            </mat-autocomplete>

            <div *ngIf="isVisibleErrorByControl(form.controls.receiverAddress)" class="error">
                {{ errorMessages['receiverAddress'] | translate }}
            </div>

            <div *ngIf="aliasAddress" class="info text-ellipsis">
                <span>{{ aliasAddress | zanoShortString }}</span>
            </div>
        </div>
        <!-- /Address -->

        <div class="actions">
            <button [disabled]="form.invalid || (loading$ | async)" class="btn primary big w-100" type="submit">
                <ng-container *ngIf="!(loading$ | async)">{{ 'CREATE_SWAP.FORM.BUTTONS.BUTTON1' | translate }} </ng-container>
                <zano-loader *ngIf="loading$ | async" [type]="'circle'"></zano-loader>
            </button>
            <a class="btn outline big w-100" routerLink="/wallet/swap">{{ 'CREATE_SWAP.FORM.BUTTONS.BUTTON2' | translate }}</a>
        </div>

        <div *ngIf="errorRpc" class="error mt-2">
            {{ 'ERRORS.INVALID_PROPOSAL' | translate }}
        </div>
    </form>
</div>
