.migrate-wallet-to-zarcanum-wrapper {
    padding: 2rem;
    border-radius: 0.8rem;
    background: var(--dialog-background);
    width: 100%;
    max-height: 90vh;
}

.details {
    padding: 0 2rem;
    border-radius: 0.8rem;
    border: var(--table-rounded-corners-border);

    hr {
        border: none;
        border-bottom: var(--table-rounded-corners-border);
    }
}
