<div class="card-token">
	<div class="card-token-logo mr-1">
		<img alt="#" defaultImgAlt="currency" defaultImgSrc="assets/icons/currency-icons/custom_token.svg" src="#"
				 zanoDefaultImg>
	</div>
	<div class="card-token-body">
		<h4 class="title">Wrapped Ethereum</h4>
		<p class="sub-title">3 WETH</p>
	</div>
	<div class="card-token-action ml-1">
		<button #trigger="cdkOverlayOrigin"
						(click)="$event.stopPropagation(); toggleMenuDropdown()"
						[disabled]="false"
						cdkOverlayOrigin
						class="btn-icon circle small"
						type="button">
			<i class="icon dots rotate-90"></i>
		</button>

		<ng-template
			(backdropClick)="$event.stopPropagation(); (openDropdown = false)"
			[cdkConnectedOverlayBackdropClass]="'opacity-0'"
			[cdkConnectedOverlayHasBackdrop]="true"
			[cdkConnectedOverlayOpen]="openDropdown"
			[cdkConnectedOverlayOrigin]="trigger"
			[cdkConnectedOverlayPositions]="[{
				originX: 'end',
				originY: 'top',
				overlayX: 'end',
				overlayY: 'top',
				offsetY: 60
			}]"
			cdkConnectedOverlay
		>
			<ul (click)="openDropdown = false" class="list">
				<li class="item">
					<button [disabled]="false"
									class="w-100 px-2 py-1"
									type="button">
						<i class="icon temp mr-1"></i>
						<span>{{ 'Link 1' | translate }}</span>
					</button>
				</li>
				<li class="item">
					<button [disabled]="false"
									class="w-100 px-2 py-1"
									type="button">
						<i class="icon temp mr-1"></i>
						<span>{{ 'Link 2' | translate }}</span>
					</button>
				</li>
				<li class="item">
					<button [disabled]="false"
									class="w-100 px-2 py-1"
									type="button">
						<i class="icon temp mr-1"></i>
						<span>{{ 'Link 3' | translate }}</span>
					</button>
				</li>
				<li class="item">
					<button [disabled]="false"
									class="w-100 px-2 py-1"
									type="button">
						<i class="icon delete mr-1"></i>
						<span>{{ 'Remove from list' | translate }}</span>
					</button>
				</li>
			</ul>
		</ng-template>
	</div>
</div>
