<div class="container scrolled-content">
  <app-breadcrumbs [items]="breadcrumbItems" class="mb-2"></app-breadcrumbs>

  <form [formGroup]="form" class="form">
    <div class="form__field textarea mb-2">
      <label for="swap-proposal-hex">
        {{ 'CONFIRM_SWAP.FORM.LABELS.LABEL1' | translate }}
      </label>
      <textarea
        [placeholder]="'CONFIRM_SWAP.FORM.PLACEHOLDERS.PLACEHOLDER1' | translate"
        formControlName="hex_raw_proposal"
        id="swap-proposal-hex"
      ></textarea>
    </div>

    <div *ngIf="proposalDetails" class="form__field mb-2">
      <label for="swap-proposal-hex">
        {{ 'CONFIRM_SWAP.FORM.LABELS.LABEL2' | translate }}
      </label>
      <div class="table-info">
        <div class="row">
          <div class="label max-w-19-rem w-100">
            {{ 'CONFIRM_SWAP.FORM.TABLE.LABELS.LABEL1' | translate }}
          </div>
          <div class="text">100 ZANO</div>
        </div>

        <hr class="separator"/>

        <div class="row">
          <div class="label max-w-19-rem w-100">
            {{ 'CONFIRM_SWAP.FORM.TABLE.LABELS.LABEL2' | translate }}
          </div>
          <div class="text">50 CT</div>
        </div>
      </div>
    </div>

    <div class="actions">
      <button (click)="showDialog()" [disabled]="!proposalDetails" class="btn primary big w-100" type="button">
        {{ 'CONFIRM_SWAP.FORM.BUTTONS.BUTTON1' | translate }}
      </button>

      <a class="btn outline big w-100" routerLink="/wallet/swap">
        {{ 'CONFIRM_SWAP.FORM.BUTTONS.BUTTON2' | translate }}
      </a>
    </div>

    <div *ngIf="errorNotDecodeHexRawProposal" class="error mt-2">
      Error code: {{ errorNotDecodeHexRawProposal.code }} <br>
      Error message: {{ errorNotDecodeHexRawProposal.message || 'hex_raw_proposal not decoded' }}
    </div>
  </form>
</div>


<ng-container *ngIf="sendMoneyParams">
  <app-send-modal (confirmed)="confirmed($event)" *ngIf="isModalDialogVisible"
                  [sendMoneyParams]="sendMoneyParams"></app-send-modal>

  <app-send-details-modal
    (eventClose)="handeCloseDetailsModal($event)"
    *ngIf="isModalDetailsDialogVisible"
    [job_id]="job_id"
  ></app-send-details-modal>
</ng-container>
