:host {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.text {
    zano-asset-tag {
        transform: translateY(-0.2rem);
    }
}

.error {
    color: var(--red-500);
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.form__field {
    textarea {
        height: 18rem;
        max-height: 18rem;
    }
}

.actions {
    display: flex;
}
