<div class="modal p-2 border-radius-0_8-rem bg-light-blue max-h-100"
		 fxFlex="0 1 54rem"
		 fxLayout="column">
	<ng-container *ngIf="walletsToPay.length > 1 && !secondStep">
		<div class="content mb-2"
				 fxFlex="0 0 auto"
				 fxLayout="column">
			<div class="form__field"
					 fxFlex="0 0 auto">
				<label>Select wallet for action:</label>
				<ng-select [(ngModel)]="walletToPayId"
									 [clearable]="false"
									 [items]="walletsToPay"
									 [searchable]="false"
									 bindLabel="name"
									 bindValue="wallet_id">
					<ng-template let-item="item"
											 ng-label-tmp>
						{{item.name}}
					</ng-template>
					<ng-template let-index="index"
											 let-item="item"
											 ng-option-tmp>
						{{item.name}}
					</ng-template>
				</ng-select>
			</div>
		</div>

		<div class="controls"
				 fxFlex="0 0 auto"
				 fxLayout="row nowrap"
				 fxLayoutAlign="space-between center"
				 fxLayoutGap="1rem">
			<button (click)="canselAction()"
							class="outline big w-100"
							type="button">{{ 'EXPORT_HISTORY.CANCEL' | translate }}</button>
			<button (click)="nextStep()"
							class="primary big w-100"
							type="submit">Next...
			</button>
		</div>
	</ng-container>

	<ng-container *ngIf="secondStep && marketplaceModalShow && actionData.action === 'marketplace_offer_create'">
		<h4 class="mb-2"
				fxFlex="0 0 auto">
			Creating a marketplace offer
		</h4>
		<div class="content scrolled-content mb-2"
				 fxFlex="1 1 auto"
				 fxLayout="column">
			<div class="table-info"
					 fxFlex="0 0 auto">
				<div class="row">
					<div class="label max-w-19-rem w-100">{{ 'Offer title' | translate }}</div>
					<div class="text">{{ actionData.title }}</div>
				</div>

				<hr class="separator"/>

				<div class="row">
					<div class="label max-w-19-rem w-100">{{ 'Description' | translate }}</div>
					<div class="text">{{ actionData.description }}</div>
				</div>

				<hr class="separator"/>

				<div class="row">
					<div class="label max-w-19-rem w-100">{{ 'Category' | translate }}</div>
					<div class="text">{{ actionData.category }}</div>
				</div>

				<hr class="separator"/>

				<div class="row">
					<div class="label max-w-19-rem w-100">{{ 'Price' | translate }}</div>
					<div class="text">{{actionData.price}} {{this.variablesService.defaultCurrency}}</div>
				</div>

				<hr class="separator"/>

				<div class="row">
					<div class="label max-w-19-rem w-100">{{ 'Preview url' | translate }}</div>
					<div class="text">{{actionData.url || actionData.img_url}}</div>
				</div>

				<hr class="separator"/>

				<div class="row">
					<div class="label max-w-19-rem w-100">{{ 'Contacts' | translate }}</div>
					<div class="text">{{actionData.contact}}</div>
				</div>

				<hr class="separator"/>

				<div class="row">
					<div class="label max-w-19-rem w-100">{{ 'Comments' | translate }}</div>
					<div class="text">{{actionData.comment || actionData.comments}}</div>
				</div>

				<hr class="separator"/>

				<div class="row">
					<div class="label max-w-19-rem w-100">{{ 'Mixins' | translate }}</div>
					<div class="text">{{actionData.mixins || defaultMixin}}</div>
				</div>

				<hr class="separator"/>

				<div class="row">
					<div class="label max-w-19-rem w-100">{{ 'Transaction fee' | translate }}</div>
					<div class="text">
						{{actionData.price * (actionData.fee || this.variablesService.default_fee)}}
						{{this.variablesService.defaultCurrency}}
					</div>
				</div>
			</div>
		</div>

		<div class="controls"
				 fxFlex="0 0 auto"
				 fxLayout="row nowrap"
				 fxLayoutAlign="space-between center"
				 fxLayoutGap="1rem">
			<button (click)="canselAction()"
							class="outline big w-100"
							type="button">{{ 'EXPORT_HISTORY.CANCEL' | translate }}</button>
			<button (click)="marketplaceSend()"
							class="primary big w-100"
							type="submit">Sign & Send...
			</button>
		</div>

	</ng-container>

	<ng-container *ngIf="marketplaceConfirmHash">
		<h4 class="mb-2"
				fxFlex="0 0 auto">
			Operation successful
		</h4>

		<div class="content scrolled-content mb-2"
				 fxFlex="1 1 auto"
				 fxLayout="column">
			<div class="table-info"
					 fxFlex="0 0 auto">
				<div class="row">
					<div class="label max-w-19-rem w-100">{{ 'Operation hash' | translate }}</div>
					<div (contextmenu)="variablesService.onContextMenuOnlyCopy($event, marketplaceConfirmHash)"
							 class="text"
							 fxLayout="row"
							 fxLayoutAlign="start center">
						{{marketplaceConfirmHash}}
						<i (click)="copyHash()"
							 [class.check]="copyAnimation"
							 [class.copy]="!copyAnimation"
							 class="icon ml-1"></i>
					</div>
				</div>
			</div>
		</div>

		<div class="controls"
				 fxFlex="0 0 auto"
				 fxLayout="row"
				 fxLayoutAlign="space-between center">
			<button (click)="canselAction()"
							class="primary big w-100"
							type="button">
				Close
			</button>
		</div>
	</ng-container>

	<ng-container *ngIf="!walletsToPay.length">
		<h4 class="mb-2"
				fxFlex="0 0 auto">
			Your wallets have not loaded yet. Try this action a little later.
		</h4>

		<div class="controls"
				 fxFlex="0 0 auto"
				 fxLayout="row"
				 fxLayoutAlign="space-between center">
			<button (click)="canselAction()"
							class="primary big w-100"
							type="button">
				Ok
			</button>
		</div>
	</ng-container>
</div>
