<div class="page-container">
    <div class="toolbar mb-2">
        <div class="left">
            <app-back-button></app-back-button>
            <h1 class="ml-2">{{ 'BREADCRUMBS.ADD_WALLET' | translate }}</h1>
        </div>
        <div class="right"></div>
    </div>

    <div class="page-content">
        <app-breadcrumbs class="mb-2" [items]="breadcrumbItems"></app-breadcrumbs>

        <div class="scrolled-content">
            <form [formGroup]="form" class="form" (ngSubmit)="restore()">
                <!-- Name -->
                <div class="form__field">
                    <label for="name">{{ 'RESTORE_WALLET.LABEL_NAME' | translate }}</label>
                    <input
                        (contextmenu)="variablesService.onContextMenu($event)"
                        [placeholder]="'PLACEHOLDERS.WALLET_NAME_PLACEHOLDER' | translate"
                        class="form__field--input"
                        formControlName="name"
                        id="name"
                        type="text"
                    />
                    <ng-container *ngIf="form.get('name') as control">
                        <div *ngIf="control | isVisibleControlError" class="error">
                            <div *ngIf="control.hasError('duplicate')">
                                {{ 'RESTORE_WALLET.FORM_ERRORS.NAME_DUPLICATE' | translate }}
                            </div>
                            <div *ngIf="control.hasError('maxlength')">
                                {{ 'RESTORE_WALLET.FORM_ERRORS.MAX_LENGTH' | translate }}
                            </div>
                            <div *ngIf="control.hasError('required')">
                                {{ 'RESTORE_WALLET.FORM_ERRORS.NAME_REQUIRED' | translate }}
                            </div>
                        </div>
                    </ng-container>
                </div>

                <!-- Password -->
                <div class="form__field">
                    <label for="password">{{ 'RESTORE_WALLET.PASS' | translate }}</label>
                    <input
                        (contextmenu)="variablesService.onContextMenuPasteSelect($event)"
                        class="form__field--input"
                        formControlName="password"
                        id="password"
                        [placeholder]="'PLACEHOLDERS.WALET_PASSWORD_PLACEHOLDER' | translate"
                        type="password"
                    />
                    <ng-container *ngIf="form.get('password') as control">
                        <div *ngIf="control | isVisibleControlError" class="error">
                            <div *ngIf="control.hasError('pattern')">
                                {{ 'ERRORS.WRONG_PASSWORD' | translate }}
                            </div>
                        </div>
                    </ng-container>
                </div>

                <!-- Confirm Password -->
                <div class="form__field">
                    <label for="confirm">{{ 'RESTORE_WALLET.CONFIRM' | translate }}</label>
                    <input
                        (contextmenu)="variablesService.onContextMenuPasteSelect($event)"
                        class="form__field--input"
                        formControlName="confirm"
                        id="confirm"
                        [placeholder]="'PLACEHOLDERS.CONFIRM_WALET_PASSWORD_PLACEHOLDER' | translate"
                        type="password"
                    />
                    <div *ngIf="form.hasError('mismatch')" class="error">
                        {{ 'RESTORE_WALLET.FORM_ERRORS.CONFIRM_NOT_MATCH' | translate }}
                    </div>
                </div>

                <!-- Seed phrase -->
                <div class="form__field">
                    <label for="seed-phrase">{{ 'RESTORE_WALLET.LABEL_PHRASE_KEY' | translate }}</label>
                    <input
                        (contextmenu)="variablesService.onContextMenu($event)"
                        [placeholder]="'PLACEHOLDERS.SEED_PHRASE_PLACEHOLDER' | translate"
                        class="form__field--input"
                        formControlName="seedPhrase"
                        id="seed-phrase"
                        type="text"
                    />
                    <ng-container *ngIf="form.get('seedPhrase') as control">
                        <div
                            *ngIf="(control.invalid || !this.seedPhraseInfo?.syntax_correct) && (control.dirty || control.touched)"
                            class="error"
                        >
                            <div *ngIf="control.hasError('required')">
                                {{ 'RESTORE_WALLET.FORM_ERRORS.KEY_REQUIRED' | translate }}
                            </div>
                            <div *ngIf="control.hasError('password_seed_phrase_not_valid') && seedPhraseInfo.require_password">
                                {{ 'RESTORE_WALLET.FORM_ERRORS.PASSWORD_SEED_PHRASE_INCORRECT' | translate }}
                            </div>
                            <div *ngIf="!this.seedPhraseInfo?.syntax_correct">
                                {{ 'RESTORE_WALLET.FORM_ERRORS.SEED_PHRASE_IS_NO_VALID' | translate }}
                            </div>
                        </div>
                    </ng-container>
                </div>

                <!-- Seed password -->
                <ng-container *ngIf="seedPhraseInfo">
                    <ng-container *ngIf="seedPhraseInfo.syntax_correct && seedPhraseInfo.require_password">
                        <div class="form__field">
                            <label for="seed-password">{{ 'RESTORE_WALLET.SEED_PASSWORD' | translate }}</label>
                            <input
                                class="form__field--input"
                                formControlName="seedPassword"
                                [ngClass]="{
                                    invalid: !seedPhraseInfo.hash_sum_matched
                                }"
                                id="seed-password"
                                [placeholder]="'PLACEHOLDERS.SEED_PHRASE_PLACEHOLDER' | translate"
                                type="password"
                            />
                            <ng-container *ngIf="form.get('seedPassword') as control">
                                <div *ngIf="(control.dirty || control.touched) && !seedPhraseInfo.hash_sum_matched" class="error">
                                    <span>{{ 'RESTORE_WALLET.FORM_ERRORS.INCORRECT_PASSWORD' | translate }}</span>
                                </div>
                            </ng-container>
                            <div *ngIf="seedPhraseInfo.hash_sum_matched" class="success">
                                <span>{{ 'RESTORE_WALLET.OK' | translate }}</span>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>

                <button (click)="selectLocation()" [disabled]="invalidSeedPhraseInfo" class="outline big w-100 mb-2" type="button">
                    {{ selectedLocationWalletName ?? 'RESTORE_WALLET.BUTTON_SELECT' | translate }}
                </button>

                <button type="submit" [disabled]="isDisabledCreatedWallet" class="primary big w-100 mb-2">
                    {{ 'RESTORE_WALLET.BUTTON_CREATE' | translate }}
                </button>
            </form>
        </div>
    </div>
</div>
