<div aria-describedby="restore-wallet-description" class="page-container">
    <p class="sr-only" id="restore-wallet-description">
        {{ 'ACCESSIBILITY.RESTORE_WALLET.DESCRIPTIONS.DESCRIPTION1' | translate }}
    </p>

    <section class="toolbar mb-2">
        <div class="left">
            <app-back-button></app-back-button>
            <h1 aria-live="assertive" class="ml-2">{{ 'BREADCRUMBS.ADD_WALLET' | translate }}</h1>
        </div>
        <div class="right"></div>
    </section>

    <section class="page-content">
        <app-breadcrumbs [items]="breadcrumbItems" class="mb-2"></app-breadcrumbs>

        <div class="scrolled-content">
            <form (ngSubmit)="restore()" [formGroup]="form" class="form" role="form">
                <!-- Name -->
                <fieldset class="form__field fixed">
                    <label for="name">{{ 'RESTORE_WALLET.LABEL_NAME' | translate }}</label>
                    <input
                        (contextmenu)="variablesService.onContextMenu($event)"
                        [attr.aria-describedby]="'name-error'"
                        [placeholder]="'PLACEHOLDERS.WALLET_NAME_PLACEHOLDER' | translate"
                        appAutofocus
                        autofocus
                        class="form__field--input"
                        formControlName="name"
                        id="name"
                        type="text"
                    />

                    <div *ngIf="form.controls.name | isVisibleControlError" aria-live="assertive" class="error"
                         id="name-error">
                        <div *ngIf="form.controls.name.hasError('duplicate')">
                            {{ 'RESTORE_WALLET.FORM_ERRORS.NAME_DUPLICATE' | translate }}
                        </div>
                        <div *ngIf="form.controls.name.hasError('maxlength')">
                            {{ 'RESTORE_WALLET.FORM_ERRORS.MAX_LENGTH' | translate }}
                        </div>
                        <div *ngIf="form.controls.name.hasError('required')">
                            {{ 'RESTORE_WALLET.FORM_ERRORS.NAME_REQUIRED' | translate }}
                        </div>
                    </div>
                </fieldset>

                <!-- Password -->
                <fieldset class="form__field">
                    <label for="password">{{ 'RESTORE_WALLET.PASS' | translate }}</label>
                    <input
                        (contextmenu)="variablesService.onContextMenuPasteSelect($event)"
                        [attr.aria-describedby]="'password-error'"
                        [placeholder]="'PLACEHOLDERS.WALLET_PASSWORD_PLACEHOLDER' | translate"
                        class="form__field--input"
                        formControlName="password"
                        id="password"
                        type="password"
                    />
                    <div *ngIf="form.controls.password | isVisibleControlError" aria-live="assertive" class="error"
                         id="password-error">
                        <div *ngIf="form.controls.password.hasError('pattern')">
                            {{ 'ERRORS.REGEXP_INVALID_PASSWORD' | translate }}
                        </div>
                    </div>
                </fieldset>

                <!-- Confirm Password -->
                <fieldset class="form__field fixed">
                    <label for="confirm">{{ 'RESTORE_WALLET.CONFIRM' | translate }}</label>
                    <input
                        (contextmenu)="variablesService.onContextMenuPasteSelect($event)"
                        [attr.aria-describedby]="'confirm-error'"
                        [placeholder]="'PLACEHOLDERS.CONFIRM_WALLET_PASSWORD_PLACEHOLDER' | translate"
                        class="form__field--input"
                        formControlName="confirm"
                        id="confirm"
                        type="password"
                    />
                    <div *ngIf="form.hasError('mismatch')" aria-live="assertive" class="error" id="confirm-error">
                        {{ 'RESTORE_WALLET.FORM_ERRORS.CONFIRM_NOT_MATCH' | translate }}
                    </div>
                </fieldset>

                <!-- Seed phrase -->
                <fieldset class="form__field fixed">
                    <label for="seed-phrase">{{ 'RESTORE_WALLET.LABEL_PHRASE_KEY' | translate }}</label>
                    <input
                        (contextmenu)="variablesService.onContextMenu($event)"
                        (paste)="handlePaste($event)"
                        [attr.aria-describedby]="'seed-phrase-error'"
                        [placeholder]="'PLACEHOLDERS.SEED_PHRASE_PLACEHOLDER' | translate"
                        class="form__field--input"
                        formControlName="seedPhrase"
                        id="seed-phrase"
                        type="text"
                    />
                    <div
                        *ngIf="form.controls.seedPhrase | isVisibleControlError"
                        aria-live="assertive"
                        class="error"
                        id="seed-phrase-error"
                    >
                        <div
                            *ngIf="form.controls.seedPhrase.hasError('required'); else errorSyntaxIncorrectTemplate"
                        >
                            {{ 'ERRORS.REQUIRED' | translate }}
                        </div>

                        <ng-template #errorSyntaxIncorrectTemplate>
                            <div *ngIf="form.controls.seedPhrase.hasError('syntax_incorrect')">
                                {{ 'RESTORE_WALLET.FORM_ERRORS.SEED_PHRASE_IS_NO_VALID' | translate }}
                            </div>
                        </ng-template>
                    </div>
                </fieldset>

                <!-- Seed password -->
                <fieldset *ngIf="seedPhraseInfo && seedPhraseInfo.syntax_correct && seedPhraseInfo.require_password"
                          class="form__field fixed">
                    <label for="seed-password">{{ 'RESTORE_WALLET.SEED_PASSWORD' | translate }}</label>
                    <input
                        [attr.aria-describedby]="'seed-password-error'"
                        [placeholder]="'PLACEHOLDERS.SEED_PHRASE_PLACEHOLDER' | translate"
                        class="form__field--input"
                        formControlName="seedPassword"
                        id="seed-password"
                        type="password"
                    />
                    <div
                        *ngIf="form.controls.seedPassword | isVisibleControlError"
                        aria-live="assertive"
                        class="error"
                        id="seed-password-error"
                    >
                        <span>{{ 'RESTORE_WALLET.FORM_ERRORS.INCORRECT_PASSWORD' | translate }}</span>
                    </div>

                    <div *ngIf="seedPhraseInfo.hash_sum_matched" aria-live="assertive" class="success">
                        <span>{{ 'RESTORE_WALLET.OK' | translate }}</span>
                    </div>
                </fieldset>

                <button (click)="selectLocation()" [disabled]="isDisableSelectLocation" class="outline big w-100 mb-2"
                        type="button">
                    {{ (selectedLocationWalletName ?? 'RESTORE_WALLET.BUTTON_SELECT') | translate }}
                </button>

                <button [disabled]="isDisabledCreatedWallet" class="primary big w-100 mb-2" type="submit">
                    {{ 'RESTORE_WALLET.BUTTON_CREATE' | translate }}
                </button>
            </form>
        </div>
    </section>
</div>
