app-send-details-modal {
  .status {
    .image {
      max-width: 13rem;
      max-height: 13rem;
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .details {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: var(--default-border-radius);
    overflow: hidden;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;
      min-height: 4rem;
      max-height: 4rem;
      overflow: hidden;
      padding: 1rem 2rem;
      width: 100%;
      background-color: var(--light-blue-details);
      cursor: pointer;
    }

    &-wrapper {
      max-height: 35rem;
      background-color: var(--light-blue-details);
      overflow-y: auto;
      scroll-behavior: smooth;
    }

    &-list {
      padding: 1rem 2rem;

      .item {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        margin-bottom: 1.2rem;

        .image {
          max-width: 1.5rem;
          max-height: 1.5rem;
          width: 100%;
          height: 100%;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

}
