<div class="container scrolled-content" fxFlex="1 1 auto">
  <form
    (ngSubmit)="showDialog()"
    *ngIf="!isLoading"
    [formGroup]="sendForm"
    class="form"
    fxFlex="0 1 50rem"
    fxLayout="column"
    fxLayoutAlign="start stretch"
  >
    <div class="form__field--row">
      <div class="form__field form__field-dropdown">
        <label for="send-address">{{ 'SEND.ADDRESS' | translate }}</label>
        <input
          (contextmenu)="variablesService.onContextMenu($event)"
          (input)="addressToLowerCase()"
          (mousedown)="addressMouseDown($event)"
          [placeholder]="'PLACEHOLDERS.ADRESS_PLACEHOLDER' | translate"
          class="form__field--input"
          formControlName="address"
          id="send-address"
          type="text"
        />

        <div
          *ngIf="isOpen && !!localAliases.length"
          class="dropdown py-0_5 border-radius-0_8-rem bg-light-blue-details"
        >
          <div
            (click)="setAlias(item.name)"
            *ngFor="let item of localAliases"
            class="item"
          >
            <div
              [class.available]="item.name.length >= 2 && item.name.length <= 6"
              [class.pl-1]="item.name.length > 6"
              class="alias"
            >
              <div class="text-ellipsis">{{ item.name }}</div>
            </div>
          </div>
        </div>

        <div
          *ngIf="
            sendForm.controls['address'].invalid &&
            (sendForm.controls['address'].dirty ||
              sendForm.controls['address'].touched)
          "
          class="error"
        >
          <div *ngIf="sendForm.controls['address'].errors['address_not_valid']">
            {{ 'SEND.FORM_ERRORS.ADDRESS_NOT_VALID' | translate }}
          </div>
          <div *ngIf="sendForm.controls['address'].errors['alias_not_valid']">
            {{ 'SEND.FORM_ERRORS.ALIAS_NOT_VALID' | translate }}
          </div>
          <div *ngIf="sendForm.controls['address'].hasError('required')">
            {{ 'SEND.FORM_ERRORS.ADDRESS_REQUIRED' | translate }}
          </div>
        </div>
        <div *ngIf="currentAliasAddress" class="info text-ellipsis">
          <span>{{ getShorterAddress() }}</span>
        </div>
      </div>

      <div class="form__field">
        <label for="send-amount">{{ 'SEND.AMOUNT' | translate }}</label>
        <input
          (contextmenu)="variablesService.onContextMenu($event)"
          [placeholder]="'PLACEHOLDERS.AMOUNT_PLACEHOLDER' | translate"
          appInputValidate="money"
          class="form__field--input"
          formControlName="amount"
          id="send-amount"
          type="text"
        />
        <div
          *ngIf="
            sendForm.controls['amount'].invalid &&
            (sendForm.controls['amount'].dirty ||
              sendForm.controls['amount'].touched)
          "
          class="error"
        >
          <div *ngIf="sendForm.controls['amount'].errors['zero']">
            {{ 'SEND.FORM_ERRORS.AMOUNT_ZERO' | translate }}
          </div>
          <div
            *ngIf="
              sendForm.controls['amount'].errors['great_than_unwraped_coins']
            "
          >
            {{ 'SEND.FORM_ERRORS.GREAT_THAN_UNWRAPPED_COINS' | translate }}
          </div>
          <div
            *ngIf="sendForm.controls['amount'].errors['less_than_zano_needed']"
          >
            {{ 'SEND.FORM_ERRORS.LESS_THAN_ZANO_NEEDED' | translate }}
          </div>
          <div *ngIf="sendForm.controls['amount'].errors['wrap_info_null']">
            {{ 'SEND.FORM_ERRORS.WRAP_INFO_NULL' | translate }}
          </div>
          <div *ngIf="sendForm.controls['amount'].hasError('required')">
            {{ 'SEND.FORM_ERRORS.AMOUNT_REQUIRED' | translate }}
          </div>
        </div>
      </div>
    </div>

    <div class="form__field">
      <label for="send-comment">{{ 'SEND.COMMENT' | translate }}</label>
      <input
        (contextmenu)="variablesService.onContextMenu($event)"
        [maxLength]="variablesService.maxCommentLength"
        class="form__field--input"
        formControlName="comment"
        id="send-comment"
        placeholder="{{ 'PLACEHOLDERS.COMMENT_PLACEHOLDER' | translate }}"
        type="text"
      />
      <div
        *ngIf="
          sendForm.get('comment').value &&
          sendForm.get('comment').value.length >=
            variablesService.maxCommentLength
        "
        class="error"
      >
        {{ 'SEND.FORM_ERRORS.MAX_LENGTH' | translate }}
      </div>
    </div>

    <div
      *ngIf="isWrapShown && wrapInfo && !isLoading"
      class="wrap mt-2 mb-2 p-2"
    >
      <div class="title">
        {{ 'SEND.WRAP.TITLE' | translate }}
        <i class="icon info-circle"></i>
      </div>
      <div class="text-wrap">
        {{ 'SEND.WRAP.MAIN_TEXT' | translate }}
      </div>
      <div class="title">{{ 'SEND.WRAP.ESTIMATE' | translate }}</div>
      <table class="text-wrap">
        <tr>
          <td>{{ 'SEND.WRAP.WILL_RECEIVE' | translate }}</td>
          <td *ngIf="!sendForm.controls['amount'].errors">
            {{ getReceivedValue() | intToMoney }}
            {{ 'SEND.WRAP.wZANO' | translate }}
          </td>
          <td *ngIf="sendForm.controls['amount'].errors">-</td>
        </tr>
        <tr>
          <td>{{ 'SEND.WRAP.FEE' | translate }}</td>
          <td>
            {{ wrapInfo?.tx_cost?.zano_needed_for_erc20 | intToMoney: 3 }}
            {{ 'SEND.WRAP.ZANO' | translate }}(${{
              wrapInfo?.tx_cost?.usd_needed_for_erc20
            }})
          </td>
        </tr>
      </table>
    </div>

    <div class="details mb-2">
      <button
        (click)="toggleOptions()"
        [class.border-radius-all]="!additionalOptions"
        class="header"
        type="button"
      >
        <span>{{ 'SEND.DETAILS' | translate }}</span>
        <i
          [class.dropdown-arrow-down]="!additionalOptions"
          [class.dropdown-arrow-up]="additionalOptions"
          class="icon ml-1"
        ></i>
      </button>

      <div *ngIf="additionalOptions" class="content">
        <div class="form__field--row">
          <div class="form__field">
            <label for="send-mixin">{{ 'SEND.MIXIN' | translate }}</label>
            <input
              (contextmenu)="variablesService.onContextMenu($event)"
              [placeholder]="'PLACEHOLDERS.AMOUNT_PLACEHOLDER' | translate"
              appInputValidate="integer"
              class="form__field--input"
              formControlName="mixin"
              id="send-mixin"
              type="text"
            />
            <div
              *ngIf="
                sendForm.controls['mixin'].invalid &&
                (sendForm.controls['mixin'].dirty ||
                  sendForm.controls['mixin'].touched)
              "
              class="error"
            >
              <div *ngIf="sendForm.controls['mixin'].hasError('required')">
                {{ 'SEND.FORM_ERRORS.AMOUNT_REQUIRED' | translate }}
              </div>
            </div>
          </div>

          <div class="form__field">
            <label for="send-fee">{{ 'SEND.FEE' | translate }}</label>
            <input
              (contextmenu)="variablesService.onContextMenu($event)"
              [placeholder]="'PLACEHOLDERS.FEE_PLACEHOLDER' | translate"
              appInputValidate="money"
              class="form__field--input"
              formControlName="fee"
              id="send-fee"
              type="text"
            />
            <div
              *ngIf="
                sendForm.controls['fee'].invalid &&
                (sendForm.controls['fee'].dirty ||
                  sendForm.controls['fee'].touched)
              "
              class="error"
            >
              <div *ngIf="sendForm.controls['fee'].errors['less_min']">
                {{
                  'SEND.FORM_ERRORS.FEE_MINIMUM'
                    | translate: { fee: variablesService.default_fee }
                }}
              </div>
              <div *ngIf="sendForm.controls['fee'].hasError('required')">
                {{ 'SEND.FORM_ERRORS.FEE_REQUIRED' | translate }}
              </div>
            </div>
          </div>
        </div>

        <app-checkbox
          [label]="'SEND.HIDE' | translate"
          [value]="hideWalletAddress || sendForm.controls['hide'].value"
          class="mt-1"
          formControlName="hide"
        ></app-checkbox>
      </div>
    </div>

    <button
      [disabled]="!sendForm.valid || !variablesService.currentWallet.loaded"
      class="primary big max-w-19-rem w-100"
      type="submit"
    >
      {{ 'SEND.BUTTON' | translate }}
    </button>
  </form>
</div>

<app-send-modal
  (confirmed)="confirmed($event)"
  *ngIf="isModalDialogVisible"
  [form]="sendForm"
></app-send-modal>

<app-send-details-modal
  (close)="handeCloseDetailsModal()"
  *ngIf="isModalDetailsDialogVisible"
  [job_id]="job_id"
></app-send-details-modal>
