<div class="container">
    <div class="wrap-qr mb-2">
        <img src="{{qrImageSrc}}"
             alt="qr-code">
    </div>

    <div class="address p-1">
        <span class="text-ellipsis mr-1">{{variablesService.currentWallet.address}}</span>
        <button (click)="copyAddress()"
                class="btn-icon circle small">
            <i class="icon small"
               [class.copy]="!copyAnimation"
               [class.check]="copyAnimation"></i>
        </button>
    </div>
</div>
