<div class="container flex flex__direction-column flex__justify-center flex__align-center w-100 h-100 overflow-auto">
    <div class="wrap-qr flex flex__direction-column flex__align-center overflow-hidden border-radius-0_8-rem mb-2">
        <img src="{{qrImageSrc}}"
             alt="qr-code">
    </div>

    <div class="address flex flex__align-center border-radius-0_8-rem overflow-hidden p-1">
        <span class="text-ellipsis mr-1">{{variablesService.currentWallet.address}}</span>
        <button (click)="copyAddress()"
                class="btn-icon circle small">
            <i class="icon small"
               [class.copy]="!copyAnimation"
               [class.check]="copyAnimation"></i>
        </button>
    </div>
</div>
