<div class="page-container">

	<div class="toolbar mb-2">
		<div class="left">
			<button (click)="back()"
							class="btn-icon circle big mr-2"
							type="button">
				<i class="icon dropdown-arrow-left"></i>
			</button>
			<h1>{{ 'CONTACTS.TITLE' | translate }}</h1>
		</div>
		<div class="right"></div>
	</div>

	<div class="page-content">
		<div fxFlex="1 1 auto" fxLayout="row">
			<ng-container *ngIf="this.variablesService.contacts.length !== 0; else emptyList">
				<div class="contacts w-100"
						 fxLayout="column"
						 fxLayoutAlign="start stretch"
						 fxLayoutGap="2rem">
					<div class="wrap-table scrolled-content"
							 fxFlex="1 1 auto"
							 fxLayout="column">
						<table class="contacts-table">
							<thead>
							<tr #head
									(window:resize)="calculateWidth()">
								<th>
									<div class="bg title">{{ 'CONTACTS.TABLE.NAME' | translate }}</div>
								</th>
								<th>
									<div class="bg title">{{ 'CONTACTS.TABLE.ALIAS' | translate }}</div>
								</th>
								<th>
									<div class="bg title">{{ 'CONTACTS.TABLE.ADDRESS' | translate }}</div>
								</th>
								<th>
									<div class="bg title">{{ 'CONTACTS.TABLE.NOTES' | translate }}</div>
								</th>
								<th>
									<div class="bg title">&nbsp;</div>
								</th>
							</tr>
							<div class="row-divider"></div>
							</thead>
							<tbody>
							<ng-container *ngFor="let contact of this.variablesService.contacts; let i = index">
								<tr>
									<td>
										{{ contact.name }}
									</td>
									<td>
										<ng-container *ngIf="contact.alias">
											<span>{{ contact.alias }}</span>
										</ng-container>
									</td>
									<td (contextmenu)="variablesService.onContextMenuOnlyCopy($event, contact.address)"
											class="remote-address">
										{{ contact.address | slice:0:6 }}...{{ contact.address | slice:-6 }}
									</td>
									<td class="remote-notes">
										{{ contact.notes }}
									</td>
									<td>
										<div class="button-wrapper">
											<button [queryParams]="{ address: contact.address }"
															[routerLink]="['/contact-send/' + i]"
															class="btn-icon small circle">
												<i class="icon arrow-up-square"></i>
											</button>
											<button [queryParams]="{ id: i }"
															[routerLink]="['/edit-contacts/' + i]"
															class="btn-icon small circle">
												<i class="icon edit-square"></i>
											</button>
											<button (click)="delete(i)"
															class="btn-icon small circle">
												<i class="icon delete"></i>
											</button>
										</div>
									</td>
								</tr>
								<div class="row-divider"></div>
							</ng-container>
							</tbody>
						</table>
					</div>
					<ng-container *ngTemplateOutlet="tempButtonAdd"></ng-container>
				</div>
			</ng-container>
		</div>
	</div>
</div>

<ng-template #emptyList>
	<div class="empty-list w-100"
			 fxLayout="column"
			 fxLayoutAlign="center center">
		<h4 class="mb-2">{{ 'CONTACTS.TABLE.EMPTY' | translate }}</h4>
		<ng-container *ngTemplateOutlet="tempButtonAdd"></ng-container>
	</div>
</ng-template>

<ng-template #tempButtonAdd>
	<button [routerLink]="['/add-contacts']"
					class="primary big w-100 max-w-19-rem">
		{{ 'CONTACTS.BUTTON.ADD' | translate }}
	</button>
</ng-template>
