.breadcrumbs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    flex: 0 0 auto;

    &.scrolled {
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    .breadcrumb {
        flex: 0 0 auto;
        overflow: hidden;
        text-overflow: ellipsis;

        > span,
        .link {
            white-space: nowrap;
            outline-style: none;
            transition: opacity 0.2s ease-in-out;
            opacity: 0.75;
        }

        .link {
            cursor: pointer;
        }

        &:last-child,
        &:hover {
            > span,
            .link {
                opacity: 1;
            }
        }

        &:not(:last-child) {
            position: relative;
            padding-right: 3.5rem;

            &:after {
                content: "";
                display: block;
                position: absolute;
                top: 0.6rem;
                right: 1.4rem;
                width: 0.8rem;
                height: 0.8rem;
                border-right: 1px solid;
                border-top: 1px solid;
                transform: rotate(45deg);
            }
        }
    }
}
