<div class="auth"
     fxLayout="row"
     fxLayoutAlign="center center"
     fxFlexFill>
    <div
          class="card max-w-42-rem max-h-100 w-100 p-2 border-radius-0_8-rem bg-light-blue overflow-x-hidden">

        <div class="logo border-radius-0_8-rem overflow-hidden mb-3"
             fxLayout="row"
             fxLayoutAlign="center center">
            <img src="assets/icons/blue/zano-logo.svg"
                 alt="zano-logo">
        </div>

        <form *ngIf="type === 'reg'"
              class="form bg-light-blue-details"
              [formGroup]="regForm"
              (ngSubmit)="onSubmitCreatePass()">
            <div
                  class="form__field--wrapper pt-2 pl-2 pr-2 pb-1 mb-2 bg-light-blue-details border-radius-0_8-rem overflow-hidden">
                <div class="form__field mb-2">
                    <label for="master-pass">{{ 'LOGIN.SETUP_MASTER_PASS' | translate }}</label>
                    <input class="form__field--input"
                           type="password"
                           id="master-pass"
                           formControlName="password"
                           placeholder="{{ 'PLACEHOLDERS.MASTER_PASS_PLACEHOLDER' | translate }}"
                           (contextmenu)="variablesService.onContextMenuPasteSelect($event)">
                    <div class="error"
                         *ngIf="regForm.controls['password'].dirty && regForm.controls['password'].errors">
                        <div *ngIf="regForm.controls['password'].errors.pattern">
                            {{ 'ERRORS.WRONG_PASSWORD' | translate }}
                        </div>
                    </div>
                </div>

                <div class="form__field">
                    <label for="confirm-pass">{{ 'LOGIN.SETUP_CONFIRM_PASS' | translate }}</label>
                    <input class="form__field--input"
                           type="password"
                           id="confirm-pass"
                           placeholder="{{ 'PLACEHOLDERS.PLACEHOLDER_CONFIRM' | translate }}"
                           formControlName="confirmation"
                           (contextmenu)="variablesService.onContextMenuPasteSelect($event)">
                    <div class="error"
                         *ngIf="regForm.controls['password'].dirty && regForm.controls['confirmation'].dirty && regForm.errors">
                        <div *ngIf="regForm.errors['mismatch']">
                            {{ 'LOGIN.FORM_ERRORS.MISMATCH' | translate }}
                        </div>
                    </div>
                </div>
            </div>

            <button type="submit"
                    class="primary big w-100 mb-1"
                    [disabled]="!regForm.controls['password'].value.length || !regForm.controls['confirmation'].value.length || (regForm.errors && regForm.errors['mismatch']) || regForm.controls['password'].errors">{{
                'LOGIN.BUTTON_NEXT' | translate }}</button>

            <button type="button"
                    class="primary big w-100"
                    (click)="onSkipCreatePass()"
                    [disabled]="regForm.controls['password'].value.length || regForm.controls['confirmation'].value.length">{{
                'LOGIN.BUTTON_SKIP' | translate }}</button>

        </form>

        <form *ngIf="type !== 'reg'"
              class="form"
              [formGroup]="authForm"
              (ngSubmit)="onSubmitAuthPass()">
            <div
                  class="form__field--wrapper pt-2 pl-2 pr-2 pb-1 mb-2 bg-light-blue-details border-radius-0_8-rem overflow-hidden">
                <div class="form__field">
                    <label for="master-pass-login">{{ 'LOGIN.MASTER_PASS' | translate }}</label>
                    <input class="form__field--input"
                           type="password"
                           id="master-pass-login"
                           [placeholder]="'PLACEHOLDERS.MASTER_PASS_PLACEHOLDER' | translate"
                           formControlName="password"
                           autofocus
                           (contextmenu)="variablesService.onContextMenuPasteSelect($event)">
                    <div class="error"
                         *ngIf="authForm.controls['password'].invalid && (authForm.controls['password'].dirty || authForm.controls['password'].touched)">
                        <div *ngIf="authForm.controls['password'].hasError('wrong_password')">
                            {{ 'LOGIN.FORM_ERRORS.INVALID_PASS' | translate }}
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit"
                    class="primary big w-100 mb-1">
                {{'LOGIN.BUTTON_NEXT' | translate }}</button>

            <button type="button"
                    class="outline big w-100"
                    (click)="dropSecureAppData()">
                {{ 'LOGIN.BUTTON_RESET' | translate }}</button>
        </form>
    </div>

    <app-synchronization-status class="max-w-19-rem"></app-synchronization-status>
</div>
