<div
  class="header mb-2"
  fxFlex="0 0 auto"
  fxLayout="row nowrap"
  fxLayoutAlign="space-between start"
  fxLayoutGap="1rem"
>
  <div class="left overflow-hidden">
    <div class="wallet-wrapper" fxLayout="column" fxLayoutAlign="start start">
      <div class="title" fxLayout="row nowrap" fxLayoutAlign="start center">
        <h1
          class="text-ellipsis mr-1"
        >
          {{ variablesService.currentWallet.address | zanoShortString }}
        </h1>

        <app-copy-button
          [delay]="150"
          [placement]="'bottom'"
          [timeout]="0"
          [tooltipClass]="'table-tooltip'"
          [tooltip]="variablesService.currentWallet.address"
          [value]="variablesService.currentWallet.address"
          class="mr-1"
        >
        </app-copy-button>

        <div
          *ngIf="!variablesService.currentWallet.is_auditable"
          class="controls"
          fxFlex="0 0 auto"
          fxLayout="row"
          fxLayoutAlign="start center"
        >
          <ng-container
            *ngIf="
              !variablesService.currentWallet.alias.hasOwnProperty('name') &&
              variablesService.currentWallet.loaded &&
              variablesService.daemon_state === 2 &&
              variablesService.currentWallet.alias_available
            "
          >
            <button
              [routerLink]="['/assign-alias']"
              class="px-1 py-0_5 bg-light-gray"
            >
              {{ 'WALLET.REGISTER_ALIAS' | translate }}
            </button>
          </ng-container>

          <ng-container
            *ngIf="
              variablesService.currentWallet.alias.hasOwnProperty('name') &&
              variablesService.currentWallet.loaded &&
              variablesService.daemon_state === 2
            "
          >
            <div
              [class.available]="
                variablesService.currentWallet.alias | isAvailableAliasName
              "
              class="alias mr-1"
            >
              {{ variablesService.currentWallet.alias.name }}
            </div>

            <ng-container
              *ngIf="variablesService.currentWallet.alias_available"
            >
              <button
                [delay]="500"
                [routerLink]="['/edit-alias']"
                [timeDelay]="500"
                class="btn-icon circle small mr-1"
                placement="bottom-right"
                tooltip="{{ 'WALLET.TOOLTIPS.EDIT_ALIAS' | translate }}"
                tooltipClass="table-tooltip account-tooltip"
              >
                <i class="icon edit-square"></i>
              </button>

              <button
                [delay]="500"
                [routerLink]="['/transfer-alias']"
                [timeDelay]="500"
                class="btn-icon circle small"
                placement="right"
                tooltip="{{ 'WALLET.TOOLTIPS.TRANSFER_ALIAS' | translate }}"
                tooltipClass="table-tooltip account-tooltip"
              >
                <i class="icon arrow-up-square"></i>
              </button>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="dropdown">
      <button
        (click)="$event.stopPropagation(); toggleMenuDropdown()"
        [disabled]="
          settingsButtonDisabled && !variablesService.currentWallet.loaded
        "
        class="btn-icon circle big"
        data-target="wallet-dropdown-button"
      >
        <i class="icon dots"></i>
      </button>
      <div *ngIf="openDropdown" class="content-bottom-right py-0_5">
        <ul class="list">
          <li class="item">
            <button
              [delay]="500"
              [disabled]="!variablesService.currentWallet.loaded"
              [routerLink]="['/details']"
              [timeDelay]="500"
              class="w-100 px-2 py-1"
              placement="left"
              routerLinkActive="active"
              tooltip="{{ 'WALLET.TOOLTIPS.SETTINGS' | translate }}"
              tooltipClass="table-tooltip account-tooltip"
              type="button"
            >
              <i class="icon settings mr-1"></i>
              <span>{{ 'WALLET_DETAILS.WALLET_OPTIONS' | translate }}</span>
            </button>
          </li>
          <li class="item">
            <button
              (click)="stateVisibleAddCustomToken = true"
              [delay]="500"
              [disabled]="false"
              [timeDelay]="500"
              class="w-100 px-2 py-1"
              placement="left"
              tooltip="{{ 'WALLET.TOOLTIPS.ADD_CUSTOM_TOKEN' | translate }}"
              tooltipClass="table-tooltip account-tooltip"
              type="button"
            >
              <i class="icon add mr-1"></i>
              <span>{{ 'WALLET_DETAILS.ADD_CUSTOM_TOKEN' | translate }}</span>
            </button>
          </li>
          <li class="item">
            <button
              (click)="exportHistoryDialogVisible = !exportHistoryDialogVisible"
              [delay]="500"
              [disabled]="variablesService.currentWallet.history.length <= 0"
              [timeDelay]="500"
              class="w-100 px-2 py-1"
              placement="left"
              tooltip="{{ 'EXPORT_HISTORY.TOOLTIP' | translate }}"
              tooltipClass="table-tooltip account-tooltip"
              type="button"
            >
              <i class="icon export mr-1"></i>
              <span>{{ 'EXPORT_HISTORY.EXPORT_BUTTON' | translate }}</span>
            </button>
          </li>
          <ng-container *ngIf="walletSyncVisible">
            <li class="item">
              <button
                (click)="
                  resyncCurrentWallet(variablesService.currentWallet.wallet_id)
                "
                [delay]="500"
                [disabled]="!variablesService.currentWallet.loaded"
                [timeDelay]="500"
                class="w-100 px-2 py-1"
                placement="left"
                tooltip="{{ 'WALLET_DETAILS.RESYNC_WALLET' | translate }}"
                tooltipClass="table-tooltip account-tooltip"
                type="button"
              >
                <i class="icon update mr-1"></i
                ><span>{{
                  'WALLET_DETAILS.RESYNC_WALLET_BUTTON' | translate
                }}</span>
              </button>
            </li>
          </ng-container>
          <li class="item">
            <button
              (click)="
                showConfirmDialog(variablesService.currentWallet.wallet_id)
              "
              [delay]="500"
              [timeDelay]="500"
              class="w-100 px-2 py-1"
              placement="left"
              tooltip="{{ 'WALLET.TOOLTIPS.CLOSE' | translate }}"
              tooltipClass="table-tooltip account-tooltip"
              type="button"
            >
              <i class="icon close-square mr-1"></i
              ><span>{{ 'WALLET_DETAILS.BUTTON_REMOVE' | translate }}</span>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="tabs">
  <div class="tabs-header">
    <ng-container *ngFor="let tab of tabs; let index = index">
      <button
        [disabled]="tab.disabled"
        [ngClass]="{
          hide:
            (tab.link === '/send' || tab.link === '/contracts') &&
            variablesService.currentWallet.is_watch_only &&
            variablesService.currentWallet.is_auditable
        }"
        [routerLink]="['/wallet' + tab.link]"
        class="tab-header"
        routerLinkActive="active"
      >
        <i [ngClass]="tab.icon" class="icon mr-1"></i>
        <span>{{ tab.title | translate }}</span>
        <span *ngIf="tab.indicator" class="indicator">{{
          variablesService.currentWallet.new_contracts
        }}</span>
      </button>
    </ng-container>
  </div>
  <div class="tabs-content">
    <router-outlet></router-outlet>
  </div>
</div>

<app-confirm-modal
  (confirmed)="confirmed($event)"
  *ngIf="delWalletDialogVisible"
  [message]="'WALLET.CONFIRM.MESSAGE' | translate"
  [title]="'WALLET.CONFIRM.TITLE' | translate"
></app-confirm-modal>

<app-export-history-modal
  (closeExportModal)="closeExportModal($event)"
  *ngIf="exportHistoryDialogVisible"
  [currentWalletId]="variablesService.currentWallet.wallet_id"
></app-export-history-modal>

<app-add-custom-token
  (eventClose)="stateVisibleAddCustomToken = false"
  (eventSubmit)="stateVisibleAddCustomToken = false"
  *ngIf="stateVisibleAddCustomToken"
></app-add-custom-token>
