app-wallet {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .wallet-wrapper {
    .card {
      background-color: var(--blue-700);

      .address {
        min-width: 19rem;
        max-width: 21rem;
        height: 4rem;
        border: var(--border);
      }

      .balance-wrapper {
        .price {
          .percent {
            color: var(--aqua-500);

            &.red {
              color: var(--red-500);
            }
          }
        }
      }
    }
  }

  .dropdown {
    .content-bottom-right {
      .list {
        .item {
          button {
            white-space: nowrap;
            justify-content: flex-start;
            border-radius: 0;

            &:hover, .active {
              background-color: var(--gray-900);
            }
          }
        }
      }
    }
  }
}
