<div class="content">
  <div class="header">
    <div class="left">
      <div class="name text-ellipsis">
        <span *ngIf="wallet.new_contracts" class="indicator">
          {{ wallet.new_contracts }}
        </span>

        <span
          [delay]="500"
          [showWhenNoOverflow]="false"
          class="name"
          placement="top-left"
          tooltip="{{ wallet.name }}"
          tooltipClass="table-tooltip account-tooltip"
        >
          {{ !wallet.alias['name'] ? wallet.name : wallet.alias['name'] }}
        </span>
      </div>
    </div>
    <div class="right">
      <button
        (click)="eventClose.emit(wallet.wallet_id)"
        [delay]="500"
        [timeDelay]="500"
        placement="top"
        tooltip="{{ 'WALLET.TOOLTIPS.CLOSE' | translate }}"
        tooltipClass="table-tooltip account-tooltip"
        type="button"
      >
        <i class="icon close"></i>
      </button>
    </div>
  </div>

  <div class="balance">
    <span
      [delay]="500"
      [placement]="'bottom'"
      [timeDelay]="1000"
      [tooltipClass]="'balance-tooltip'"
      [tooltip]="getBalancesTooltip()"
      class="text-ellipsis mr-1"
    >
      {{ wallet.getBalanceByTicker('ZANO')?.total || 0 | intToMoney: '3' }}
    </span>
    <span>{{ variablesService.defaultCurrency }}</span>
  </div>

  <h4 *appDisablePriceFetch class="price">
    ${{
      wallet.getMoneyEquivalentForZano(variablesService.moneyEquivalent)
        | intToMoney
        | number: '1.2-2' || '---'
    }}
    <span
      [class.red]="variablesService.moneyEquivalentPercent < 0"
      class="percent"
    >
      {{ variablesService.moneyEquivalentPercent | number: '1.1-2' }}%
    </span>
  </h4>

  <ng-container
    *ngIf="
      (!wallet.is_auditable && !wallet.is_watch_only) ||
      (wallet.is_auditable && !wallet.is_watch_only)
    "
  >
    <div
      *ngIf="!(!wallet.loaded && variablesService.daemon_state === 2)"
      class="staking"
    >
      <span class="text">{{ 'SIDEBAR.ACCOUNT.STAKING' | translate }}</span>
      <app-staking-switch
        [(staking)]="wallet.staking"
        [wallet_id]="wallet.wallet_id"
      ></app-staking-switch>
    </div>
  </ng-container>

  <div
    *ngIf="!wallet.loaded && variablesService.daemon_state === 2"
    class="account-synchronization"
  >
    <div class="progress-bar">
      <div [style.width]="wallet.progress + '%'" class="fill"></div>
    </div>
    <div class="progress-percent">{{ wallet.progress }}%</div>
  </div>
</div>
