<form (ngSubmit)="submit()" [formGroup]="form" role="form">
    <h3 mat-dialog-title>
        {{ 'BURN_CUSTOM_ASSET.LABELS.LABEL1' | translate }}
    </h3>

    <mat-dialog-content>
        <fieldset class="form__field mb-0">
            <label for="amount">
                {{ 'BURN_CUSTOM_ASSET.LABELS.LABEL2' | translate }}
                <span class="color-red">*</span>
            </label>

            <input
                (contextmenu)="variablesService.onContextMenuPasteSelect($event)"
                [attr.aria-describedby]="'amount-error'"
                [class.invalid]="form.controls.amount.touched && form.controls.amount.invalid"
                [decimalPoint]="data.asset_info.decimal_point"
                [placeholder]="'1000000'"
                appAutofocus
                appInputValidate="money"
                autofocus
                class="form__field--input"
                formControlName="amount"
                id="amount"
                name="amount"
                type="text"
            />

            <div
                *ngIf="form.controls.amount | isVisibleControlError"
                aria-live="assertive"
                class="error"
                id="amount-error"
            >
                <ng-container *ngIf="form.controls.amount.hasError('required'); else insufficientFundsErrorTemplate">
                    {{ 'ERRORS.REQUIRED' | translate }}
                </ng-container>

                <ng-template #insufficientFundsErrorTemplate>
                    <ng-container
                        *ngIf="form.controls.amount.hasError('insufficientFunds'); else assetNotFoundErrorTemplate">
                        {{ form.controls.amount.errors['insufficientFunds'].errorText | translate }}
                    </ng-container>
                </ng-template>

                <ng-template #assetNotFoundErrorTemplate>
                    <ng-container
                        *ngIf="form.controls.amount.hasError('asset_not_found'); else greaterMaxErrorTemplate">
                        {{ 'ERRORS.ASSET_NOT_FOUND' | translate }}
                    </ng-container>
                </ng-template>

                <ng-template #greaterMaxErrorTemplate>
                    <ng-container *ngIf="form.controls.amount.hasError('greater_max')">
                        {{ 'ERRORS.MAX' | translate : { max: form.controls.amount.errors['greater_max'].max } }}
                    </ng-container>
                </ng-template>
            </div>
        </fieldset>
    </mat-dialog-content>

    <mat-dialog-actions>
        <div fxFlex="1 1 auto" fxLayout="row nowrap" fxLayoutGap="1rem">
            <button class="outline big w-100" mat-dialog-close type="button">
                {{ 'BURN_CUSTOM_ASSET.BUTTONS.BUTTON1' | translate }}
            </button>
            <button [disabled]="form.invalid" class="primary big w-100" type="submit">
                {{ 'BURN_CUSTOM_ASSET.BUTTONS.BUTTON2' | translate }}
            </button>
        </div>
    </mat-dialog-actions>
</form>
