.ngx-contextmenu {
  .dropdown-menu {
    border: none;
    padding: 0;
    background-color: var(--chartOptionsBackgroundColor);
    box-shadow: var(--tooltipShadow);
  }
  li {
    display: block;
    font-size: 1.3rem;
    text-transform: uppercase;
    text-align: center;
  }
  a {
    display: block;
    padding: 0.5em 1em;
    color: var(--mainTextColor);
    &:hover {
      background-color: var(--chartOptionsHoverColor);
      color: var(--mainTextColor);
    }
  }
}
