.dropdown {
  position: relative;

  .content-bottom-right {
    position: absolute;
    border-radius: 0.8rem;
    top: 5rem;
    right: 0;
    width: 19rem;
    background-color: var(--light-blue-details);
    border: var(--border);
  }
}
