.dropdown {
	position: relative;


	.content-bottom-right {
		position: absolute;
		border-radius: 0.8rem;
		top: 5rem;
		right: 0;
		width: 19rem;
		background-color: var(--blue-500);
		border: var(--border);
	}

	.item {
		height: 3.9rem;
		display: flex;
		align-items: center;
		padding: 0.5rem;
		&:hover {
			background-color: var(--gray-900);
			cursor: pointer;
		}

		.alias {
			width: 100%;
			margin-right: 0.3rem;
			padding: 0.4rem 1rem;
		}
	}
}
