.input-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2.2rem;
  input[type="text"].required-error,
  input[type="password"].required-error {
    &::placeholder {
      color: var(--redTextColor);
    }
  }
  .wrap-label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 2.4rem;
  }
  label {
    a {
      margin-left: 0.6rem;
      display: inline-flex;
    }
    font-size: 1.6rem;
    line-height: 2rem;
    margin-bottom: 1.2rem;
    color: var(--blueTextColor);
  }
  input[type="text"],
  input[type="password"],
  select {
    &::placeholder {
      color: var(--placeholderTextColor);
      font-size: 2rem;
      line-height: 2rem;
    }
    border: none;
    font-size: 2rem;
    line-height: 2rem;
    outline: none;
    padding: 0.2rem 0;
    width: 100%;
    background-color: var(--inputBackgroundColor);
    color: var(--mainTextColor);
  }
  &.textarea {
    height: auto;

    textarea {
      &::placeholder {
        color: var(--placeholderTextColor);
        font-size: 2rem;
        line-height: 2rem;
      }
      font-size: 2rem;
      line-height: 2.4rem;
      border: none;
      outline: none;
      padding: 1rem;
      width: 100%;
      min-width: 100%;
      height: 100%;
      min-height: 7.5rem;
      max-height: 7.5rem;
      overflow: auto;
      resize: none;
      background-color: var(--inputBackgroundColor);
      color: var(--mainTextColor);
    }
  }
  .error-block {
    color: var(--redTextColor);
  }
  .success-block {
    color: var(--greenTextColor);
  }
}

input[type="radio"].style-radio {
  & + label {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 400;
    padding-left: 2.4rem;
    color: var(--optionalTextColor);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  &:not(checked) {
    position: absolute;
    opacity: 0;
    & + label {
      position: relative;
    }
    & + label:before {
      content: "";
      position: absolute;
      top: 0.7rem;
      left: 0;
      background: transparent;
      border-radius: 50%;
      width: 1.4rem;
      height: 1.4rem;
      border: 0.1rem solid var(--blueTextColor);
    }
    & + label:after {
      content: "";
      position: absolute;
      top: 1rem;
      left: 0.3rem;
      border-radius: 50%;
      opacity: 0;
      width: 0.8rem;
      height: 0.8rem;
      background-color: var(--blueTextColor);
    }
  }
  &:checked {
    & + label:after {
      opacity: 1;
    }
  }
}

input[type="checkbox"].style-checkbox {
  & + label {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 400;
    padding-left: 3.6rem;
    color: var(--mainTextColor);
    -webkit-touch-collout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  &:not(checked) {
    position: absolute;
    top: 50%;
    left: 1.6rem;
    transform: translateY(-50%);
    visibility: hidden;
    & + label {
      position: relative;
    }
    & + label:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 1.6rem;
      transform: translateY(-50%);
      background: transparent;
      width: 1.4rem;
      height: 1.4rem;
      border: 0.1rem solid var(--blueTextColor);
    }
  }
  &:checked {
    & + label:before {
      background: url(~src/assets/icons/complete-testwallet.svg);
    }
  }
}

.switch {
  &.on {
    background-color: var(--switchOnBackgroundColor);
  }
  &.off {
    background-color: var(--switchOffBackgroundColor);
  }
  .circle {
    background-color: var(--mainTextColor);
    box-shadow: var(--switchCirceleBoxShadow);
  }
}
