.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--black-300);
  padding: 2rem;
  z-index: 100;
}

.modal {
  position: relative;
  overflow: hidden;

  .message-container {
    overflow: hidden;
    text-overflow: ellipsis;

    .title, .message {
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      word-wrap: break-word;
    }
  }

  button.close {
    position: absolute;
    top: 0.8rem;
    right: 0.8rem;
  }
}
