app-progress-container {
  .progress-bar-container {
    color: var(--main-text);

    .progress-bar {
      background-color: var(--light-blue-150);

      .progress-bar-full {
        background-color: var(--primary);
      }
    }
  }
}
