.seed-phrase {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .status {
      display: flex;
      align-items: center;
    }
  }

  .content {
    display: flex;
    flex-wrap: wrap;

    .item {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      border: var(--border);
      background-color: var(--light-gray-background);

      .number {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.8rem;
        height: 1.8rem;
        border-radius: 50%;
        font-size: 1rem;
        background-color: var(--seed-phrase-item-background);
      }

      .word {
        white-space: nowrap;
      }
    }
  }

  .footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 50rem;
    width: 100%;

    .wrap-buttons {
      width: 100%;
      display: flex;
      flex-wrap: nowrap;

      button {
        max-width: calc(50% - 0.5rem);
      }
    }
  }
}


