app-transaction-details {
  width: 100%;

  .table {
    padding: 1rem 0;

    .row {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;

      .cell {
        padding: 1rem 2rem;
        overflow: hidden;
        text-overflow: ellipsis;

        &.label {
          color: var(--white-500);
        }

        &.value {
          color: var(--white-500);
        }

        &.key-value {
          cursor: pointer;
          color: var(--azure-500);
        }
      }
    }
  }
}



