.wallet {
  border-radius: 0.8rem;
  margin-bottom: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 19rem;
  width: 100%;
  min-height: 11.2rem;
  padding: 1.2rem;
  background-color: var(--light-blue-details);
  border: 0.15rem solid var(--light-blue-details);
  cursor: pointer;

  .header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.8rem;

    .left {
      overflow: hidden;

      .name {
        .indicator {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          width: 1.8rem;
          height: 1.8rem;
          padding: 0.5rem;
          margin-right: 0.8rem;
          font-size: 1.2rem;
          line-height: 1;
          background-color: var(--main-text);
          color: var(--primary);
        }
      }
    }
  }

  .balance {
    display: flex;
    align-items: center;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  .price {
    font-size: 1.4rem;
    line-height: 1.2;

    .percent {
      font-size: 1.4rem;
      line-height: 1.2;
      color: var(--green);
      margin-left: 0.7rem;

      &.red {
        color: var(--red);
      }
    }
  }

  .staking {
    margin-top: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .account-synchronization {
    display: flex;
    align-items: center;
    width: 100%;

    .progress-bar {
      border-radius: 1rem;
      flex: 1 0 auto;
      height: 0.4rem;
      overflow: hidden;

      .fill {
        height: 100%;
      }
    }

    .progress-percent {
      flex: 0 0 auto;
      font-size: 1.4rem;
      line-height: 1.2;
      padding-left: 1rem;
    }

  }

  &.auditable {
    background-color: transparent;
    border-color: var(--accountAuditableBorderColor);
  }

  &.watch-only {
    background-color: transparent;
    border-color: var(--accountWatchOnlyBorderColor);
  }

  &.auditable,
  &.watch-only,
  &.tracking {
    &.active {
      padding: 1.35rem;
      background: var(--accountActiveBackgroundColor);
    }
  }

  &.active {
    border: none;
    padding: 1.35rem;
    background: var(--accountActiveBackgroundColor);

    .progress-bar {
      background-color: var(--progressBarAccountActiveColor);

      .fill {
        background-color: var(--main-text);
      }
    }
  }

  &:hover:not(.active) {
    border-color: var(--border-color);
  }

  &:focus {
    outline: none;
  }

  &:last-child {
    margin-bottom: 0 !important;
  }
}
