<h3 class="mb-3">Input type="text"</h3>

<h4 class="mb-2">Disabled = true</h4>

<div class="form__field">
    <label for="test-id1">Label</label>
    <input class="form__field--input" type="text" id="test-id1" name="test1" placeholder="Enter a name here" disabled>
</div>

<h4 class="mb-3">Without label</h4>

<div class="form__field">
    <input class="form__field--input" type="text" name="test1" placeholder="Enter a name here">
</div>

<div class="form__field">
    <input class="form__field--input" type="text" value="Name" name="test1" placeholder="Enter a name here">
</div>

<h3 class="mb-3">Input type="password"</h3>

<h4 class="mb-2">Disabled = true</h4>

<div class="form__field">
    <label for="test-id4">Label</label>
    <input class="form__field--input" type="password" id="test-id4" value="Name" name="test1" placeholder="Enter a name here" disabled>
</div>

<h4 class="mb-3">Without label</h4>

<div class="form__field">
    <input class="form__field--input" type="password" value="Name" name="1234567890" placeholder="Enter a name here">
</div>

<h4 class="mb-3">With error</h4>

<div class="form__field">
    <input class="form__field--input invalid" type="password" value="Name" name="1234567890" placeholder="Enter a name here">
    <div class="error">
        Error text
    </div>
</div>

<h4 class="mb-3">With success</h4>

<div class="form__field">
    <input class="form__field--input" type="password" value="Name" name="1234567890" placeholder="Enter a name here">
    <div class="success">
        Success text
    </div>
</div>

