<form (ngSubmit)="beforeSubmit()" [formGroup]="formGroup">
    <h3 mat-dialog-title>
        {{ 'WALLET.MODAL_WHITELIST_ASSET.TITLE' | translate }}
    </h3>

    <mat-dialog-content>
        <div class="form__field mb-0">
            <label for="asset_id">{{ 'WALLET.MODAL_WHITELIST_ASSET.FIELD_TITLE' | translate }}</label>
            <input
                (contextmenu)="variablesService.onContextMenuPasteSelect($event)"
                class="form__field--input"
                formControlName="asset_id"
                id="asset_id"
                maxlength="64"
                name="asset_id"
                placeholder="Enter Asset ID"
                type="text"
            />
            <ng-container *ngIf="formGroup.get('asset_id').touched">
                <div *ngIf="formGroup.get('asset_id').hasError('invalidHash')" class="error">
                    {{ 'WALLET.MODAL_WHITELIST_ASSET.FORM_ERRORS.ERROR1' | translate }}
                </div>
                <div *ngIf="formGroup.get('asset_id').hasError('wrongAssetId')" class="error">
                    {{ formGroup.get('asset_id').errors['wrongAssetId'].errorText | translate }}
                </div>
            </ng-container>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions>
        <div fxFlex="1 1 auto"  fxLayout="row nowrap" fxLayoutGap="1rem">
            <button class="outline big w-100" mat-dialog-close type="button">
                {{ 'MODALS.CANCEL' | translate }}
            </button>
            <button [disabled]="formGroup.invalid || loading" class="primary big w-100" type="submit">
                <ng-container *ngIf="!loading; else loadingTemplate">
                    {{ 'MODALS.ADD_TOKEN' | translate }}
                </ng-container>
                <ng-template #loadingTemplate>
                    <zano-loader></zano-loader>
                </ng-template>
            </button>
        </div>
    </mat-dialog-actions>
</form>
