<div class="modal p-2 border-radius-0_8-rem bg-light-blue max-w-54-rem w-100 max-h-100">
    <button type="button"
            class="close"
            (click)="close()"><i class="icon close"></i></button>

    <div class="content flex flex__justify-center mb-2">
        <i class="icon modal-info mr-1"></i>

        <div class="flex flex__direction-column flex__justify-start">
            <h3 class="title">{{title}}</h3>
            <p class="message">{{message}}</p>
        </div>
    </div>

    <div class="controls flex">
        <button type="button"
                class="outline big w-100 mr-0_5"
                (click)="close()">{{ 'MODALS.CANCEL' | translate }}</button>
        <button type="button"
                class="primary big w-100 ml-0_5"
                (click)="onSubmit()"
                #btn>{{ 'MODALS.OK' | translate }}</button>
    </div>
</div>
