<main appAutofocus class="page-container" tabindex="0">
    <section class="toolbar mb-2">
        <div class="left">
            <app-back-button></app-back-button>
            <h1 aria-live="assertive" class="ml-2">{{ 'BREADCRUMBS.ADD_WALLET' | translate }}</h1>
        </div>
        <div class="right"></div>
    </section>

    <section class="page-content">
        <app-breadcrumbs [items]="breadcrumbItems" class="mb-2"></app-breadcrumbs>

        <div class="scrolled-content">
            <!--Details Form-->
            <form [formGroup]="detailsForm" class="form" role="form">
                <fieldset class="form__field">
                    <label for="wallet-name">{{ 'WALLET_DETAILS.LABEL_NAME' | translate }}</label>
                    <input
                        [placeholder]="'PLACEHOLDERS.WALLET_NAME_PLACEHOLDER' | translate"
                        class="form__field--input"
                        formControlName="name"
                        id="wallet-name"
                        readonly
                        type="text"
                    />
                </fieldset>

                <fieldset class="form__field">
                    <label for="wallet-location">{{ 'WALLET_DETAILS.LABEL_FILE_LOCATION' | translate }}</label>
                    <input class="form__field--input" formControlName="path" id="wallet-location" readonly type="text" />
                </fieldset>
            </form>

            <!--Password Seed Phrase Form-->
            <ng-container *ngIf="!showSeed; else seedPhraseContent">
                <form (ngSubmit)="submit()" [formGroup]="seedPhraseForm" class="form form__card pb-2" role="form">
                    <fieldset class="form__field">
                        <label for="create-password">{{ 'WALLET_DETAILS.CREATE_PASSWORD_SECURE' | translate }}</label>
                        <input
                            [attr.aria-describedby]="'create-password-error'"
                            class="form__field--input"
                            formControlName="password"
                            id="create-password"
                            placeholder="{{ 'PLACEHOLDERS.PASSWORD_PLACEHOLDER' | translate }}"
                            type="password"
                        />
                        <div
                            *ngIf="seedPhraseForm.controls.password | isVisibleControlError"
                            aria-live="assertive"
                            class="error"
                            id="create-password-error"
                        >
                            <ng-container *ngIf="seedPhraseForm.controls.password.hasError('pattern')">
                                {{ 'ERRORS.REGEXP_INVALID_PASSWORD' | translate }}
                            </ng-container>
                        </div>
                    </fieldset>

                    <fieldset class="form__field">
                        <label for="confirm-password">{{ 'WALLET_DETAILS.FORM.CONFIRM_PASSWORD' | translate }}</label>
                        <input
                            [attr.aria-describedby]="'confirm-password-error'"
                            class="form__field--input"
                            formControlName="confirmPassword"
                            id="confirm-password"
                            placeholder="{{ 'PLACEHOLDERS.PLACEHOLDER_CONFIRM' | translate }}"
                            type="password"
                        />
                        <div
                            *ngIf="seedPhraseForm.controls.confirmPassword | isVisibleControlError"
                            aria-live="assertive"
                            class="error"
                            id="confirm-password-error"
                        >
                            <ng-container *ngIf="seedPhraseForm.controls.confirmPassword.hasError('mismatch')">
                                {{ 'WALLET_DETAILS.FORM_ERRORS.PASSWORDS_DONT_MATCH' | translate }}
                            </ng-container>
                        </div>
                    </fieldset>

                    <button [disabled]="seedPhraseForm.invalid" class="primary w-100 big mb-2" type="submit">
                        <mat-icon class="mr-1" svgIcon="zano-check-shield"></mat-icon>
                        {{ 'WALLET_DETAILS.FORM.GENERATE_SECURE_SEED' | translate }}
                    </button>

                    <p class="text-align-center color-primary">
                        <mat-icon class="mr-1" svgIcon="zano-info"></mat-icon>
                        {{ 'WALLET_DETAILS.FORM.SECURED_SEED_WILL_REQUIRE' | translate }}
                    </p>
                </form>
            </ng-container>

            <!-- Seed Phrase -->
            <ng-template #seedPhraseContent>
                <div class="seed-phrase form__card pb-2">
                    <div class="header mb-2" fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="left">
                            <span>{{ 'WALLET_DETAILS.LABEL_SEED_PHRASE' | translate }}</span>
                        </div>
                        <div class="right">
                            <span
                                *ngIf="seedPhraseForm.controls.password.value.length === 0"
                                class="status color-red"
                                fxLayout="row"
                                fxLayoutAlign="start center"
                            >
                                {{ 'WALLET_DETAILS.SEED_IS_UNSECURED' | translate }}
                                <mat-icon class="ml-1" svgIcon="zano-unsecured"></mat-icon>
                            </span>
                            <span
                                *ngIf="seedPhraseForm.controls.password.value.length > 0"
                                class="status color-aqua"
                                fxLayout="row"
                                fxLayoutAlign="start center"
                            >
                                {{ 'WALLET_DETAILS.SEED_IS_SECURED' | translate }}
                                <mat-icon class="ml-1" svgIcon="zano-secured"></mat-icon>
                            </span>
                        </div>
                    </div>

                    <div
                        (contextmenu)="variablesService.onContextMenuOnlyCopy($event, seedPhraseWords.join(' '))"
                        class="content mb-1"
                        fxLayout="row wrap"
                    >
                        <ng-container *ngFor="let word of seedPhraseWords; let index = index">
                            <div
                                [attr.aria-label]="word"
                                class="item p-1 mr-1 mb-1 border-radius-0_8-rem"
                                fxLayout="row nowrap"
                                fxLayoutAlign="start center"
                                tabindex="0"
                            >
                                <div class="number p-1 mr-1" fxLayout="row" fxLayoutAlign="center center">
                                    {{ index + 1 }}
                                </div>
                                <span class="word">{{ word }}</span>
                            </div>
                        </ng-container>
                    </div>
                    <div class="footer max-w-50-rem w-100" fxLayout="column" fxLayoutAlign="start center">
                        <div *ngIf="showSeed" class="wrap-buttons w-100 mb-2" fxLayout="row nowrap">
                            <button (click)="copySeedPhrase()" aria-live="assertive" class="outline big w-100" type="button">
                                <ng-container *ngIf="!seedPhraseCopied">
                                    <mat-icon class="mr-1" svgIcon="zano-copy"></mat-icon>
                                    {{ 'SEED_PHRASE.BUTTON_COPY' | translate }}
                                </ng-container>
                                <ng-container *ngIf="seedPhraseCopied">
                                    <mat-icon class="mr-1" svgIcon="zano-check"></mat-icon>
                                    {{ 'SEED_PHRASE.BUTTON_COPIED' | translate }}
                                </ng-container>
                            </button>
                        </div>
                        <p *ngIf="seedPhraseForm.controls.password.value.length > 0" aria-live="assertive" class="text-align-center">
                            <mat-icon class="mr-1" svgIcon="zano-info"></mat-icon>
                            <span class="color-primary">{{ 'WALLET_DETAILS.REMEMBER_YOU_WILL_REQUIRE' | translate }}</span>
                        </p>
                    </div>
                </div>
            </ng-template>
        </div>
    </section>
</main>
