app-root {
  display: flex;
  flex-wrap: nowrap;
  width: 100vw;
  min-width: 1300px;
  height: 100vh;
  background: #0C0C3A;
}

.app-container {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
}

app-main,
app-create-wallet,
app-open-wallet,
app-restore-wallet,
app-seed-phrase,
app-wallet-details,
app-assign-alias,
app-edit-alias,
app-transfer-alias,
app-settings,
app-login {
  flex: 1 1 auto;
  min-width: 85rem;
  .content {
    position: relative;
    padding: 3rem;
    min-height: 100%;
    color: var(--mainTextColor);
    .head {
      position: relative;
      top: 0;
      left: 0;
    }
  }
}
app-main {
  .content {
    .add-wallet {
      .add-wallet-help {
        color: var(--blueTextColor);
      }
    }
  }
}
app-settings {
  .content {
    height: 100%;
    overflow-y: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}
app-login {
  min-width: inherit;
}
