app-sidebar {
  background-color: var(--sidebarBackgroundColor);

  .sidebar-accounts {
    .sidebar-accounts-list {
      .sidebar-account {
        background-color: var(--accountBackgroundColor);
        color: var(--accountMainTextColor);
        &.auditable {
          background-color: transparent;
          border-color: var(--accountAuditableBorderColor) !important;
        }
        &.watch-only {
          background-color: transparent;
          border-color: var(--accountWatchOnlyBorderColor) !important;
        }
        &.auditable,
        &.watch-only,
        &.tracking {
          border: 0.4rem solid;
          &.active {
            background: var(--accountActiveBackgroundColor);
            box-shadow: var(--accountBoxShadow);
          }
          &:hover:not(.active) {
            transition: all 0.25s ease;
            background-color: var(--accountHoverBackgroundColor);
          }
        }

        &.active {
          .sidebar-account-row {
            .progress-bar {
              background-color: var(--progressBarAccountActiveColor);
              .fill {
                background-color: var(--accountMainTextColor);
              }
            }
          }
        }

        .sidebar-account-row {
          .text {
            color: var(--accountMainTextColor);
          }

          .indicator {
            background-color: var(--mainTextColor);
            color: var(--blueTextColor);
          }

          .progress-bar {
            background-color: var(--progressBarAccountColor);
            .fill {
              background-color: var(--greenTextColor);
            }
          }

          &.account-price {
            .price {
              color: var(--tooltipTextColor);
            }
            .price-percent {
              color: var(--greenTextColor);
            }
          }
          &.account-synchronization {
            color: var(--accountMainTextColor);
          }
        }

        &.active {
          background: var(--accountActiveBackgroundColor);
          box-shadow: var(--accountBoxShadow);
          .sidebar-account-row {
            &.account-synchronization {
              color: var(--accountMainTextColor);
            }
          }
        }

        &:hover:not(.active) {
          transition: all 0.25s ease;
          background-color: var(--accountHoverBackgroundColor);
        }
      }
    }
  }

  .sidebar-settings {
    .wrap-button {
      button {
        color: var(--blueTextColor);
        :hover {
          color: var(--blueButtonHoverColor) !important;
        }
      }

      &.active {
        button {
          color: var(--blueButtonFocusColor) !important;
        }
      }
    }
  }
}
