app-wallet {
  color: var(--mainTextColor);
  .header {
    .settings-block {
      .settings-dropdown {
        background-color: var(--aliasDropdownBackground);
        button {
          span {
            color: var(--mainTextColor);
          }
        }
      }
    }
    button {
      color: var(--blueTextColor);
      &:disabled {
        .icon svg path {
          fill: var(--accountOptionalTextColor);
        }
      }
    }
  }
  .balance {
    color: var(--mainTextColor);
    .price-percent {
      &.negative-percent {
        color: var(--redTextColor);
      }
      margin-left: 0.7rem;
      color: var(--greenTextColor);
    }
  }
  .address {
    color: var(--addressTextColor);
  }
  .tabs {
    .tabs-header {
      .tab {
        color: var(--blueTextColor);
        background-color: var(--tabInactiveBackgroundColor);
        .indicator {
          background-color: var(--accountIndicatorBackgroundColor);
          color: var(--accountIndicatorTextColor);
        }
        &.active {
          background-color: var(--contentBackgroundColor);
        }
        &:hover:not(.active):not(.disabled) {
          background-color: var(--tabHoverBackgroundColor);
        }
      }
    }
    .tabs-content {
      background-color: var(--contentBackgroundColor);
    }
    .pagination-wrapper {
      border-radius: 0 0 1rem 1rem;
      background-color: var(--contentBackgroundColor);
      .pagination {
        button {
          color: var(--mainTextColor);
          &:hover {
            color: var(--blueButtonHoverColor);
            svg path {
              fill: var(--paginationButtonHoverColor);
            }
          }
          &.disabled {
            color: var(--paginationButtonHoverColor);
            svg path {
              fill: var(--paginationButtonHoverColor);
            }
          }
          &.active {
            color: var(--blueButtonBackgroundColor);
          }
        }
      }
    }
  }
}
app-send {
  .form-send {
    .curent-alias-adress {
      color: var(--placeholderTextColor);
    }
    .send-select {
      color: var(--mainTextColor);
    }
    .additional-details {
      border: 0.2rem solid var(--resetButtonBackgroundColor);
    }
  }
}
app-history {
  table {
    tbody {
      tr {
        .status.send {
          .status-transaction-text {
            color: var(--blueTextColor);
          }
        }
        .status.received {
          .status-transaction-text {
            color: var(--greenTextColor);
          }
        }
      }
    }
  }
}
app-purchase {
  .form-purchase {
    .purchase-select {
      color: var(--mainTextColor);
    }
    .purchase-states {
      color: var(--blueTextColor);
    }
    .additional-details {
      border: 0.2rem solid var(--resetButtonBackgroundColor);
    }
  }
  .progress-bar-container {
    .progress-bar {
      background-color: var(--progressBarBackgroundColor);
      .progress-bar-full {
        background-color: var(--progressBarFullBackgroundColor);
      }
    }
  }
}
app-typing-message {
  .head {
    .interlocutor {
      color: var(--blueTextColor);
    }
  }
  .messages-content {
    .messages-list {
      div {
        &.date {
          color: var(--optionalTextColor);
        }
        &.my {
          background-color: var(--messageMyBackgroundColor);
          &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: -1.1rem;
            border: 1.2rem solid transparent;
            border-top-color: var(--messageMyBackgroundColor);
          }
        }
        &.buddy {
          background-color: var(--messageBuddyBackgroundColor);
          &:after {
            content: '';
            display: block;
            position: absolute;
            right: -1.1rem;
            top: 0;
            border: 1.2rem solid transparent;
            border-top-color: var(--messageBuddyBackgroundColor);
          }
        }
      }
    }
  }
}
app-staking {
  .chart-header {
    .general {
      .label {
        color: var(--mainTextColor);
      }
      .options {
        color: var(--mainTextColor);
      }
    }
    .selected {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-grow: 1;
      font-size: 1.6rem;
    }
  }
  .chart-options {
    .title {
      color: var(--mainTextColor);
    }
    .options {
      button {
        color: var(--mainTextColor);
        &:not(:disabled) {
          background: var(--blueButtonBackgroundColor);
          box-shadow: var(--blueButtonBoxShadow);
          &:hover {
            background: var(--blueButtonHoverColor);
            box-shadow: var(--blueButtonHoverBoxShadow);
          }
          &:focus,
          &.active {
            background: var(--blueButtonFocusColor);
            box-shadow: var(--blueButtonFocusBoxShadow);
          }
        }
        &:disabled {
          background: var(--blueButtondisabledColor);
        }
      }
    }
  }
}
.input-block-alias {
  position: relative;
  .alias-dropdown {
    padding: 1rem;
    position: absolute;
    top: 6.5rem;
    overflow-x: hidden;
    overflow-y: scroll;
    border-radius: 0.6rem;
    z-index: 1;
    width: 30rem;
    height: 30rem;
    background-color: var(--aliasDropdownBackground);
    color: var(--mainTextColor);
    div {
      font-size: 2rem;
      line-height: 2.4rem;
      margin-bottom: 1rem;
      &:hover {
        background-color: var(--selectHoverColor);
      }
    }
  }
}
