<router-outlet
  *ngIf="[0, 1, 2, 6].indexOf(variablesService.daemon_state) !== -1"
></router-outlet>

<div
  *ngIf="[3, 4, 5].indexOf(variablesService.daemon_state) !== -1"
  class="preloader"
>
  <p *ngIf="variablesService.daemon_state === 3" class="mb-2">
    {{ 'SIDEBAR.SYNCHRONIZATION.LOADING' | translate }}
  </p>
  <p *ngIf="variablesService.daemon_state === 4" class="mb-2">
    {{ 'SIDEBAR.SYNCHRONIZATION.ERROR' | translate }}
  </p>
  <p *ngIf="variablesService.daemon_state === 5" class="mb-2">
    {{ 'SIDEBAR.SYNCHRONIZATION.COMPLETE' | translate }}
  </p>
  <div class="loading-bar"></div>
</div>

<context-menu #allContextMenu>
  <ng-template (execute)="contextMenuCopy($event.value)" contextMenuItem>{{
    'CONTEXT_MENU.COPY' | translate
  }}</ng-template>
  <ng-template (execute)="contextMenuPaste($event.value)" contextMenuItem>{{
    'CONTEXT_MENU.PASTE' | translate
  }}</ng-template>
  <ng-template (execute)="contextMenuSelect($event.value)" contextMenuItem>{{
    'CONTEXT_MENU.SELECT' | translate
  }}</ng-template>
</context-menu>

<context-menu #onlyCopyContextMenu>
  <ng-template (execute)="contextMenuOnlyCopy($event.value)" contextMenuItem>{{
    'CONTEXT_MENU.COPY' | translate
  }}</ng-template>
</context-menu>

<context-menu #pasteSelectContextMenu>
  <ng-template (execute)="contextMenuPaste($event.value)" contextMenuItem>{{
    'CONTEXT_MENU.PASTE' | translate
  }}</ng-template>
  <ng-template (execute)="contextMenuSelect($event.value)" contextMenuItem>{{
    'CONTEXT_MENU.SELECT' | translate
  }}</ng-template>
</context-menu>

<app-open-wallet-modal
  *ngIf="needOpenWallets.length"
  [wallets]="needOpenWallets"
></app-open-wallet-modal>
