.token-logo {
    background: var(--blue-300);
    width: 1.5rem;
    height: 1.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;

    img, svg {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
