<div class="scrolled-content" fxFlex="1 1 auto" fxLayout="column">
    <app-breadcrumbs [items]="breadcrumbItems" class="mb-2"></app-breadcrumbs>

    <form (ngSubmit)="submit()" [formGroup]="form" class="form" fxFlex="0 1 50rem" fxLayout="column" fxLayoutAlign="start stretch">
        <!-- ticker -->
        <div class="form__field--row">
            <div class="form__field">
                <label for="ticker">
                    {{ 'CREATE_NEW_ASSETS.FORM.LABELS.LABEL1' | translate }}
                    <span class="color-red">*</span>
                </label>
                <input
                    (contextmenu)="variablesService.onContextMenu($event)"
                    [placeholder]="'CT' | translate"
                    class="form__field--input"
                    formControlName="ticker"
                    id="ticker"
                    type="text"
                />
                <div *ngIf="form.controls.ticker.invalid && (form.controls.ticker.dirty || form.controls.ticker.touched)" class="error">
                    <div *ngIf="form.controls.ticker.errors['required']">
                        {{ 'ERRORS.REQUIRED' | translate }}
                    </div>

                    <div *ngIf="form.controls.ticker.errors['minlength'] as err">
                        {{ 'ERRORS.MIN_LENGTH' | translate : { requiredLength: err.requiredLength } }}
                    </div>

                    <div *ngIf="form.controls.ticker.errors['maxlength'] as err">
                        {{ 'ERRORS.MAX_LENGTH' | translate : { requiredLength: err.requiredLength } }}
                    </div>

                    <div *ngIf="form.controls.ticker.errors['pattern'] as err">
                        {{ 'ERRORS.INVALID_TICKER_PATTERN' | translate }}
                    </div>
                </div>
            </div>

            <div class="form__field">
                <label for="full_name">
                    {{ 'CREATE_NEW_ASSETS.FORM.LABELS.LABEL2' | translate }}
                    <span class="color-red">*</span>
                </label>
                <input
                    (contextmenu)="variablesService.onContextMenu($event)"
                    [placeholder]="'CREATE_NEW_ASSETS.FORM.PLACEHOLDERS.PLACEHOLDER1' | translate"
                    class="form__field--input"
                    formControlName="full_name"
                    id="full_name"
                    type="text"
                />
                <div
                    *ngIf="form.controls.full_name.invalid && (form.controls.full_name.dirty || form.controls.full_name.touched)"
                    class="error"
                >
                    <div *ngIf="form.controls.full_name.errors['required']">
                        {{ 'ERRORS.REQUIRED' | translate }}
                    </div>

                    <div *ngIf="form.controls.full_name.errors['minlength'] as err">
                        {{ 'ERRORS.MIN_LENGTH' | translate : { requiredLength: err.requiredLength } }}
                    </div>

                    <div *ngIf="form.controls.full_name.errors['maxLength'] as err">
                        {{ 'ERRORS.MAX_LENGTH' | translate : { requiredLength: err.requiredLength } }}
                    </div>

                    <div *ngIf="form.controls.full_name.errors['pattern'] as err">
                        {{ 'ERRORS.INVALID_FULL_NAME_ASSET_PATTERN' | translate }}
                    </div>
                </div>
            </div>
        </div>

        <!-- total_max_supply -->
        <div class="form__field--row">
            <div class="form__field">
                <label for="total_max_supply">
                    {{ 'CREATE_NEW_ASSETS.FORM.LABELS.LABEL3' | translate }}
                    <!--<span class="color-red">*</span>-->
                </label>
                <input
                    (contextmenu)="variablesService.onContextMenu($event)"
                    [placeholder]="'1000000000' | translate"
                    appInputValidate="money"
                    [decimalPoint]="+form.controls.decimal_point.value"
                    class="form__field--input"
                    formControlName="total_max_supply"
                    id="total_max_supply"
                    type="text"
                />
                <div
                    *ngIf="
                        form.controls.total_max_supply.invalid &&
                        (form.controls.total_max_supply.dirty || form.controls.total_max_supply.touched)
                    "
                    class="error"
                >
                    <span *ngIf="form.controls.total_max_supply.errors['required']">
                        {{ 'ERRORS.REQUIRED' | translate }}
                    </span>
                </div>

                <div *ngIf="form.hasError('greater_than_max') && (form.dirty || form.touched)" class="error">
                    {{ 'ERRORS.TO_BIG_TOTAL_SUPPLY' | translate }}
                    {{ 'ERRORS.MAX' | translate : { max: form.errors['greater_than_max'].max } }}
                </div>
            </div>

            <!-- current_supply -->
            <div class="form__field">
                <label for="current_supply">
                    {{ 'CREATE_NEW_ASSETS.FORM.LABELS.LABEL4' | translate }}
                    <span class="color-red">*</span>
                </label>
                <input
                    (contextmenu)="variablesService.onContextMenu($event)"
                    [placeholder]="'1000000000' | translate"
                    appInputValidate="money"
                    [decimalPoint]="+form.controls.decimal_point.value"
                    class="form__field--input"
                    formControlName="current_supply"
                    id="current_supply"
                    type="text"
                />
                <div
                    *ngIf="
                        form.controls.current_supply.invalid && (form.controls.current_supply.dirty || form.controls.current_supply.touched)
                    "
                    class="error"
                >
                    <div *ngIf="form.controls.current_supply.errors['required']">
                        {{ 'ERRORS.REQUIRED' | translate }}
                    </div>
                </div>
                <div *ngIf="form.hasError('current_supply') && (form.dirty || form.touched)" class="error">
                    {{ form.errors['current_supply'] | translate }}
                </div>
            </div>
        </div>

        <!-- decimal_point -->
        <div class="form__field">
            <label for="decimal_point">
                {{ 'CREATE_NEW_ASSETS.FORM.LABELS.LABEL5' | translate }}
                <span class="color-red">*</span>
            </label>
            <input
                (contextmenu)="variablesService.onContextMenu($event)"
                [placeholder]="'12' | translate"
                appInputValidate="integer"
                class="form__field--input"
                formControlName="decimal_point"
                id="decimal_point"
                type="text"
            />
            <div
                *ngIf="form.controls.decimal_point.invalid && (form.controls.decimal_point.dirty || form.controls.decimal_point.touched)"
                class="error"
            >
                <div *ngIf="form.controls.decimal_point.errors['required']">
                    {{ 'ERRORS.REQUIRED' | translate }}
                </div>

                <div *ngIf="form.controls.decimal_point.errors['min'] as error">
                    {{ 'ERRORS.MIN' | translate : { min: error.min } }}
                </div>

                <div *ngIf="form.controls.decimal_point.errors['max'] as error">
                    {{ 'ERRORS.MAX' | translate : { max: error.max } }}
                </div>
            </div>
        </div>

        <!-- meta_info -->
        <div class="form__field textarea">
            <label for="meta_info">
                {{ 'CREATE_NEW_ASSETS.FORM.LABELS.LABEL6' | translate }}
            </label>
            <textarea
                [placeholder]="'CREATE_NEW_ASSETS.FORM.PLACEHOLDERS.PLACEHOLDER2' | translate"
                formControlName="meta_info"
                id="meta_info"
            ></textarea>

            <div
                *ngIf="form.controls.meta_info.invalid && (form.controls.meta_info.dirty || form.controls.meta_info.touched)"
                class="error"
            >
                <div *ngIf="form.controls.meta_info.errors['maxlength'] as err">
                    {{ 'ERRORS.MAX_LENGTH' | translate : { requiredLength: err.requiredLength } }}
                </div>
            </div>
        </div>

        <button [disabled]="form.invalid" class="primary big max-w-19-rem w-100" type="submit">
            {{ 'CREATE_NEW_ASSETS.FORM.BUTTONS.BUTTON1' | translate }}
        </button>
    </form>
</div>
