<div class="container scrolled-content">
    <app-breadcrumbs [items]="breadcrumbItems" class="mb-2"></app-breadcrumbs>

    <form
        (ngSubmit)="submit()"
        *ngIf="variablesService.current_wallet.loaded; else skeletonTemplate"
        [formGroup]="form"
        class="form"
        role="form"
    >
        <!-- ticker -->
        <div class="form__field--row">
            <fieldset class="form__field">
                <label for="ticker">
                    {{ 'CREATE_NEW_ASSETS.FORM.LABELS.LABEL1' | translate }}
                    <span class="color-red">*</span>
                </label>
                <input
                    (contextmenu)="variablesService.onContextMenu($event)"
                    [placeholder]="'CT' | translate"
                    appAutofocus
                    aria-describedby="ticker-error"
                    autofocus
                    class="form__field--input"
                    formControlName="ticker"
                    id="ticker"
                    type="text"
                />
                <div *ngIf="form.controls.ticker | isVisibleControlError" aria-live="assertive" class="error" id="ticker-error">
                    <ng-container *ngIf="form.controls.ticker.errors['required']; else tickerMinLengthErrorTemplate">
                        {{ 'ERRORS.REQUIRED' | translate }}
                    </ng-container>

                    <ng-template #tickerMinLengthErrorTemplate>
                        <ng-container *ngIf="form.controls.ticker.errors['minlength'] as err; else tickerMaxLengthErrorTemplate">
                            {{ 'ERRORS.MIN_LENGTH' | translate : { requiredLength: err.requiredLength } }}
                        </ng-container>
                    </ng-template>

                    <ng-template #tickerMaxLengthErrorTemplate>
                        <ng-container *ngIf="form.controls.ticker.errors['maxlength'] as err; else tickerPatternErrorTemplate">
                            {{ 'ERRORS.MAX_LENGTH' | translate : { requiredLength: err.requiredLength } }}
                        </ng-container>
                    </ng-template>

                    <ng-template #tickerPatternErrorTemplate>
                        <ng-container *ngIf="form.controls.ticker.errors['pattern']">
                            {{ 'ERRORS.INVALID_TICKER_PATTERN' | translate }}
                        </ng-container>
                    </ng-template>
                </div>
            </fieldset>

            <fieldset class="form__field">
                <label for="full_name">
                    {{ 'CREATE_NEW_ASSETS.FORM.LABELS.LABEL2' | translate }}
                    <!--<span class="color-red">*</span>-->
                </label>

                <input
                    (contextmenu)="variablesService.onContextMenu($event)"
                    [placeholder]="'CREATE_NEW_ASSETS.FORM.PLACEHOLDERS.PLACEHOLDER1' | translate"
                    aria-describedby="full_name_error"
                    class="form__field--input"
                    formControlName="full_name"
                    id="full_name"
                    type="text"
                />

                <div *ngIf="form.controls.full_name | isVisibleControlError" aria-live="assertive" class="error" id="full_name_error">
                    <ng-container *ngIf="form.controls.full_name.errors['required']; else fullNameMinLengthErrorTemplate">
                        {{ 'ERRORS.REQUIRED' | translate }}
                    </ng-container>

                    <ng-template #fullNameMinLengthErrorTemplate>
                        <ng-container *ngIf="form.controls.full_name.errors['minlength'] as err; else fullNameMaxLengthErrorTemplate">
                            {{ 'ERRORS.MIN_LENGTH' | translate : { requiredLength: err.requiredLength } }}
                        </ng-container>
                    </ng-template>

                    <ng-template #fullNameMaxLengthErrorTemplate>
                        <ng-container *ngIf="form.controls.full_name.errors['maxLength'] as err; else fullNamePatternErrorTemplate">
                            {{ 'ERRORS.MAX_LENGTH' | translate : { requiredLength: err.requiredLength } }}
                        </ng-container>
                    </ng-template>

                    <ng-template #fullNamePatternErrorTemplate>
                        <ng-container *ngIf="form.controls.full_name.errors['pattern']">
                            {{ 'ERRORS.INVALID_FULL_NAME_ASSET_PATTERN' | translate }}
                        </ng-container>
                    </ng-template>
                </div>
            </fieldset>
        </div>

        <!-- total_max_supply -->
        <div class="form__field--row">
            <fieldset class="form__field">
                <label for="total_max_supply">
                    {{ 'CREATE_NEW_ASSETS.FORM.LABELS.LABEL3' | translate }}
                    <span class="color-red">*</span>
                </label>
                <input
                    (contextmenu)="variablesService.onContextMenu($event)"
                    [decimalPoint]="+form.controls.decimal_point.value"
                    [placeholder]="'1000000000' | translate"
                    appInputValidate="money"
                    aria-describedby="total_max_supply_error1 total_max_supply_error2"
                    class="form__field--input"
                    formControlName="total_max_supply"
                    id="total_max_supply"
                    type="text"
                />
                <div
                    *ngIf="form.controls.total_max_supply | isVisibleControlError"
                    aria-live="assertive"
                    class="error"
                    id="total_max_supply_error1"
                >
                    <ng-container *ngIf="form.controls.total_max_supply.errors['required']">
                        {{ 'ERRORS.REQUIRED' | translate }}
                    </ng-container>
                </div>

                <div
                    *ngIf="form.hasError('greater_than_max') && (form.dirty || form.touched)"
                    aria-live="assertive"
                    class="error"
                    id="total_max_supply_error2"
                >
                    {{ 'ERRORS.TO_BIG_TOTAL_SUPPLY' | translate }}
                    {{ 'ERRORS.MAX' | translate : { max: form.errors['greater_than_max'].max } }}
                </div>
            </fieldset>

            <!-- current_supply -->
            <fieldset class="form__field">
                <label for="current_supply">
                    {{ 'CREATE_NEW_ASSETS.FORM.LABELS.LABEL4' | translate }}
                    <span class="color-red">*</span>
                </label>
                <input
                    (contextmenu)="variablesService.onContextMenu($event)"
                    [decimalPoint]="+form.controls.decimal_point.value"
                    [placeholder]="'1000000000'"
                    appInputValidate="money"
                    aria-describedby="current_supply_error1 current_supply_error2"
                    class="form__field--input"
                    formControlName="current_supply"
                    id="current_supply"
                    type="text"
                />
                <div
                    *ngIf="form.controls.current_supply | isVisibleControlError"
                    aria-live="assertive"
                    class="error"
                    id="current_supply_error1"
                >
                    <ng-container *ngIf="form.controls.current_supply.errors['required']">
                        {{ 'ERRORS.REQUIRED' | translate }}
                    </ng-container>
                </div>
                <div
                    *ngIf="form.hasError('current_supply') && (form.dirty || form.touched)"
                    aria-live="assertive"
                    class="error"
                    id="current_supply_error2"
                >
                    {{ form.errors['current_supply'] | translate }}
                </div>
            </fieldset>
        </div>

        <!-- decimal_point -->
        <fieldset class="form__field">
            <label for="decimal_point">
                {{ 'CREATE_NEW_ASSETS.FORM.LABELS.LABEL5' | translate }}
                <span class="color-red">*</span>
            </label>
            <input
                (contextmenu)="variablesService.onContextMenu($event)"
                [placeholder]="'12' | translate"
                appInputValidate="integer"
                aria-describedby="decimal_point_error"
                class="form__field--input"
                formControlName="decimal_point"
                id="decimal_point"
                type="text"
            />
            <div *ngIf="form.controls.decimal_point | isVisibleControlError" aria-live="assertive" class="error" id="decimal_point_error">
                <ng-container *ngIf="form.controls.decimal_point.errors['required']; else decimalPointMinErrorTemplate">
                    {{ 'ERRORS.REQUIRED' | translate }}
                </ng-container>

                <ng-template #decimalPointMinErrorTemplate>
                    <ng-container *ngIf="form.controls.decimal_point.errors['min'] as error; else decimalPointMaxErrorTemplate">
                        {{ 'ERRORS.MIN' | translate : { min: error.min } }}
                    </ng-container>
                </ng-template>

                <ng-template #decimalPointMaxErrorTemplate>
                    <ng-container *ngIf="form.controls.decimal_point.errors['max'] as error">
                        {{ 'ERRORS.MAX' | translate : { max: error.max } }}
                    </ng-container>
                </ng-template>
            </div>
        </fieldset>

        <!-- meta_info -->
        <fieldset class="form__field textarea">
            <label for="meta_info">
                {{ 'CREATE_NEW_ASSETS.FORM.LABELS.LABEL6' | translate }}
            </label>
            <textarea
                [placeholder]="'CREATE_NEW_ASSETS.FORM.PLACEHOLDERS.PLACEHOLDER2' | translate"
                aria-describedby="meta_info_error"
                formControlName="meta_info"
                [maxlength]="MAX_COMMENT_LENGTH"
                id="meta_info"
            ></textarea>

            <div *ngIf="form.controls.meta_info | isVisibleControlError" aria-live="assertive" class="error" id="meta_info_error">
                <ng-container *ngIf="form.controls.meta_info.errors['maxlength'] as err">
                    {{ 'ERRORS.MAX_LENGTH' | translate : { requiredLength: err.requiredLength } }}
                </ng-container>
            </div>
        </fieldset>

        <button [disabled]="disabledCreate" class="primary big max-w-19-rem w-100" type="submit">
            {{ 'CREATE_NEW_ASSETS.FORM.BUTTONS.BUTTON1' | translate }}
        </button>
    </form>
</div>

<ng-template #skeletonTemplate>
    <div class="skeleton-form">
        <div class="skeleton skeleton-form-label-1 mb-2"></div>
        <div class="skeleton skeleton-form-field mb-2"></div>

        <div class="skeleton skeleton-form-label-1 mb-2"></div>
        <div class="skeleton skeleton-form-field mb-2"></div>

        <div class="skeleton skeleton-form-label-1 mb-2"></div>
        <div class="skeleton skeleton-form-field mb-2"></div>

        <div class="skeleton skeleton-form-label-2 mb-2"></div>
        <div class="skeleton skeleton-form-field-description mb-2"></div>

        <div class="skeleton skeleton-form-button"></div>
    </div>
</ng-template>
