<div class="auth" fxFlexFill fxLayout="row" fxLayoutAlign="center center">
    <div class="auth-card">
        <div class="logo mb-3" fxLayout="row" fxLayoutAlign="center center">
            <img [src]="zanoLogo" alt="zano-logo" />
        </div>

        <form (ngSubmit)="onSubmitCreatePass()" *ngIf="type === 'reg'" [formGroup]="regForm" class="form">
            <div class="auth-card-form">
                <div class="form__field mb-2">
                    <label for="master-pass">{{ 'LOGIN.SETUP_MASTER_PASS' | translate }}</label>
                    <input
                        (contextmenu)="variablesService.onContextMenuPasteSelect($event)"
                        appAutofocus
                        class="form__field--input"
                        formControlName="password"
                        id="master-pass"
                        placeholder="{{ 'PLACEHOLDERS.MASTER_PASS_PLACEHOLDER' | translate }}"
                        type="password"
                    />
                    <div *ngIf="regForm.controls['password'].dirty && regForm.controls['password'].errors" class="error">
                        <div *ngIf="regForm.controls['password'].errors.pattern">
                            {{ 'ERRORS.REGEXP_INVALID_PASSWORD' | translate }}
                        </div>
                    </div>
                </div>

                <div class="form__field fixed">
                    <label for="confirm-pass">{{ 'LOGIN.SETUP_CONFIRM_PASS' | translate }}</label>
                    <input
                        (contextmenu)="variablesService.onContextMenuPasteSelect($event)"
                        class="form__field--input"
                        formControlName="confirmation"
                        id="confirm-pass"
                        placeholder="{{ 'PLACEHOLDERS.PLACEHOLDER_CONFIRM' | translate }}"
                        type="password"
                    />
                    <div
                        *ngIf="regForm.controls['password'].dirty && regForm.controls['confirmation'].dirty && regForm.errors"
                        class="error"
                    >
                        <div *ngIf="regForm.errors['mismatch']">
                            {{ 'LOGIN.FORM_ERRORS.MISMATCH' | translate }}
                        </div>
                    </div>
                </div>
            </div>

            <button
                [disabled]="
                    !regForm.controls['password'].value.length ||
                    !regForm.controls['confirmation'].value.length ||
                    (regForm.errors && regForm.errors['mismatch']) ||
                    regForm.controls['password'].errors
                "
                class="primary big w-100 mb-1"
                type="submit"
            >
                {{ 'LOGIN.BUTTON_NEXT' | translate }}
            </button>

            <button
                (click)="onSkipCreatePass()"
                [disabled]="regForm.controls['password'].value.length || regForm.controls['confirmation'].value.length"
                class="primary big w-100"
                type="button"
            >
                {{ 'LOGIN.BUTTON_SKIP' | translate }}
            </button>
        </form>

        <form (ngSubmit)="onSubmitAuthPass()" *ngIf="type !== 'reg'" [formGroup]="authForm" class="form">
            <div class="auth-card-form">
                <div class="form__field fixed">
                    <label for="master-pass-login">{{ 'LOGIN.MASTER_PASS' | translate }}</label>
                    <input
                        (contextmenu)="variablesService.onContextMenuPasteSelect($event)"
                        [placeholder]="'PLACEHOLDERS.MASTER_PASS_PLACEHOLDER' | translate"
                        appAutofocus
                        autofocus
                        class="form__field--input"
                        formControlName="password"
                        id="master-pass-login"
                        type="password"
                    />
                    <div
                        *ngIf="
                            authForm.controls['password'].invalid &&
                            (authForm.controls['password'].dirty || authForm.controls['password'].touched)
                        "
                        class="error"
                    >
                        <div *ngIf="authForm.controls['password'].hasError('wrong_password')">
                            {{ 'LOGIN.FORM_ERRORS.INVALID_PASS' | translate }}
                        </div>
                    </div>
                </div>
            </div>

            <button class="primary big w-100 mb-1" type="submit">
                {{ 'LOGIN.BUTTON_NEXT' | translate }}
                <span *ngIf="submitLoading$ | async" [ngTemplateOutlet]="loaderTemp" class="ml-1"></span>
            </button>

            <button (click)="dropSecureAppData()" class="outline big w-100" type="button">
                {{ 'LOGIN.BUTTON_RESET' | translate }}
                <span *ngIf="resetLoading$ | async" [ngTemplateOutlet]="loaderTemp" class="ml-1"></span>
            </button>
        </form>
    </div>

    <app-synchronization-status></app-synchronization-status>
</div>

<ng-template #loaderTemp>
    <zano-loader></zano-loader>
</ng-template>
