.auth {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

app-synchronization-status {
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: 19rem;
}

.auth-card {
    max-width: 42rem;
    width: 100%;
    padding: 2rem;
    border-radius: 0.8rem;
    background-color: var(--auth-card-background);
}

.auth-card-form {
    padding: 2rem 2rem 1rem;
    margin-bottom: 2rem;
    border-radius: 0.8rem;
    overflow: hidden;
    background-color: var(--auth-card-form-background);
    border: var(--auth-card-form-border);
}
